.cmsbuilder-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.cmsbuilder-header {
    width: 100%;
    height: 40px;
}

.cmsbuilder-body {
    width: 100%;
    height: calc(100vh - 40px);
    overflow: hidden;
    display: flex;
    background-color: #E6E6E6;
}

.cmsbuilder-left-content {
    width: 0px;
    height: 100%;
    background-color: #3A3A3A;
    position: relative;
    transition: .2s;
}

.cmsbuilder-left-content.active {
    width: 250px;
}

.cmsbuilder-tabs {
    height: 100%;
    width: 100%;
}

.cmsbuilder-left-content-header,
.cmsbuilder-tabs-header {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #3A3A3A;
}

.cmsbuilder-tabs-header ul,
.cmsbuilder-side-nav {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.cmsbuilder-tabs-header ul li,
.cmsbuilder-side-nav li {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    overflow: hidden;
    padding: 0;
    max-width: 40px;
    cursor: pointer;
    transition: .3s;
    background-color: #2C2C2C;
}

.cmsbuilder-tabs-header ul li.active,
.cmsbuilder-side-nav li.active {
    max-width: 300px;
    flex: 1;
    background-color: #3A3A3A;
    font-weight: bold;
}

.cmsbuilder-tabs-header ul li span,
.cmsbuilder-side-nav li span {
    display: block;
    flex: none;
}

.cmsbuilder-tabs-header ul li span:first-child,
.cmsbuilder-side-nav li span:first-child {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

.cmsbuilder-tabs-body {
    height: calc(100% - 90px);
    width: 100%;
    overflow: auto;
}

.cmsbuilder-tabs-footer{
    width: 100%;
    height: 50px;
    border-top: 1px solid #212121;
    padding: 10px;
}

.cmsbuilder-tab-section {
    width: 100%;
    height: 100%;
    display: none;
}

.cmsbuilder-tab-section.active {
    display: block;
}

.cmsbuilder-right-content {
    width: 0px;
    height: 100%;
    background-color: #3A3A3A;
    position: relative;
    transition: .2s;
    color: white;
}

.cmsbuilder-right-content.active {
    width: 300px;
}

.btn-toggle-cmsbuilder-sidepanel {
    position: absolute;
    top: 100px;
    border: none;
    width: 25px;
    z-index: 999;
    background-color: #3A3A3A;
    color: white;
    line-height: 20px;
    font-size: 14px;
}

.btn-toggle-cmsbuilder-sidepanel[data-target="left"] {
    text-align: left;
    right: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
}

.btn-toggle-cmsbuilder-sidepanel[data-target="right"] {
    border-radius: 25px 0px 0px 25px;
    text-align: right;
    padding: 5px 5px 5px 0px;
    left: -25px;
}

.btn-toggle-cmsbuilder-sidepanel span{
    writing-mode: vertical-rl;
    padding-top: 10px;
}

.cmsbuilder-side-content.active .btn-toggle-cmsbuilder-sidepanel i {
    transform: rotate(180deg);
}

.title-collapsed.collapsed i {
    transform: rotate(-90deg);
}


.cmsbuilder-side-content.active .btn-toggle-cmsbuilder-sidepanel[data-target="left"]{
    border-radius: 0px 25px 25px 0px;
    padding: 5px 0px 5px 5px;
    align-items: flex-start;
}

.cmsbuilder-side-content.active .btn-toggle-cmsbuilder-sidepanel[data-target="left"] span{
    display: none;
}


.cmsbuilder-center-content {
    flex: 1;
    height: calc(100% - 20px);
    overflow: auto;
    position: relative;
    padding: 40px;
    background-color: #E6E6E6;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cmsbuilder-content-md {
    background-color: white;
    position: relative;
    overflow: visible;
    overflow-x: clip;
    width: 100%;
    height: 100%;
}

/*#mainNav {
    position: absolute !important;
}*/

.cmsbuilder-block-section-label {
    padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.cmsbuilder-block-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.cmsbuilder-block-list-item {
    height: 100px;
    background-color: #313131;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    cursor: grabbing;
    white-space: nowrap;
    min-width: 100px;
}

.cmsbuilder-block-list-item img {
    width: 60px;
    height: 60px;
}

/* begin:cmsbuilder-block-action */
.block-actions-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #1890FF;
    pointer-events: none;
    background-color: rgb(24, 144, 255, .15);
    display: block;
    z-index: 9999;
}

.cmsbuilder-block-action {
    align-items: center;
    background-color: #93C020;
    height: 30px;
    width: fit-content;
    z-index: 9999;
    pointer-events: all !important;
}

.cmsbuilder-block-action-label {
    font-size: 16px;
    font-weight: bold;
    padding: 0px 10px;
    height: 100%;
    line-height: 30px;
    border-right: 1px solid #B1B1B1;
    color: white;
}

.cmsbuilder-block-action-list {
    height: 100%;
    line-height: 30px;
    display: flex;
}

.cmsbuilder-block-action-list ul {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #93C020;
}

.cmsbuilder-block-action-list ul:nth-child(odd) {
    background-color: #85A72E;
}

.cmsbuilder-block-action-list ul li {
    list-style: none;
    display: flex;
    border-right: 1px solid #B1B1B1;
    cursor: pointer;
    overflow: hidden;
    max-width: 35px;
    transition: .4s;
    color: white;
}

.block-actions-wrapper .cmsbuilder-block-action-list li[data-action="deselect"] {
    display: none !important;
}

.block-actions-wrapper.selected .cmsbuilder-block-action-list li[data-action="deselect"] {
    display: flex !important;
}

.cmsbuilder-block-action-list ul li span {
    flex: none;
}

.cmsbuilder-block-action-list ul li span:first-child {
    width: 35px;
    text-align: center;
}

.cmsbuilder-block-action-list ul li span:last-child {
    font-size: 14px;
    white-space: nowrap;
    padding-right: 10px;
}

.cmsbuilder-block-action-list ul li:hover {
    max-width: 250px;
}

.custom-block-cms .cmsbuilder-block-action {
    position: absolute;
    bottom: -30px;
    left: 0;
    z-index: 9999999;
    background-color: #1890FF;
    display: flex;
}

.custom-block-cms .cmsbuilder-block-action-list ul {
    background-color: #1890FF;
}

.custom-block-cms .cmsbuilder-block-action-list ul:nth-child(odd) {
    background-color: #3C96E9;
}

.cmsbuilder-block-action-pin {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999999;
    cursor: pointer;
    display: none;
}

.cmsbuilder-block-action-pin::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 0 0 35px;
    border-color: transparent transparent transparent #1890FF;
}

.cmsbuilder-block-action-pin.active {
    display: block;
}

.cmsbuilder-block-action-pin i {
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: white;
}

/* end:cmsbuilder-block-action */

.cmsbuilder-header .screen-size-nav {
    transform: translateX(-75px);
}

.cmsbuilder-header-left {
    min-width: 400px;
}

.cmsbuilder-toolbar {
    color: white;
}

.cmsbuilder-toolbar .cmsbuilder-toolbar-item {
    display: inline-block;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: relative;
}

.cmsbuilder-toolbar .cmsbuilder-toolbar-item span:first-child {
    font-size: 20px;
    padding-right: 2px;
}

.cmsbuilder-toolbar .cmsbuilder-toolbar-item span:nth-child(2):not(.tooltips-menu-btn) {
    display: inline-block;
    font-size: 14px;
    padding-left: 4px !important;
    transition: .2s;
}

.cmsbuilder-toolbar .cmsbuilder-toolbar-item:hover>span:nth-child(2):not(.tooltips-menu-btn) {
    transform: translateY(4px);
}

.cmsbuilder-toolbar-dropdown {
    position: absolute;
    background-color: #333;
    top: 48px;
    left: 0;
    z-index: 999999;
    display: none;
    box-shadow: 1px 1px 25px -5px rgba(0, 0, 0, 0.5);
}

.cmsbuilder-toolbar-dropdown.dropdown-active {
    display: block;
}

.cmsbuilder-toolbar-dropdown::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #333 transparent;
    position: absolute;
    top: -6px;
    left: 34px;
}

.cmsbuilder-toolbar-dropdown li {
    list-style: none;
    white-space: nowrap;
    text-align: left;
    font-size: 16px;
    width: 100%;
    padding: 5px 15px !important;
}

.cmsbuilder-toolbar-dropdown li:hover {
    background-color: #3A3A3A;
}
.cmsbuilder-toolbar.editModeUserSwitcher{
    height: 40px;
    transform: translateX(-75px);
}
.cmsbuilder-toolbar.editModeUserSwitcher .cmsbuilder-toolbar-item{
    width: 55px;
    background-color: #f4a502;
    color: white;
}
.cmsbuilder-toolbar.editModeUserSwitcher .cmsbuilder-toolbar-item .activeModeConnected{
    text-align: right;
    line-height: 40px;
    width: 65%;
    float: left;
}
.cmsbuilder-toolbar.editModeUserSwitcher .cmsbuilder-toolbar-item .activeModeConnected i:first-child {
    color: #2b2b2b;
    font-size: 30px;
}
.cmsbuilder-toolbar.editModeUserSwitcher .cmsbuilder-toolbar-item .activeModeConnected i:last-child {
    color: #e4d9d9;
    position: absolute;
    bottom: 2px;
    font-size: 20px;
    left: 10px;
    transition: 0.2s;
}
.cmsbuilder-toolbar.editModeUserSwitcher .cmsbuilder-toolbar-item .arrow-down{
    left: 0px;
    float: right;
    padding-left: 0px !important;
    width: 30%;
    color: #2b2b2b;
}
.cmsbuilder-toolbar.editModeUserSwitcher .cmsbuilder-toolbar-item .arrow-down > i{   
    vertical-align: sub;
}
.block-droppable-highlight {
    height: 20px;
    background-color: #F5F5F5;
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.block-droppable-highlight span {
    display: none;
}

.block-droppable-highlight span:first-child,
.block-cms-wrapper-highlight span:first-child {
    font-size: 25px;
}

.block-droppable-highlight.draghover {
    height: 100px;
    background-color: rgb(24, 144, 255, .7);
}

.block-droppable-highlight.draghover span {
    display: block;
}

.block-cms-section-highlight {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(24, 144, 255, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#ajax-modal.portfolio-modal.modal {
    top: 40px !important;
    z-index: 99999999;
}

.block-cms-dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 144, 255, .8);
    opacity: 0;
    transition: .2s;
 }

.block-cms-dropzone img {
    height: 80%;
    max-height: 90px;
    opacity: 0;
}

.block-cms-dropzone.dragover {
    opacity: 1;
}

.block-cms-dropzone.dragover img {
    opacity: 1;
}

.block-cms-dropzone-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 88888;
}

.block-cms-dropzone-page {
    width: 100%;
    height: 60px;
    position: relative;
    opacity: 0.5;
}

.block-cms-dropzone-page.dragover {
    height: 60px;
}

.cmsbuilder-block-droppable.dragstart {
    padding: 20px !important;
    border: 1px dotted #1890FF !important;
}

.page-layer-item-children {
    margin: 0;
    padding: 0;
}

.page-layer-item-children ul:not(:first-child) {
    padding-left: 10px;
}

.page-layer-item-children li {
    list-style: none;
}

.page-layer-item {
    background-color: rgba(255, 255, 255, .1);
}

.page-layer-item-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    border-bottom: 1px solid #9e9e9e;
}

.page-layer-item-btn.selected {
    background-color: #1890FF;
    font-weight: bold;
}

.page-layer-item-btn div span {
    margin-right: 10px;
}

.page-layer-item-children:not(:first-child) {
    display: none;
}

.page-layer-item.active>.page-layer-item-children {
    display: block;
}

.page-layer-item.active>.page-layer-item-btn .fa-caret-down {
    transform: rotate(180deg);
}

/* BEGIN: device */
.device-mockup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}
.device-status-bar {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 0px 20px;
}
.device-search-bar {
    width: calc(100% - 20px);
    height: 35px;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    margin: 0px 10px;
}
.devise-search-bar-url span:last-child{
    text-transform: capitalize;
    margin-left: 5px;
}
/* END: device */

/* BEGIN: device xs */
#cmsbuilder-content-xs {
    width: 423px;
    height: 858px;
    position: relative;
    transform: scale(0.8158508158508159);
}
#cmsbuilder-content-xs .device-screen {
    width: 380px;
    height: 822px;
    position: relative;
    left: 22px;
    top: 18px;
    border-radius: 45px;
}
#cmsbuilder-content-xs .device-page {
    width: 100%;
    height: 747px;
    position: relative;
}
#cmsbuilder-content-xs iframe {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    border-radius: 0px 0px 45px 45px;
}
/* END: device xs */

/* BEGIN: device sm */
#cmsbuilder-content-sm {
    width: 651px;
    height: 902px;
    position: relative;
    transform: scale(0.9);
}
#cmsbuilder-content-sm .device-screen {
    width: 578px;
    height: 827px;
    position: relative;
    left: 37px;
    top: 36px;
    border-radius: 10px;
}
#cmsbuilder-content-sm .device-page {
    width: 100%;
    height: 752px;
    position: relative;
}
#cmsbuilder-content-sm iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-top: 10px;
}
/* END: device sm */

.overflow-hidden {
    overflow: hidden !important;
}


#subMenu, #filters-nav, #mapContent,#menuBottom,#mapContentMap, .progressTop {
    position: absolute !important;
}
.progressTop{
    z-index: 140000;
}
#menuLeft {
    position: absolute !important;
    padding-top: 300px !important;
    top: 50px !important;
}
.menu-xs-container {
    position:absolute;
    z-index: 100000;
    top: 100%;
    height: calc(70vh);
}


#inputHeight{
    width: 150px;
    background: #40404000 ;
    color: white;
}


.custom-number-input{
    background: #40404000 ;
    color: white;
}

#border-width{
    background: #40404000 ;
    color: white;
}


.border-width{
    background: #40404000 ;
    color: white;
}

.border-control{
    background: #40404000 ;
    color: white;
}

.margin-control{
    background: #40404000 ;
    color: white;
}


.padding-control{
    background: #40404000 ;
    color: white;
}

#hoverBorderType{
    width: 150px;
    background: #40404000 ;
    color: white;
}

.hover-border-width{
    background: #40404000 ;
    color: white;
}

.hover-border-control{
    background: #40404000 ;
    color: white;
}

.hover-margin-control{
    background: #40404000 ;
    color: white;
}


.hover-padding-control{
    background: #40404000 ;
    color: white;
}

#bgSize{
    width: 150px;
    background: #40404000;
    color: white;
}

#bgPosition{
    width: 150px;
    background: #40404000;
    color: white;
}

#bgRepeat{
    width: 150px;
    background: #40404000 ;
    color: white;
}

.option-custom{
    background: #4d4e4e;
}

#modal-preview-coop,.menuRight {
    position: absolute !important;
}
#modal-preview-coop{
    height: 600px;
}
.xdsoft_datetimepicker,.select2-drop-multi,.sp-palette-buttons-disabled,body .bootbox.modal{
    z-index: 300000000 !important;
}

.units-button{
    border: none;
    background-color: #3a3a3a00;
    font-family: Arial;
}

.dark input {
    background: #3a3a3a00  ;
    color : white;
}

.dark textarea {
    background: #3a3a3a00  ;
    color : white ;
}

.dark .co-input-multiple-form label {
    color: white !important;
}


.dark .dark-shadow {
    background: #3a3a3a00 !important  ;
    color : white !important ;
}

.dark select {
    background: #3a3a3a00 !important  ;
    color : white !important ;
}

.dark option {
    background: #4d4e4e;
}
.dark .panel-collapse .panel-body {
    background: #3a3a3a00 !important  ;
    color : white !important ;
}

.dark .panel-collapse .panel-body .wrapper-shadow .slider-form input{
    background: #3a3a3a00 !important  ;
    color : white !important ;
}


textarea[name="otherCss"] {
    color: #00ff75
}

textarea[name="otherClass"] {
    color: #ffa200
}

.dark .input-section .panel {
    background-color: #3a3a3a00 !important  ;
} 


.dark input[name="size"]{
    background: #3a3a3a00 !important  ;
    color : white !important ;
}

.dark button{
    color: white ;
    background: #3a3a3a00;
}
.empty-section-block{
    min-height: 5vh;
    width: 100%;
    height: 20vh;
    top: 50%;
    margin: 2px 0 0;
    font-size: 35px;
    color: slategrey;
    text-align: center;
}