.pagContent{
	color: white;
}
.main-title{
	color: white;
	background-color: black;
	margin-top: 30px;
	text-align: center;
}
body, .main-container, .modal-content, #repertory , #search-content, #content-admin-panel, #div-admin-select-create > div.bg-white{
	background-color: black !important;
}
body, div, p, h1, h2, h3, h4, span{
	color: white;
}
#modal-preview-coop{
	background-color: black;
    -moz-box-shadow: -2px -2px 3px 0px rgba(250,250,250,0.5);
    -webkit-box-shadow: -2px -2px 3px 0px rgba(250,250,250,0.5);
    box-shadow: -2px -2px 3px 0px rgba(250,250,250,0.5);
}
#menuApp.menuLeft-chtitube{
	border-right: 1px solid white; 
	background-color: black !important;
	width:25%;
}
.menuLeft-chtitube a{
	border-bottom: 1px solid white; 
	padding: 10px;
	color: white;
}
.menuLeft-chtitube a:first-child{
	border-top: 1px solid white;
}
.menuLeft-chtitube a.active{
	background-color: #fbde0c;
	color:black !important;
}

#menuApp.menuLeft-chtitube a:hover{
	color:#fbde0c;
}
#modalLogin, #modalRegister{
	padding-left: 0px !important;
}
#ajax-modal .form-group.amendementActivatedcheckboxSimple, #ajax-modal .form-group.amendementAndVotecheckboxSimple, 
#ajax-modal .form-group.amendementDateEnddatetime, 
#ajax-modal .form-group.voteActivatedcheckbox, 
#ajax-modal .form-group.voteDateEnddatetime, 
#ajax-modal .form-group.voteAnonymouscheckboxSimple, 
#ajax-modal .form-group.voteCanChangecheckboxSimple, 
#ajax-modal .form-group.multiChoicecheckboxSimple, 
#ajax-modal .form-group.hasVehiclecheckboxSimple, 
#ajax-modal .form-group.driverLicensecheckboxSimple {
 background-color: black;
}
@media (max-width: 742px){
	#menuApp.menuLeft-chtitube{
		width: 100% !important;
    	height: initial !important;
    	bottom: inherit;
	}
	#menuApp.menuLeft-chtitube a{
		text-align: center;

	}
	#menuApp.menuLeft-chtitube a.btn-menu-xs{
		display:none;
	}
	#search-content, #mapContent, #ajax-modal{
		top: 42px !important;
	}
	#mapContent, #modalAddSuccess{
		left: 0px !important;
	}
	.main-container{
		padding-top:42px !important;
	}
	
	
}
.xdsoft_datetimepicker * {
    color: #717171;
}
#selectedDays .btn-select-day.active{
    background-color: #fbde0c;
}
#situate-day, .dayEvent {
    background: #f8de0f !important;
}
.dayEvent h2, .dayEvent h2 .date-label{
	color: black !important;
}
.events .searchEntity .entityRight .entityName{
	color: #f8de0f !important;
}
.events .searchEntity .entityRight h5{
	color: white !important;
}
.events .searchEntity .btn-share{
	display: none;
}
@media (max-width: 991px){
	#menuApp.menuLeft-chtitube{
		position: fixed;
	    background-color: black;
	    z-index: 1;
	    width: 20%;
	}

}
#modalInvite .link-to-community{
	display: none;
}
#ajax-modal-modal-body .bg-white{
	background-color: transparent !important;
}
#ajax-modal-modal-body .btn-dyn-checkbox.bg-green-k{
background-color: #34a853 !important
};

#ajax-modal-modal-body .btn-dyn-checkbox.bg-white{
	background-color: white !important;
};
#ajax-modal-modal-body .btn-dyn-checkbox.bg-red{
	background-color: #ea4335 !important;
}
.qq-gallery .qq-file-info{
	background-color: black;
}
.select2-container-multi .select2-choices .select2-search-choice {
    background-color: #fbde0c !important;
}
.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match{
	color: red;
}
select, .select2-search-choice-close:before, .select2-container-multi .select2-choices .select2-search-choice div, input, .select2-results .select2-result-label{
	color: black;
}
#ajax-modal .modal-header{
	background-color: #fbde0c !important;
}

#ajax-modal .modal-header h3{
	color: black !important;
}
/* background-image: url('https://media.giphy.com/media/bN5wu55IbKWQ/giphy.gif'*/
.form-register{
background-color: black;
padding-left: 0px !important;
}
.portfolio-modal .close-modal .lr .rl, .portfolio-modal .close-modal .lr{
background-color: white;
}
.portfolio-modal .close-modal:hover .lr .rl, .portfolio-modal .close-modal:hover .lr{
background-color: white;
width: 2px;   
}
.form-register label{
color: white;
}
.btn-register{
padding: 10px 30px;
color: white;
font-size: 22px;
background: black;
color: #fbde0c;
text-decoration: underline;
border: none;
}
.qq-dialog-message-selector, .qq-gallery.qq-uploader .qq-dialog-buttons{
	color: black;
}
.btn-register:hover,.btn-register:active{
color: #fbde0c;
}
#affix-sub-menu{
display:none;
}
.tags-content .badge.tags-poi-preview{
	background-color: #fbde0c;
	color: black;
}
.auhtor-poi .lbh, #poi h2{
	color: #fbde0c !important;
}

.container-preview .blockFontPreview{
	color: #fbde0c;
}
.container-preview .event-infos-header .hours-recurrency-show > li{
	color: white;
}
.co3BtnShare{
cursor: pointer;
}
.text-yellow{
	color : #fbde0c !important;
}

.bg-yellow{
	background-color : #fbde0c !important;
}
.loginLogo img{
	border: 0px !important;
}
#urlWebAbout{
	color:#fbde0c !important;
}
#bg-homepage{
	width: 100%;
}
#panelAdmin .directoryLines > tr:nth-of-type(odd), #content-admin-panel tr{
	background-color: #333 !important;
}
#panelAdmin .directoryLines > tr:hover{
	background-color: #656565;
}
#panelAdmin .directoryLines > tr td a{
	color: white !important;
}
#modal-crop-banner{
	background-color: rgba(0, 0, 0, 0.8);
}
#modalLogin, #modalRegister, #modalForgot{
	background-color: black;
}
.marker-cluster div, .leaflet-popup-content span, .leaflet-popup-content div{
	color: black;
}