    @font-face{
    font-family: "futura";
    src: url(src: url("../font/smarterritoireautre/futur2.ttf") format("ttf"));
}

 #donation-btn{
    display: none;
 }

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
}

.hexagon1 {
    width: 468px;
    height: 250px;
    margin: 0 0 0 -80px;
}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

.img-hexa{
    margin-top: -25%;
}

.info-card{
    border-radius: 15px;
    background: #95c235;
    padding: 3%;
    font-size: 25px;
    color : white;
    box-shadow: 4px 3px 7px 3px #dadada;
    margin-left: 13%;
    margin-right: 13%;
}

#second-search-bar{
    padding: 10px;
    font-size: 14px;
    height: 40px;
    font-weight: 200;
    border-radius: none !important;
    width: 90%;
    float: left;
    background-color: transparent;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5);
    box-shadow: none !important;
    border: none !important;
}
.explication{
    margin-top:3%;
    margin-left: 10%;  
    margin-right: 10%;
}
.explication-title{
    text-align : center;
    color : white
}
.explication-img {
    text-align: center;
}
.bouton{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
.modal-header{
    background-color: #94c138;
    color: white;
}
.center{
    margin-left : 10%;
    margin-right: 10%;
}
.img-expli{
    width: 60%;
}

.imgHaut{
    width: 43vw;
    position: absolute;
    margin-left:27vw;
}

.nameFil{
    font-size:10px;
    fill:#9ac21e
}

.hexaName{
    width: 42vw;
}

.imgSlide{
    width:16vw;
}

.dataSlide{
    color:white;
    margin-top:2vw;
    font-size: 26px;
}

@media (max-width:768px){
    #hexa-haut{
        margin-top:33vw !important; 
        margin-left: 52vw !important;
        width: 16vw !important;
    }
    .search{
        margin-left: -12vw;
    }
    .img-hexa{
        margin-top: -20vw;
    }
    .explication{
        margin-left: 0%;
        margin-right:0%;
    }

    .info-card{
        margin-left: -1%;
        margin-right: 17%;
    }

    .explication-title > h1{
        font-size : 3rem;
    }
    .explication-img > h1 {
        font-size : 2.5rem;
    }
    .count{
        font-size: 9px !important;
        margin-top: -4vw;
    }

    .hexagon1{
        width: 498px !important;
    }
    
    #containEvent{
        margin-top: 22vw !important;
    }
    .imgHaut{
        width: 53vw;
        margin-left: 23vw;
        margin-top: -58vw;
    }

    .nameFil{
        font-size: 16px !important;
    }
    .hexaName{
        width: 49vw !important;
        margin-left: 6vw !important;
    }

    .imgSlide{
        width:18vw;
    }

    .dataSlide{
        margin-top: 0vw;
    }
}