
   @keyframes slideInFromRight {
	  0% {
	    transform: translateX(100%);
	  }
	  100% {
	    transform: translateX(0);
	  }
	}
	@keyframes slideInFromLeft {
	  0% {
	    transform: translateX(-100%);
	  }
	  100% {
	    transform: translateX(0);
	  }
	}

	body{
		background-color: white
	}

	header {  
	  /* This section calls the slideInFromLeft animation we defined above */
	  animation: 1s ease-out 0s 1 slideInFromLeft;
	}
	.transition-right{
		animation: 1s ease-out 0s 1 slideInFromRight;
	}
	.transition-left{
		animation: 1s ease-out 0s 1 slideInFromLeft;
	}
    


  	.li-content{
            line-height: 30px;
           
        }
    .li-inline{
    	display: inline;
    }
  	/*.text-yellow{
          color:#f4cc08;
    }*/
    .text-color{
    	color: #EA4335
    }
    /*.container{
          background-color: #121211
    }*/
    .container{
    	background-color: #eef;
    	
    }
    h2:after
    {
        content:' ';
        display:block;
        border:1px ridge #EA4335;
    }
    .row{
          overflow: hidden; 
        }
    [class*="col-"]{
            margin-bottom: -99999px;
            padding-bottom: 99999px;
    }
  	/* bootstrap 3 helpers */

	.navbar-form input, .form-inline input {
		width:auto;
	}



	header {
		height:100%;
		margin-bottom: 2px
	}

	#nav.affix {
	    position: fixed;
	    top: 0;
	    width: 100%;
	    z-index:10;
	}

	#sidebar.affix-top {
	    position: static;
	}

	#sidebar.affix {
	    position: fixed;
	    top: 80px;
	    margin-bottom:30px;
	}
	.bg-nav{
		background-color: black
	}
	.fit-image{
          width: 120px;
          object-fit: cover;
          height: 150px; /* only if you want fixed height */
    }

    #etat-civile,#apropos-moi, #form-dipl, #cpt-info, #langue, #centre-int, #divers,#stg-exp{
    	padding-top:30px;    }

	
	.footer{
		background-color: #D9534F;
		font-size: 10px;
		color: white;
		padding: 20px 0px;

	}
	.navbar-toggle{
		border-color: #D9534F
	}
	.nom{
		margin-top: 10%;margin-bottom: 10%;font-weight: bold;color: white
	}
	.container-profil{
		background-color: #D9534F
	}
	.dev-web{
		font-weight: bold;color: white
	}
	.img-profil{
		margin-top:10%;margin-bottom: 10%
	}
	.navbar{
		background-color: white;border:0px
	}
    