#menuTopCenter .lbh-menu-app{
	border-radius: 20px !important;
/*border: solid 1px #ccbdbd !important;*/
background-color: #951b81;
/*color: white !important;   déjà interprétée dans le json*/
height: 40px !important;
font-weight: 0 !important;

}


#menuTopCenter .lbh-menu-app:hover{
font-style: italic;
/*background-color: #a55a86;*/
/*box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5) !important;*/

border: 1px solid #333 !important;

}

#menuTopCenter .lbh-menu-app span{
padding-left: 5px;}

/*#show-bottom-add{
border: solid 2px;
}
*/
#show-bottom-add i{
font-size:45px;	
}

#show-bottom-add:hover{
color: white !important;
background-color: #951b81 !important;
	
}

#notificationPanelSearch{
top:60px ;
right:0 !important;

}

.dropdown-main-menu{
	right:18px !important;
}

/*.tooltips-menu-btn {
	
-webkit-transform: rotate(270deg);
-moz-transform: rotate(270deg);  
-o-transform: rotate(270deg);
writing-mode: tb-rl;
left:0!important;
right: -55px !important;
top: -117px !important;
bottom: 125px !important;

}*/

#menuBottom{
position: fixed;
left: unset;
bottom: 50px;
right: 20px;
}

#show-bottom-add{
	border:unset;
}

#ajax-modal.portfolio-modal.modal{
	z-index:100000 !important;
}