#indicators-container .stats-number{
        font-size: 40px;
        font-weight: 800;
    }
    #indicators-container .stats-label{
        font-size: 30px;
    }
    .content-video-home{
        /*padding: 5px 0px 0px 20px;*/
        background-color: black;
    }
    .container-video{
        background-color: black;
        /*max-height: 450px;*/
        overflow-y: hidden;
        /*border: 1px solid black;
        padding: 0px 5px !important;
        -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
        box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);*/
    }
    .section-home{
        float: left;
        
        margin-top: 20px;

    }
    .section-home-video{
        width: 100%;
    }
    .section-home .fa-caret-down{
        font-size: 56px;
        line-height: 10px;
    }
    #launchVideo{
        background-color: rgba(0,0,0,0.2);
        color: white;
            position: absolute;
    top: 0;
    
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    }
    #launchVideo:hover{
        background-color: rgba(0,0,0,0);
    }
    #launchVideo:hover i{
        font-size: 82px;
        text-shadow: 2px 2px 2px #444, -2px -2px 2px #444, 2px -2px 2px #444, -2px 2px 2px #444;
    }
    #launchVideo i{
        font-size: 80px;
        text-shadow: 2px 2px 0px #444, -2px -2px 0px #444, 2px -2px 0px #444, -2px 2px 0px #444;
        color: white;
    }
    #indicators-container span {
        text-align: center;
    }
     #indicators-container h3{
        text-transform: initial;
     }
    #indicators-container a:hover{
        cursor: pointer;
        text-decoration: none;
    }
    .menu-home{
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        z-index: 1;
        background: #5b2649;
        color: white;
    }
    .menu-home a{
        color: white;
        border-right: 1px solid white;
        padding: 0px 25px;
        font-size: 22px;
    }
    .menu-home a:last-child{
        border:none;
    }
    #start{
        margin-top: 0px;
    }
    .title-section{
        font-size: 30px;
        color: #5b2649;
    }
    .section-home .header-section hr{
        position: absolute;
        border: 2px solid #5b2649;
        bottom: -17px;
        margin-left: 15px;
        width: 5%;
    }
    .section-home .header-section{
        height: 70px;
        margin-bottom: 40px;
        line-height: 70px;
    }
    #actus .header-section {
        margin-top: 40px;
        right: 15px;
        margin-bottom: 0px;
    }
    .btn-redirect-home{
        font-size: 31px;
        border-radius: 20px;
        color: white !important;
        padding: 10px 50px;
        background-color: #5b2649 !important;
    }
    .btn-redirect-home.onBgPurple{
        margin-top: 15px;
        font-size: 20px;
        background-color: white !important;
        color: #5b2649 !important;
        border-radius: 5px;
        padding: 10px 32px;
    }
    .section-home .header-section .btn-redirect-home{
        font-size: 20px;
    /* padding: 5px 30px; 
        position: absolute;*/
        border-radius: 6px;
        text-transform: uppercase;
        right: 65px;
        bottom: 10px;
    }
    .btn-useit i{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .btn-useit{
        height: 120px;
        width: 49%;
        padding:20px;
    }
    @media (max-width: 767px){
        
        h1, h2, h3, h4, h5, h6 {
            font-size: initial !important;
            /* font-size: 0.9em; */
        }
        .btn-useit h4{
            font-size: 20px !important;
        }
        .btn-useit i{
            margin-bottom: 5px;
        }
        #actus-pacte .searchEntityContainer {
            float: left;
            width: 100%;
        }
        footer {
            margin-top: 0px;
        }
    }
   
    .btn-redirect-home:hover .text-orange{
        color: #5b2649 !important;
    }
    .btn-redirect-home .number-btn{
        font-size:35px;
        font-weight: 800: 
    }
    #indicators-container h4{
        margin-top: 40px;
        text-transform: inherit;
    }
    .section-separtor div{
        height:5px;
        padding:0px;
    }
    
/*TOOLKIT*/ 

#sub-doc-page .section-home .header-section{
	height: 70px;
    margin-bottom: 10px;
    line-height: 70px;
}
.sub-header-section{
	font-size: 22px;
	color: #ffa200;
}
#sub-doc-page .btn-redirect-home{
    font-size: 22px;
    border-radius: 20px;
    color: white;
    padding: 10px 30px;
    background-color: #5b2649;
}
#sub-doc-page{
    margin-top: 20px;
}
#sub-doc-page .section-home .header-section .btn-redirect-home{
    font-size: 20px;
    position: absolute;
    border-radius: 6px;
    text-transform: uppercase;
    right: 15px;
    bottom: 10px;
}
.text-explain{
	text-align: justify;
}
#sub-doc-page .section-home .header-section .btn-redirect-home:hover, .btn-redirect-home:hover{
        color: #ffa200 !important;
        background-color: white !important;
        border:2px solid #ffa200;
        text-decoration: none;
        cursor: pointer;
}
.btn-redirect-home.btn-small-orange{
    color: #ffa200 !important;
    background-color: white !important;
    border:2px solid #ffa200;
    font-size: 16px;
    padding: 5px 20px;
}
.content-input-scope-pacte #input-sec-search{
    width: 100%;
}
.content-input-scope-pacte #input-sec-search .shadow-input-header .input-global-search{
    width: 100%;
    padding: 25px;
    text-align: center;
    border-radius: 20px;
}
.content-input-scope-pacte #input-sec-search .shadow-input-header{
    width: 80%;
    margin-left: 10%;
}
.content-input-scope-pacte #input-sec-search .input-group-addon{
    display: none;
}
.content-input-scope-pacte #input-sec-search .dropdown-result-global-search{
    top: 54px;
    border-radius: 20px;
    margin-left: 10% !important;
    width: 80%;
    min-height: 50px;
    padding-top: 20px !important;
}
.content-input-scope-pacte #input-sec-search .dropdown-result-global-search .searchEntity .entityRight .entityName, .content-input-scope-pacte #input-sec-search .dropdown-result-global-search #footerDropdownGS{
    text-align: center;
}
#modalRegister{
    padding: 40px !important;
    background-color: rgba(0,0,0,0.4);
}
#modalRegister .form-register{
    border-radius: 20px;
}
#modalRegister .info-register-form{    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}
#modalRegister .info-register-form b{
    color: #fbae55;
}
.btn-social{
    background: white !important;
    color: #5b2649 !important;
    font-size: 30px;
    line-height: 50px !important;
}
.btn-social:hover{
    background: #5b2649 !important;
    color: white !important;
}
.col-footer-step a {
    color: white !important;
    font-size: 19px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
}
.col-footer{
    margin: 30px 0px !important;
}
.navbar-custom {
    padding: 10px 0px;
}
#mainNav .nav-right{
    margin-top: 20px !important;
}
.bodySearchContainer .searchEntity .dateUpdated, .bodySearchContainer .searchEntity .entityCenter, .bodySearchContainer .searchEntity .actionSocialBtn, .bodySearchContainer.faq .searchEntity .container-img-profil, .bodySearchContainer.mesures .searchEntity .container-img-profil{
    display: none;
}
.bodySearchContainer.mesures{
    width: 100%;
    margin-left: inherit;
    padding: 0px;
}
.bodySearchContainer.faq .searchEntityContainer, .bodySearchContainer.mesures .searchEntityContainer{
    width: 100%;
    /*margin-left: 2.5%;*/
    float: left;
    display: block;
    min-height: 0px !important;
    margin: 8px auto;
}

.bodySearchContainer.mesures .main-search-bar{
    border-radius: 20px 0px 0px 20px !important;
}
.preview-file .link-files{
    width: 50%;
    margin-left: 25%;
    font-size: 22px;
    border-radius: 2px;
    color: white !important;
    padding: 8px 10px;
    background-color: #fbae55 !important;
    text-align: -webkit-center;
}
#ajax-modal.portfolio-modal.modal{
    z-index: 100000;
}
@media (max-width: 767px){
    .preview-file .link-files{
        font-size: 22px;
    }
    .bodySearchContainer.mesures .main-search-bar{
        
    }
    .col-footer a {
        padding: 0px!important;
    }
}
/*.bodySearchContainer.mesures .searchEntityContainer.principes{
    width: 100%;
    margin-left: 0px;
    margin-bottom: 5px !important;
    padding-right: 0px;
    padding-left: 0px; 
}*/
.bodySearchContainer.mesures .searchEntityContainer.principes:last-child{
    margin-bottom: 25px;
}
.app-faq .tags-cloud{
    display: none;
}

.app-mesures .tags-cloud{
    margin-bottom: 30px
}
.bodySearchContainer.mesures .searchEntityContainer.principes .searchEntity{
    background-color: rgba(211, 211, 211, 0.2) !important;
}
 .searchEntityContainer .searchEntity {
    box-shadow: 0 0 5px -1px #d3d3d3;
}
.searchEntity .entityRight {
    padding: 10px!important;
}
.bodySearchContainer.mesures .searchEntity .entityName, #results-candidatures .searchEntity .entityName, .bodySearchContainer.mesures .searchEntity .entityDescription, #results-candidatures .searchEntity .entityDescription{
    margin-bottom: 10px;
    margin-top: 5px;
    overflow: inherit;
    text-overflow: inherit;
    white-space: pre-line;
    text-align: justify;
}
.bodySearchContainer.faq .pageTable, .bodySearchContainer.mesures .pageTable, .bodySearchContainer.faq #footerDropdown, .bodySearchContainer.mesures #footerDropdown{
    display:none !important;
}
.bodySearchContainer.faq .searchEntity .entityName, .bodySearchContainer.mesures .searchEntity .entityName{
    font-size: 20px !important;
    color: #5b2649 !important;
    line-height: 25px;
}
.bodySearchContainer.faq .searchEntity .entityDescription, .bodySearchContainer.mesures .searchEntity .entityDescription{
    line-height: 20px;
    max-height: inherit;
    font-size: 16px;
}
.bodySearchContainer.mesures .searchEntity .tagsContainer{
        margin: 10px 0px;
    float: left;
}
.bodySearchContainer .searchEntity .btn-link-content{
    display: none;
}
.btn-tags-unik{
    margin-right: 2px;
}
.btn-tags-unik.active{
    background-color: #fbae55 !important;
    color: #5b2649 !important;
}
.bodySearchContainer.mesures .searchEntity .tagsContainer span{
    color: white !important;
    background: #fbae55 !important;
    font-size: 16px;
}
#actus-pacte .socialEntityBtnActions{
    display: none;
}
.context-menu-list.context-menu-root{
    display: none !important;
}
#modal-preview-coop .auhtor-poi{
    display: none;
}
.carousel-indicators{display:none;}
.carousel-media {
    margin-bottom: 30px !important;
}
/*.app-actualites .tags-cloud{
    display:none;
}*/
.description-preview a, .ressourcePacte .text-explain a{
    text-decoration: underline;
    color: #0090c5;
}
#affix-sub-menu.affix {
    display:none;
}
/*.leaflet-popup-tip-container{
    margin-bottom: -30px;
}*/
#mainNav .menu-xs-container{
    left: inherit;
    right: 0px;
    background-color: #5a2549;
}
#mainNav .menu-xs-container a{
    color: white !important;
    padding: 20px !important;
    text-align: center;
    border-bottom: 1px solid white;
}
#mainNav .menu-xs-container a:hover{
    background-color: white !important;
    padding: 20px !important;
    color: #5a2549 !important; 
   text-align: center;
    border-bottom: 1px solid white;
}
.searchEntityContainer.simplePanelHtml{
    padding-top: 0px;
    padding-bottom: 0px;
}
@media (max-width: 767px) { 
    .content-input-scope-pacte #input-sec-search{
        display: block !important;
    }
    #popupCollectif .modal-dialog{
        margin: 25px;
        margin-top: 110px;
    }
}

/* popup collectif*/
@media (min-width: 768px){
   #popupCollectif .modal-dialog, #successCollectif .modal-dialog, #successContract .modal-dialog {
        margin: 70px auto;
    } 
    #partenaire {
        padding-top: 30px;
    }
    #modal-preview-coop .doc {
        padding: 10px 50px;
    }
}

#popupCollectif .close-modal, #successCollectif .close-modal, #successContract .close-modal {
    z-index: 10;
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: transparent;
    top: 10px;
    right: 30px;
    cursor: pointer;
}
#popupCollectif .close-modal .lr, #successCollectif .close-modal .lr, #successContract .close-modal .lr {
    height: 55px;
    width: 1px;
    margin-left: 35px;
    background-color: #5a2749;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051;
}
#popupCollectif .close-modal .lr .rl,#successCollectif .close-modal .lr .rl, #successContract .close-modal .lr .rl {
    height: 55px;
    width: 1px;
    background-color: #5a2749;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052;
}
/*
@media (min-width: 768px){
    #popupCollectif .modal-content, #successCollectif .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(255, 162, 0, 0.5);
        box-shadow: 0 5px 15px rgba(255, 162, 0, 0.5);
    }
}
*/
.contain-logo img{
    width: 150px;
    margin-top: 20px;
}
#text-head-collectif{
    margin-top: 15px;
    padding: 15px 0px 10px 0px;
}
#text-head-collectif small{
    font-size: 13px
}
.link-collectif{
    color: #5a2749;  
}
 .link-collectifs{
    color: #fff;
    background-color: #5a2749;  
}
.padding-link{
    padding: 3px 0px;
}
.padding-link-buttom{
    padding: 0px;
}

/*New Marquer Pacte sur la transition*/
.marker-cluster-small-pacte {
    color: white;
    border-radius: 50%!important;
    margin-left: -27px !important;
    margin-top: -27px !important;
    padding: 7px !important;
    width: 40px !important;
    height: 40px !important;
    background-color: #ffa200!important;
    background-image: none;
}
.marker-cluster-small-pacte div {
    border-radius: inherit;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin: 0px!important;
    width: 30px !important;
    height: 30px !important;
    background-color: transparent !important;
    padding: 3px 5px 9px 0px!important;
    font-size: 18px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: white;
    font-weight: 700!important;
    text-align: center!important;
}

.marker-cluster-medium-pacte {
    color: white;
    border-radius: 50%!important;
    margin-left: -27px !important;
    margin-top: -27px !important;
    padding: 7px !important;
    width: 48px !important;
    height: 48px !important;
    background-color: #c6793d!important;
    background-image: none;
}

.marker-cluster-medium-pacte div {
    border-radius: inherit;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin: 0px!important;
    width: 40px !important;
    height: 40px !important;
    background-color: transparent !important;
    padding: 6px 3px 13px 0px!important;
    font-size: 18px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: white;
    font-weight: 700!important;
    text-align: center!important;
}

.marker-cluster-large-pacte {
    color: white;
    border-radius: 50%!important;
    margin-left: -27px !important;
    margin-top: -27px !important;
    padding: 7px !important;
    width: 60px !important;
    height: 60px !important;
    background-color: #c6793d!important;
    background-image: none;
}

.marker-cluster-large-pacte div {
    border-radius: inherit;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin: 0px!important;
    width: 50px !important;
    height: 40px !important;
    background-color: transparent !important;
    padding: 13px 3px 10px 0px!important;
    font-size: 18px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: white;
    font-weight: 700!important;
    text-align: center!important;
}

.dont-break-out {
    overflow-wrap: break-word;
    word-break: break-word;
    text-decoration: none !important;
}

#successCollectif, #successContract,#popupCollectif {
    z-index: 100000;
}
.link-to {
    color: #fff;
    border-radius: 4px;
    background: #5a2749 !important;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    min-width: 150px;
    border: none;
    font-size: 22px;
    word-wrap: break-word;
    white-space: break-spaces;
}

.link-to:hover,.link-to:active,.link-to:focus {
    background: #ffa200 !important;
    color: #5a2748!important;
    text-decoration: none;
}
/*
#ajax-modal .modal-content {
    border: 1px solid rgba(255, 162, 0);
}*/
#ajax-modal .container, #formContact .container {
    background-color: transparent!important;
}

#ajax-modal .container .modal-body div.bg-white{
    background-color: transparent!important;
}

#ajax-modal hr{
    border-color: #5a2749!important;
}

#ajax-modal .form-group label i, #modalRegister .form-register label i{
    color: #ffa200;
}
#ajax-modal .form-group label, #modalRegister .form-register label{
    color: #5a2749;
}
#ajax-modal #scopeListContainerForm #scopes-container .scope-order{
    background-color: #5b2648;
    padding: 5px;
    border-radius: 3px;
    color: #f5ae54 !important;
}
@media (min-width: 768px) {
    #ajax-modal #scopeListContainerForm #scopes-container .scope-order{
        width: fit-content;
        margin: 5px;
    }
   /* #ajax-modal #scopeListContainerForm #scopes-container {
        display: flex;
        justify-content: center;
    }
    */
    .justify-marge {
        width: 85%;
        text-align: center;
        margin: auto;
    }
}
@media (max-width: 767px) {
    #ajax-modal #scopeListContainerForm #scopes-container .scope-order{
        width: 100%;
        margin: 3px;
    }
}
#ajax-modal .input-group-addon:first-child {
    background-color: #1390c5;
    color: white;
}
#ajax-modal .md-editor .btn-group .btn-default {
    color: #1390c5!important;
    background-color: #fff!important;
    border-color: #1390c5!important;
}

#ajax-modal .md-editor .btn-group .btn-default:hover, #ajax-modal .md-editor .btn-group .btn-default:active, #ajax-modal .md-editor .btn-group .btn-default:focus {
    color: #fff!important;
    background-color: #c6793d!important;
    border-color: #ffa200!important;
}

#ajax-modal .md-editor .btn-group .btn-primary {
    color: #fff!important;
    background-color: #1390c5!important;
    border-color: #1390c5;
}
#ajax-modal .md-editor .btn-group .btn-primary:hover, #ajax-modal .md-editor .btn-group .btn-primary:active, #ajax-modal .md-editor .btn-group .btn-primary:focus {
    color: #1390c5!important;
    background-color: #fff!important;
    border-color: #1390c5!important;
}
#ajax-modal .modal-header {
    border-bottom: 2px solid #e5e5e5;
}
#ajax-modal .info-contact .name-contact {
    color: #c6793d!important;
}
#ajax-modal .info-contact .cp-contact {
    color: #1390c5!important;
}
#ajax-modal #infocustom {
    color: #c6793d!important;
}

#ajax-modal .qq-uploader .btn-primary {
    color: #fff!important;
    background-color: #c6793d!important;
    border-color: #ffa200!important;
}
#ajax-modal .qq-uploader .btn-primary:hover,#ajax-modal .qq-uploader .btn-primary:active,#ajax-modal .qq-uploader .btn-primary:focus {
    color: #c6793d!important;
    background-color: #fff!important;
    border-color: #ffa200!important;
}
#ajax-modal .categoryselect #category{
    width: 100%;
    /* height: auto; */
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 3px!important;
}
#ajax-modal .btn-success {
    color: #fff!important;
    background-color: #1390c5!important;
    border-color: #fff!important;
}
#ajax-modal .btn-success:hover, #ajax-modal .btn-success:active,#ajax-modal .btn-success:focus {
    color: #1390c5!important;
    background-color: #fff!important;
    border-color: #1390c5!important;
}
#ajax-modal #btn-submit-form, #modalRegister .createBtn {
    color: #fff!important;
    background-color: #5a2749;
    border-color: #5a2749!important;
    /*border: 2px solid #ffa200;*/
}
#modalRegister .btn-danger {
    display: none;
}
#modalRegister .createBtn, #ajax-modal .btn-add-collectif {
    text-align: center;
    float: none!important;
    display: block;
    margin: auto;
}
#ajax-modal #btn-submit-form:hover, #ajax-modal #btn-submit-form:active, #ajax-modal #btn-submit-form:focus, #modalRegister .createBtn:hover, #modalRegister .createBtn:focus, #modalRegister .createBtn:active {
    color: #fff!important;
    background-color: #ffa200;
    border-color: #ffa200!important;
}
#ajax-modal .mainDynFormCloseBtn {
    background-color: #fff!important;
    border-color: #e6344d!important;
    color: #e6344d!important;
    font-weight: 700;
}
#ajax-modal .mainDynFormCloseBtn:hover, #ajax-modal .mainDynFormCloseBtn:active, #ajax-modal .mainDynFormCloseBtn:focus {
    color: #fff!important;
    background-color: #5a2749!important;
    border-color: #5a2749!important;
    font-weight: 700;
}
/*#ajax-modal .form-control, #ajax-modal .form-group #name, #ajax-modal .categoryselect #category, #ajax-modal .select2-container-multi .select2-choices {
    border-left: 5px solid #faa73f!important;
    border-right: 5px solid #faa73f!important;
}*/
#ajax-modal .close-modal .lr, #ajax-modal .close-modal .lr .rl, #modalRegister .close-modal .lr, #modalRegister .close-modal .lr .rl{
    background-color: #5a2749!important;
}
#ajax-modal .scopes-container .scope-order {
    padding-top: 5px;
    padding-bottom: 5px;
}

#ajax-modal #news-scope-search #input-sec-search {
    width: 100%;
}
/*
#popupCollectif .modal-content, #successCollectif .modal-content{
    background-color: rgba(90, 37, 73, 0.6);
    border: 1px solid rgba(255, 162, 0);
}
*/
/*#popupCollectif.modal-backdrop, #successCollectif.modal-backdrop {   
    display: block!important;   
    background-color: rgba(90, 37, 73,0.5); 
}*/
#ajax-modal.portfolio-modal.modal, #popupCollectif.portfolio-modal.modal, #successCollectif.portfolio-modal.modal, #successContract.portfolio-modal.modal {
    background-color: rgba(66, 27, 53, 0.9);
    z-index: 100000;
}

#popupCollectif .modal-content, #successCollectif .modal-content, #successContract .modal-content {
    border-radius: 4px;
}

/*@media (min-width: 992px) {
    .entityRight{
        height: 90px;
    }
}*/
.checkbox-content label input[type="checkbox"]:checked + .cr {
    background-color: #fafcfd!important;
    color: #ffa200 !important;
    box-shadow: 0px 0px 16px rgba(250,250,250,0.9);
    border: 1px solid #592749!important;
}
#ajax-modal .form-group.infocustom p {
    color: #5a2749!important;
}
.text-purple{
     color: #5a2749!important;
}
@media (min-width: 768px) {
    #ajax-modal .checkbox-content{
        width: 70%;
        min-width: 300px;
        margin-left: 15%;
        padding-top: 15px!important;
        padding-bottom: 15px!important;
    }
    #ajax-modal .text-info-collectif{
        padding-top: 15px!important;
        padding-bottom: 15px!important;
        margin-top: 25px;
    }
}
@media (max-width: 767px) {
    #ajax-modal .text-info-collectif{
        margin-top: 25px;
    }
    #partenaire {
        padding-top: 20px;
    }
}
#modal-preview-coop .measure,#modal-preview-coop .article,#modal-preview-coop .faq{
    padding: 10px 65px;
}
#search-content .app-faq .divEndOfresults {
    display: none;
}
#ajaxFormModal .similarLinkcustom{
    display: none !important;
}
@media (max-width: 767px){
    #modal-preview-coop .measure{
        padding: 10px;
    }
    #ajaxFormModal #scopeListContainerForm #news-scope-search #input-sec-search{
        display: inline-block!important;
    }
    #actus #actus-pacte .container-img-profil img.img-responsive {
        height: auto !important;
    }
    #actus-pacte .searchEntityContainer .container-img-profil {
        height: auto !important;
    }
    #actus-pacte .searchEntityContainer .container-img-profil i.fa {
        font-size: 100px !important;
    }
    .content-input-scope-pacte #input-sec-search .shadow-input-header {
        width: 100%;
        margin-left: 0px;
    }
    #modal-preview-coop .measure, #modal-preview-coop .article {
        padding: 10px;
    }
}

/************BY JEAN******************/
#actus-pacte .container-img-profil{
    overflow: visible !important;
}

/*
#actus-pacte .searchEntity .entityRight .entityName {
    display: initial !important;
    overflow: visible !important;
}
*/
#actus-pacte .container-img-profil img.img-responsive {
    /* min-height: 150px; */
    width: 100% !important;
    float:none !important;
    border-radius: 3px 3px 0px 0px;
    height: 360px !important;
}
@media (max-width: 1199px) and (min-width: 992px){
    #actus-pacte .container-img-profil img.img-responsive {
        height: 225px !important;
    }
    #actus-pacte .searchEntityContainer .container-img-profil {
        height: 225px!important;
    }
    #actus-pacte .searchEntityContainer .container-img-profil i.fa {
        font-size: 120px !important;
    }
}
#actus-pacte .searchEntityContainer{
    min-height: inherit !important;
    max-height: none !important;
    /*padding-top: 13px !important;
    padding-bottom: 13px !important;*/
}

#actus-pacte{
    padding-left:64px;
    padding-right:64px;
}
@media (max-width: 768px) {
    #actus-pacte,#actus{
        padding-left:0px !important;
        padding-right:0px !important;
    }  
}

#actus-pacte .searchEntityContainer .container-img-profil {
    display: inherit !important;
    max-height: 100% !important;
}

.app-actualites .entityType{
    display:none;
}

.app-actualites .slide-hover .entityLocality {
    color: #fff !important;
    font-weight: 700 !important;
}
.app-actualites .smartgrid-slide-element ul.tag-list .btn-tag {
    background-color: #5b2649;
    color: #fff;
}

.app-actualites .btn-link-content .btn-link {
    border-radius: 4px;
    margin: 4px;
    min-width: 105px;
    color: #fff !important;
    background-color: #5b2649 !important;
    border: 1px solid #5b2649 !important;
}
.app-actualites .btn-link-content .btn-link:hover {
    border-radius: 4px;
    margin: 4px;
    min-width: 105px;
    color: #fff !important;
    background-color: #5b2649 !important;
    border: 1px solid #5b2649 !important;
}
.app-actualites .btn-link-content .btn-link:hover {
    color: #fff !important;
    background-color: #ffa200 !important;
    border: 1px solid #ffa200 !important;
}

.app-actualites i.fa-newspaper-o{
    background-color: #5b2649 !important;
}

#commentElement-preview .footer-comments .noComment{
    display: none !important
}
#commentElement-preview .footer-comments{
    background-color: #fff !important;
}

#text-head-collectif.save-link-email{
    font-size:14px !important;
}
span.title-col{
    font-size: 22px;
    width: 85%;
    display: block;
    margin: auto;
}
.elue-data .second-title .section-second-title i.fa{
    padding-right: 10px
}
#actus #actus-pacte .searchEntity .entityRight .entityName {
    white-space: break-spaces;
}
#modalRegister .footerNoneCandidate{
    display: none;
}
.searchEntity .entityRight .entityDescription {
    font-size: 15px!important;
}
@media (min-width: 992px) {
    #actus #actus-pacte .searchEntity .entityRight .entityDescription, #actus #actus-pacte .searchEntity .entityRight .entityName {
        word-wrap: break-word;
        display: -webkit-box;
        /*-webkit-line-clamp: 2;*/
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    #actus #actus-pacte .searchEntity .entityRight .entityDescription {
        -webkit-line-clamp: 2;
    }
    #actus #actus-pacte .searchEntity .entityRight .entityName {
        -webkit-line-clamp: 1;
    }
    #actus-pacte .searchEntityContainer .informations{
        height: 102px;
    }
    #actus #actus-pacte .searchEntity .entityRight .entityLocality {
        display: none;
    }
}

.section-home #scopes-container {
    display: none;
}

#ajax-modal .measuresfinder .finder-measures .form-list-finder .element-finder {
    text-align: center; 
    justify-content: center;
    display: flex;
}
#ajax-modal .finder-measures .form-list-finder .element-finder .info-contact button.bg-red{
    margin: 0px -40px;
    box-shadow: 0 2px 5px 0 rgb(198, 121, 61), 0 2px 10px 0 rgb(63, 78, 88);
    border: none;
    border-radius: 25px;
    margin-top: -30px;
}

.app-actualites .smartgrid-slide-element .item-slide .slide-hover .text-wrap {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    /* text-align: center; */
    transform: translate(-50%,-50%);
}


#modal-preview-coop #commentElement-preview {
    display: none;
}