.negPosHandle {
    display: none;
}
   
.axis-color path{
    stroke: #dee5e3;
    fill: none;
}

.negPosTooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 80px;
    padding: 2px;
    font: 16px sans-serif;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #fff;
    font-weight: normal;
    transition: border-radius .2s linear;
}

.negPosTooltip-positive {
    background: rgb(0, 131, 126);
    border-radius: 25px;
}

.negPosTooltip-negative {
    background: rgb(116, 31, 24);
    border-radius: 25px;
}