#mainNav .menu-app-top{
	margin-top: 20px;
}
#mainNav #navbar{
	margin-top: 15px
}
#mainNav{
	padding-bottom:10px;
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
}
#menuLeft .menu-button.btn-menu {
    text-align: left;
    width: 250px;
}
.menu-name-profil{
	background-color: rgba(255, 255, 255, 0.75)!important;
}
#menu-label-profil{
	color: #091e37;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 40px;
    display: inline-block;
}
.main-container{
	overflow-x: hidden;
}
.headerSearchContainer:not(.affix){
	left: 0px !important;
	right: 0px !important;
}
#filters-nav{
    padding-top: 5px !important;
	padding-left: 20px !important;
}
#mapOfResultsAnsw{
	border-left: 1px solid #afafaf;
	position: fixed;
	right: 0px;
	bottom: 0px;
	/*bottom:100px;*/
	/*top: 159px;*/
}
.btn-show-map-search{
	display: none;
	font-size: 16px;
    border-radius: 4px;
    padding: 5px 25px;
    background-color: #0095FF;
    color: white;
    border: 2px solid transparent;
}
.btn-show-map-search:hover{
	background-color: transparent;
    color: #0095FF;
    border: 2px solid #0095FF;
}
.headerSearchContainer .headerSearchleft {
    display: inherit;
}
#mapOfResultsAnsw .div-btn-hide{
	right: 0px;
	text-align: right;
}
.footerSearchContainer.affix{
	bottom: 0px;
    left: 0px;
    height: 50px;
    background: white;
    padding: 13px !important;
}
@media (max-width: 992px){
	#mapOfResultsAnsw{
		display:none;
		border-top: 1px solid #6b6b6b;
		border-bottom: 1px solid #6b6b6b;
	}
    .btn-show-map-search{
    	display: block;
    }
}
@media (min-width: 768px){
	#mainNav{
		padding: 0px !important;
    	border-bottom: 0px !important;
	}
}
@media (max-width: 767px){
	#mainNav{
		background-color: #091e37;
		color: white;
	}
}
@media (min-width: 992px){
	.content-answer-search, .bodySearchContainer.dossiers{
		padding: 0px;
	}
	.bodySearchContainer.dossiers{
		padding-left: 1px;
	}
	.main-container .headerSearchContainer.affix{
		right: 37%;
	}
}
@media (min-width: 992px) and (max-width: 1200){
	#mapOfResultsAnsw{
	/*	left: 65%;*/
	}
	
}
@media (min-width: 1200){
	#mapOfResultsAnsw{
		/*left: 60%;*/
	}
}
.footerSearchContainer{
	padding-left: 15px !important;
}
#menuLeft{
width: -webkit-min-content;
width: -moz-min-content !important;
width: min-content;
}

.form-control{
	padding : 0px 12px !important;
}

#modalLogin, #modalRegister{
	padding-left:unset !important;
}


#contentBanner img{
	filter: blur(2px);
  -webkit-filter: blur(2px);
	} 

.container{
	width: fit-content !important;
}