.sub-menu-social a.ssmla{
	margin-left: -2px;
	border-radius: 10px 10px 0px 0px;
	line-height: 37px;
}
.sub-menu-social.affix a.ssmla {
    border-radius: 0px 0px;
}
.sub-menu-social a.ssmla:hover, .sub-menu-social a.ssmla.active{
	background: #000091;
	color: white;
	font-size: 16px;
    line-height: 37px;
}
.sub-menu-social a.ssmla.active{
	line-height: 32px;
	font-weight: 800;
    border-top: 2px solid white !important;
    border-bottom: 0px !important;
}

.sub-menu-social{
	background: transparent;
	margin-top: -45px !important;
	border-width: 0px;
}
.contentHeaderInformation{
	padding: 40px 0px 55px 0px;
}
.central-section{
	border-top: 1px solid #ccc;
    margin-top: 0px;
    padding-top: 0px;
}
#central-container, .simulate-central-container{
    background-color: white;
    padding-bottom: 40px;
}
.central-section[data-active-view="home"]{
    padding-top: 40px;
}
.central-section #filterContainer #show-filters{
    background-color: #22252a;
    color: white;
    border-radius: 0px;
}
.central-section #filterContainer .searchBarInMenu{
    padding-left: 0px;
}
.central-section #filterContainer .main-search-bar-addon{
    background-color: #000091 !important;
}
#menu-top-btn-group > a > span > i{
    padding-right: 5px;
}
#central-container[data-active-view="adminCter"]{
    padding: 0px;
}
#central-container #btn-show-links-onmap{
    display:none;
}
.simulate-central-container{
    min-height: 800px;
}
#menu-top-profil-social.affix{
    background-color: white;
}
.central-section #filterContainer{
	width: 100%;
	margin-left: 0px;
    margin-top: 0px;
}
.carousel-media{
	margin-bottom: 0px !important;
}
.carousel-media .carousel-indicators{
	bottom: 0px;
    margin-bottom: 0px;
}
.carousel-media > ol > li{
    width: 15px !important;
    height: 15px !important;
    border-radius: 15px !important;
    background-color: transparent;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 1px 1px #22252a;
}
.carousel-media > ol > li.active{
	background-color: #000091;
}
.social-main-container .projects.ficheAction #btnHeaderEditInfos{
	display: none;
}
.social-main-container .projects.ficheAction .pastille-type-element{
	background-color: #8C5AA1 !important;
}
.social-main-container .projects.cteR .contentHeaderInformation #nameHeader .fa-lightbulb-o:before {
    content: "\f041";
}
.adminToolBar.entityProfil{
	height: 175px;
}
.boxBtnLink{
	background-color: transparent;
}
.boxBtnLink a.menu-linksBtn, .boxBtnLink .nav.navbar-nav, .boxBtnLink .dropdown {
    background-color: rgba(170, 170, 170, 0.87);
    line-height: 15px;
    width: initial;
    margin-right: 3px;
    border-radius: 7px;
}
.boxBtnLink .dropdown .dropdown-menu{
	border-radius: 5px;
}
.boxBtnLink .dropdown .dropdown-menu li{
	font-size: 14px;
}
.boxBtnLink .btn-favorite-link{
	display: none;
}
.menu-xs-only-top{
	position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10000;
    border-radius: 0px 0px 5px 5px;
    margin: 1px;
    list-style: none;
    border: 1px solid #ddd;
    display: none;
}
.menu-xs-only-top li{}
.menu-xs-only-top li a{
    width: 100%;
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #f4f4f4 !important;
    border-radius: 0px !important;
    border-right: 0px !important;
}
.contentHeaderInformation .containInvitation{
    position: absolute;
    border-bottom: none !important; 
    margin-bottom: none !important; 
    top: -40px;
    width: 30%;
    background-color: rgba(244, 244, 244, 0.81);
    border-radius: 10px;
    right: 5px;
    text-align: -webkit-center;
}
.boxBtnLink{
    box-shadow: none;
}
.boxBtnLink .inviteContent{
    float: left;
    list-style: none;
}
.boxBtnLink .inviteContent a{
    color : white !important;
}
.boxBtnLink > ul.nav.navbar-nav  > li, .boxBtnLink > ul.nav.navbar-nav  > li > a.menu-linksBtn{
    background-color: transparent !important;
} 
.description-markdown-territory, .contentChildFilRouge .description-badge{
    white-space: pre-line;
}
.edit-territory{
    border: none;
    margin: auto;
    background: none;
    font-weight: 800;
    color: #000091;
    font-size: 15px;
}
.activeAAP .notification-label{
    line-height: 20px;
    margin-top: 5px;
}
.activeAAP .notification-label:hover{
    background-color: rgba(244,244,244,0.3);
    border-radius: 2px;
}
.activeAAP .bootstrap-switch{
    height: 35px !important;
    line-height: 10px !important;
    min-width: 150px !important;
    margin-top: 5px;
    margin-bottom: 5px;
}
.activeAAP .bootstrap-switch .bootstrap-switch-handle-on{
    background-color: #5cb85c !important;
    color: white !important;
}
.activeAAP .bootstrap-switch .bootstrap-switch-handle-off, .activeAAP .bootstrap-switch .bootstrap-switch-handle-on{
    height: 33px;
    width: 40%;   
}
.activeAAP .bootstrap-switch .bootstrap-switch-handle-off{
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    background-color: #e6e6e6 !important;
    color: #656565 !important;
}
.activeAAP .bootstrap-switch .bootstrap-switch-handle-off:hover{
    background-color: #d4d4d4 !important;
}
.activeAAP .bootstrap-switch .bootstrap-switch-handle-on:hover{
    background-color: #449d44 !important;
}
.activeAAP .bootstrap-switch .bootstrap-switch-label{
    background-color: white !important;
    height: 35px;
    vertical-align: inherit;
    width: 20%;
}
.activeAAP .bootstrap-switch .bootstrap-switch-handle-on,
.activeAAP .bootstrap-switch .bootstrap-switch-handle-off,
.activeAAP .bootstrap-switch .bootstrap-switch-label{
    line-height: 25px;
}
.activeAAP .bootstrap-switch .bootstrap-switch-container{
    width: 167%;
}
.activeAAP .bootstrap-switch.bootstrap-switch-off .bootstrap-switch-container {
    margin-left: -67%;
}
.btn-cter-create{
    background-color: white;
    border: 2px solid #000091;
    color: #000091;
    font-size: 15px;
    padding: 10px;
    font-weight: 800;
}
.labelTitleDir .btn-open-form[data-form-type="projects"], .labelTitleDir .btn-open-form[data-form-type="project"]{
    display: none;
}
.description-markdown-filRouge{
    font-size: 18px;
    font-weight: 800;
}
#menu-top-btn-group{
    padding-left: 0px;
}
#menu-top-profil-social.affix #menu-top-btn-group .affixMenuImg{
    height: 45px;
    padding: 0px 10px;
}
#menu-left-container{
    display: none;
}
@media (min-width: 991px){
    .section-date {
        top: -45px;
    }
}
@media (max-width: 768px) {
    #menu-top-btn-group{
        background-color: #22252a;
    }
    #menu-top-profil-social .open-xs-menu{
        color: white;
    }
    #menu-top-profil-social .menu-xs-container{
        border-top: 1px solid white;
    }
    #menu-top-profil-social .menu-xs-container a{
        background-color: transparent;
        line-height: 20px;
        border-radius: 0px;
        border: initial;
        margin: initial;
        height: fit-content;
    }
    #menu-top-profil-social .menu-xs-container a:hover{
        border: 3px solid;
    }
    #menu-top-profil-social .menu-xs-container a > i{
        padding-right: 15px;
    }
    #menu-top-profil-social .menu-xs-container a.active{
        border-left: 5px solid;
        border-right: none !important;
        border-top: none !important;
    }
	.contentHeaderInformation .containInvitation{
		width: 98%;
	}
    #filters-nav {
        display: none !important;
    }
}
/*.carousel-inner>.item{
	height : 300px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
	max-height: 300px
}*/

.description-section .btn-edit-element {
    background-color: #fff;
    color: #000091;
    box-shadow: inset 0 0 0 1px #000091;
    border-radius: 0px;
    border-color: #000091;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

/*STYLE BY NICOSS*/
.central-section #filterContainer #input-sec-search .input-global-search, .central-section .searchBar-filters .search-bar {
    font-size: 16px;
    box-shadow: inset 0 -3px 0 0 #000091!important;
    background-color: #f0f0f0!important;
    color: #1e1e1e!important;
    border: 1px solid #f0f0f0!important;
    border-radius: 4px 0px 0px!important;
}
.central-section #filterContainer .main-search-bar-addon {
    border: 1px solid #dadada !important;
    background-color: #000091 !important;
    color: #fff!important;
    font-size: 16px;
    padding: 11px 7px;
    border-radius: 0 4px 0 0!important;
    border-left: 0px !important;
}
.central-section #filterContainer .dropdown .btn-menu, .central-section #filters-nav .dropdown .btn-menu,
#content-view-admin #filterContainer .dropdown .btn-menu, #content-view-admin .searchObjCSS .dropdown .btn-menu, #content-view-admin .searchObjCSS .filters-btn {
    font-size: 16px;
    height: 40px;
    border-radius: 4px 4px 0 0!important;
    box-shadow: inset 0 -3px 0 0 #000091!important;
    background-color: #f0f0f0!important;
    color: #1e1e1e!important;
    border: 1px solid #f0f0f0!important;
}
.central-section .container-filters-menu #activeFilters .filters-activate {
    background-color: #ececff;
}
.central-section #communitySearchContent #listRoles .horizontalList .btn {
    color: #000091;
}
.central-section #communitySearchContent #listRoles .horizontalList .btn.active {
    background-color: #000091;
    color: #fff;
    border-radius: 8px 8px 0px 0px;
}
.central-section #communitySearchContent #listRoles .horizontalList .badge {
    background-color: #000091;; 
}
.central-section #communitySearchContent #listRoles .horizontalList .btn.active .badge {
    color: #000091;
}
.central-section .navbar-custom .btn-show-map, .central-section .main-container .btn-show-map {
    background-color: #000091;
}
.central-section .navbar-custom .btn-show-map, .central-section .main-container .btn-show-map {
    background-color: #000091;
}
.main-container .sub-menu-social.affix {
    left: 0px!important;
    text-align: center;
}

.central-section .table thead td, .central-section .table thead th {
    border-bottom: 3px solid #6a6a6a;
    background-color: #f9f8f6;
    color: #383838;
}
.central-section .table thead, .central-section .table tbody, .central-section .table tfoot { 
    border-bottom: 2px solid #DFE1E6;
}
.central-section #filterContainer #input-sec-search .input-group-addon {
    border-radius: 8px 0px 0px 0px!important;
    background-color: #f0f0f0!important;
    color: #1e1e1e!important;
    border: 1px solid #f0f0f0!important;
    box-shadow: inset 0 -3px 0 0 #000091!important;
}
.central-section #situate-day, .dayEvent {
    background: rgb(236 236 255) !important;
}
.central-section .dayEvent h2 .date-label {
    color: #000091;
}
.central-section #situate-day, .dayEvent .bg-orange {
    color: #fff !important;
    background-color: #000091 !important;
}

.central-section #situate-day, .dayEvent .bg-orange:hover, .central-section #situate-day, .dayEvent .bg-orange:active {
    background-image: linear-gradient( 0deg , rgba(0, 0, 221, 0.5), rgba(0, 0, 221, 0.5));
}
.navbar-custom .btn-show-map, .main-container .btn-show-map {
    background-color: #000091!important;
}
.navbar-custom .btn-show-map:hover, .main-container .btn-show-map:hover {
    background-color: transparent!important;
    color: #000091!important;
    border: 2px solid #000091!important;
}
.central-section .smartgrid-slide-element .img-back-card .text-wrap {
    background: rgba(41, 41, 255, 0.8) !important;
}
.central-section .infoPanelAddContent .alert-success {
    color: #000091;
    background-color: rgb(236 236 255);
    border-color: rgb(236 236 255);
}
.central-section .infoPanelAddContent .alert-success .btn-success {
    color: white;
    background-color: #000091;
    border-color: #000091;
    font-weight: 700;
}
.central-section .infoPanelAddContent .alert-success .btn-success:hover, .central-section .infoPanelAddContent .alert-success .btn-success:active, .central-section .infoPanelAddContent .alert-success .btn-success:focus {
    background-image: linear-gradient( 0deg , rgba(0, 0, 221, 0.5), rgba(0, 0, 221, 0.5));
}

/*COFORM*/
.central-section #modeSwitch .btn-primary {
    background: #172f91;
    border-bottom: 3px solid #000091;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -3px #000091;
    box-shadow: inset 0 -3px #000091;
    margin-left: 5px;
}

.central-section #modeSwitch .btn-primary:hover {
    background-image: linear-gradient( 0deg , rgba(0, 0, 221, 0.5), rgba(0, 0, 221, 0.5));
    color: #fff;
    border-bottom: 3px solid #000091;
}

.central-section .swMain ul li a.done .stepNumber {
    border-color: #000091;
   background-color: #9a9aff;
}
.central-section .swMain ul li a.selected::before, .central-section .swMain ul li a.done::before {
    border-color: #000091;
}
.central-section #central-container p, .pageContent p {
    font-size: 16px;
}
.central-section .title-header:before {
    border-top: 3px solid #000091;
}
.central-section .swMain ul li a.selected .stepDesc, .central-section .swMain ul li a.done .stepDesc {
    color: #000091;
}
.central-section .card-user-about:after {
    background: rgba(224,219,208,0.5)
}
.central-section .card-user-about .profileinfo h4{
    color: #1e1e1e!important;
}
.central-section .sectionStepTitle {
    border: 3px solid #000091!important;
}
.central-section .questionBlock .form-group h4 {
        color: #1e1e1e!important;
}
.central-section .card-project .card-header {
    background: linear-gradient( 60deg ,#000091,#000091);
} 
.central-section .profile-page .card:after {
    background: rgba(224,219,208,0.5);
}
.central-section .card-project .card-body .tags span {
    background-color: #9a9aff;
    color: #000091 !important;
    border: 1px solid #9a9aff;
    display: inline-block;
    height: 40px;
    border-radius: 50px;
    line-height: 35px;
}
.central-section .card-project .card-body .tags {
    display: inline-block;
}
#col-banner .section-date , #col-banner .section-address, #col-banner .section-badges {
    background-color: rgb(255,255,255,0.7);
}
#col-banner .section-date span {
    color: #2C3E50!important;
}
#contentBanner img {
    object-fit: cover;
    object-position: center;
}

.central-section .smartgrid-slide-element .list-dash h4.list-dash-item, 
.central-section .searchEntityContainer .rolesContainer,
.central-section .slide-hover .entityLocality {
    color: #fff;
}
.form-horizontal .control-label {
    word-wrap: break-word;
}
#col-banner .btn-dp {
    background-color: rgba(170, 170, 170, 0.87);
    color:  #000091;
    /*border: 2px solid #fff;*/
}
#col-banner .btn-dp:hover, #col-banner .btn-dp:active {
    background-color: rgb(23,47,145, 0.6);
    color: white;
    border: 1px solid white;
}

.input-group, #fileuploadContainer{
    z-index: 1;
}
#central-container .container-lib-item {
    width: auto!important;
}
.name-header {
    text-transform: none;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}