/********************************************************************/
/* Header && About                       */
/*******************************************************************/
#header-wrapper{
	position: relative;
	padding: 0em 0em 0em 0em;
	width: 100%;
	height: 600px;
	top: -50px;
}

#menuTopRight .btn-menu-connect{
	background-color: white;
	color: #2c407a;
}

#mapContent #menuRightmapContent{
	position: absolute;
}

#show-bottom-add {
	font-size: 27px;
	left: 1px;
	position: relative;
	top: 1px;
}

#show-bottom-add .toolbar-bottom-adds{
	display: none;
}

#menuTopLeft{
	background-color: white;
}

#menuTopLeft .menu-app:hover .label-menu{
	color:white;
}

#maniNav #menuTopLeft .menu-btn-top:hover {
	background-color: white;
}

#menuTopRight{
	position: relative;
	margin-top: -65px;
}

.dropdown-menu-top .dropdown-toggle{
	color: #2c407a;
}

@media (max-width: 767px){
	#header-wrapper{
		top: 0px;
		height: 340px;
	}

	#menuTopLeft {
		background-color: #2c407a !important;
		margin-left: 15px;
	}

	#menuTopRight{
		position: relative;
		margin-top: 0px;
	}


	#menuTopRight .dropdown-menu-top .menu-btn-top{
		color: white !important;
	}
} 
@media  (min-width: 768px){
	#mainNav {
		background-color: transparent;
		padding-top: 0px!important;
	}
	#mainNav #menuTopLeft{
		float: none!important;
		justify-content: center;
	    display: flex;
	    text-align: center;
	    height: 76px;
	}
	#mainNav #menuTopLeft a{
		float: none!important;
	    width: 120px;
	    background: #fff;
	    height: 50px;
	    vertical-align: top;
	    padding: 7px 5px 5px 5px;
	    letter-spacing: 1px;
	    text-decoration: none;
	    text-transform: none;
	    color: #2c407a;
	    font-weight: 700;
	    border-left: 1px solid #2c407a;
	    border-right: 1px solid #2c407a
	}
	#mainNav #menuTopLeft a:hover{
	    background: #2c407a;
	    color: #fff;
	}
	#mainNav #menuTopLeft a.btn-link {
	    border-color: transparent;
	    /*background-color: #2c407a!important;*/
	    width: 53px!important;
	    /*width: 127px !important;*/
	    height: 51px!important;
	}
	.logo-content{
		/*width: 100%;
		height: 94px;*/
		width: auto;
	    /*height: 74px;*/
	}
	#signe-cmcas img{
    	height: 70px;
    	width : auto;
    }
    #about-cmcas {
		background-color: #fcc845;
		text-align: center;
		text-transform: none;
		border-bottom: 8px solid #2c407a;
		padding-bottom: 150px;
		top: 390px;
	}
	.about-video {
		top: -98px;
	   /* height: 250px;*/
	}
	#signe-cmcas{
		/*padding-top: 15px;*/
	    padding-right: 20px;
	}
}
@media (max-width: 767px) {
	#mainNav {
	    background-color: #2c407a;
	}
	#mainNav .open-xs-menu {
    	color: #fff;
	}
	
	#mainNav #menuTopLeft a img {
    	width: 44px;
    	height: 44px;
    }

    #header-wrapper{
    	height: 340px;
    	top: 0px;
    }
    #mainNav #menuTopLeft a:hover{
	    background: #2c407a;
	    color: #fff;
	}
    #signe-cmcas {
	    padding-top: 5px;
	    padding-right: 5px;
	}
    #signe-cmcas img{
    	height: auto;
    	width: 230px;
    }
    #about-cmcas {
    	background-color: #fcc845;
		text-align: center;
		text-transform: none;
	    border-bottom: 6px solid #2c407a;
	    margin-left: 5%;
	    margin-right: 5%;
	    width: 90%;
	    padding-bottom: 100px;
	    top: 142px;
	}
	#about-video {
	    top: 91px;
	    height: 300px;
	    width: 80%;
	    margin-left: 10%;
	    margin-right: 10%;
	    margin-bottom: 101px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	#about-cmcas {
		padding-bottom: 130px;
    	top: 270px;
	}
}

#about-cmcas h2{
	text-transform: none;
	padding-bottom: 20px;
}
@media (min-width: 200px) and (max-width: 381px) {
	#about-cmcas {
	    top: 90px;
	}
	.about-video {
	    top: -30px;
	}
}

.menu-xs-container a {
    border-bottom: 2px solid #2c407a;
}

.text-blue-cmcas{
	color: #2c407a;
}
.bg-blue-cmcas{
	background-color: #2c407a;
}


/********************************************************************/
/* Agenda                      */
/*******************************************************************/


.more a{
	font-size: 15px;
    color: #fff;
    padding: 35px 20px 20px 10px;
    font-weight: 700;
    height: 125px;
    /*width: 115px;*/
    float: right;
    width: 55%;
    margin-right: -14px;
    bottom: -97px;
    opacity: 0.8;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    transition: .5s all;
    -webkit-transition: .5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.more a:hover{
	background:#B46425;
}

/* Curl Bottom Right */
.hvr-curl-bottom-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-curl-bottom-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(132deg, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
  /*box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);*/
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-bottom-right:hover:before, .hvr-curl-bottom-right:focus:before, .hvr-curl-bottom-right:active:before {
  height: 0;
  width: 0;
}

/*-- featured-services --*/
.featured-services-grd{
	text-align: center;
    box-shadow: 1px 1px 2px #C6C6C6;
    padding: 2em 1em;
    height: 250px;
}

.featured-services-grids{
	margin:3em 0 0;
}


#agenda-cmcas h2, #actu-cmcas h2{
	color: #fff;
	text-transform: none;
}

.featured-agenda{
	background-color: #a8a5a1;
	padding: 30px 15px 50px 15px;
}
.space-top-bottom{
	padding-top: 15px;
	padding-bottom: 15px;
}

.bg-sobre{
	background-color: #f5f5f5;
    float: left;
    width: 100%;
    /*position: relative;*/
    padding-bottom: 30px;
}



/*-- Agenda slide --*/
.container-slide-agenda{
	width: 100%;
	margin-top: 100px;
}
.container-slide-agenda .well{
	background-color: #2c407a;
	min-height: 395px;
    /*height: 315px;*/
    /*overflow-y: auto;*/
}
.container-slide-agenda .well .agenda-body{
	/*margin-top: 40px;*/
	padding: 0px;
}
.container-slide-agenda .well .agenda-link{
	width: 40%;
	float: right;
	font-weight: 700;
	color: #2c407a;
	margin-top: 37px;
}
.container-slide-agenda .well .agenda-text-contact{
	width: 50%;
	float: left;
}
.container-slide-agenda .well .agenda-text-contact .name{
	color: #fcc845;
}
.container-slide-agenda .well .agenda-date-month{
	margin-top: -13px;
}
.container-slide-agenda .well .agenda-date-day{	
	margin-top: 0px;
}
.carousel-control.left, .carousel-control.right {
	background-image:none;
}

.img-responsive{
	width:100%;
	height:auto;
}

@media (min-width: 1200px) {
	.carousel-inner .active.left {
		left: -25%;
	}
	.carousel-inner .next {
		left:  25%;
	}
	.carousel-inner .prev {
		left: -25%;
	}
	/*
	.carousel-inner .item .col-xs-12:first-child{
		padding-left: 0px;
	}
	.carousel-inner .item .col-xs-12:last-child{
		padding-right: 0px;
	}
	*/
}

@media (min-width: 992px )and (max-width: 1199px) {
	.carousel-inner .active.left {
		left: -33.3%;
	}
	.carousel-inner .next {
		left:  33.3%;
	}
	.carousel-inner .prev {
		left: -33.3%;
	}
	.active > div:first-child {
		display:block;
	}
	.active > div:first-child + div {
		display:block;
	}
	/*#myCarousel .active > div:last-child {
		display:none;
	}*/
}

@media (min-width: 768px) and (max-width: 991px) {
	.carousel-inner .active.left {
		left: -50%;
	}
	.carousel-inner .next {
		left:  50%;
	}
	.carousel-inner .prev {
		left: -50%;
	}
	.active > div:first-child {
		display:block;
	}
	.active > div:first-child + div {
		display:block;
	}
	#myCarousel.active > div:last-child {
		display:none;
	}
	.active > div {
		display:none;
	}
}

@media (max-width: 767px) {
	.carousel-inner .active.left {
		left: -100%;
	}
	.carousel-inner .next {
		left:  100%;
	}
	.carousel-inner .prev {
		left: -100%;
	}
	.active > div {
		display:none;
	}
	.active > div:first-child {
		display:block;
	}
}

/*-- End Agenda slide --*/

/********************************************************************/
/* Actualité                      */
/*******************************************************************/

#actu-cmcas{
	margin-bottom: 30px;
}
#actu-cmcas h2{
	color: #2c407a;
	text-transform: none;
	padding-bottom: 20px;
}

#actu-cmcas .featured-services-grids .well{
	padding: 10px;
	height: 234px;
	background-color: #fff;
}
#actu-cmcas .featured-services-grids .well .featured-services-grid, #actu-cmcas .featured-services-grids .well .contain{
	width: 50%;
	display: inline-block;
}

@media (max-width: 767px) {
	#actu-cmcas .featured-services-grids .well .featured-services-grid{
		width: 30%;
	}
	#actu-cmcas .featured-services-grids .well .contain{
		width: 70%;
	}
	#actu-cmcas .grid-actu{
    	padding-left: 0px;
    	padding-right: 0px;
	}
}
#actu-cmcas .featured-services-grids .featured-services-grd {
    text-align: center;
    box-shadow: 1px 1px 2px #2c407a;
    /*padding: 2em 1em;*/
    height: 211px;
}

#actu-cmcas .contain .date-actu a{
    font-size: 15px;
    color: #fff;
    padding: 10px 5px;
    font-weight: 700;
    width: 90%;
    /*padding-left: 25px;*/
    text-decoration: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

#actu-cmcas .contain .date-actu .actu-link:before {
    pointer-events: none;
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: white;
    background: linear-gradient(132deg, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
    /*box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);*/
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: width, height;
    transition-property: width, height;
}
#actu-cmcas .contain .date-actu .actu-link {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}
#actu-cmcas .contain .date-actu .actu-link:hover:before, #actu-cmcas .contain .date-actu .actu-link:focus:before, #actu-cmcas .contain .date-actu .actu-link:active:before {
  height: 0px;
  width: 0px;
}

#actu-cmcas .contain .actu-name {
	font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    height: 138px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}
#actu-cmcas .contain .btn-more-actu {
	color: #fcc845!important;
    border-color: #fcc845!important;
    width: auto;
    font-weight: 700;
}
/******************* END ACTUALITE *********************/


/********************************************************************/
/* AUTRE                      */
/*******************************************************************/
.bg-sobre-autre{
	background-color: #f5f5f5;
    float: left;
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

#carousel-autre{
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 10px 10px 38px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 38px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 38px -13px rgba(0,0,0,0.75);
}
.carousel-img{
    background-color: #000;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;    
    /*z-index: 2;*/
    -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 0.8;
}

.div-r{
    padding: 40px;
    background-color: #fcc845;
    height: 400px
}
.div-l{
	height: 400px;
	padding: 0px!important;
}
#carousel-autre{
	background-color: #fcc845;
}

.carousel-title{
    font-size: 80px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

#carousel-autre .carousel-pagination{
    background-color: #fcc845 !important;
    border-color: #2c407a !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 100%;
    position: relative;
    bottom: -60px;
    opacity: 0.5;
}

#carousel-autre .carousel-pagination.active{
    background-color: #2c407a !important;
    opacity: 1; 
}
#carousel-autre .icon-control{
	color: #2c407a;
}

.carousel-controls{
    display: none;
}

#carousel-autre hr {
    border-top: 1px solid #2c407a;
}
#carousel-autre h3 {
	text-transform: none;
}

/********************* END AUTRE ***************************/


#wave {
  position: relative;
  height: 74px;
  background: #a8a5a1;
  float: left;
  width: 100%;
}
#wave:before {
  	content: "";
    display: block;
    position: absolute;
    border-radius: 25% 100%;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 55%;
    height: 110px;
    background-color: #f5f5f5;
    /* left: -10px; */
    top: -6px;
}
#wave:after {
  	content: "";
    display: block;
    position: absolute;
    border-radius: 25% 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    width: 50%;
    height: 99px;
    background-color: #a8a5a1;
    right: 0px;
    top: 40px;
}

.add-events{
	font-size: 26px;
	border-color: transparent;
	background-color: transparent;
	color: #2c407a;
}

.add-events:hover{
	font-size: 26px;
	border-color: transparent;
	background-color: transparent;
	color: #2c407a;
}


