#ajax-modal .modal-content,
#modalLogin .modal-content,
#modalRegister .modal-content,
#modalRegister,
#modalLogin  {
    background-color: #0E163C;
}

.portfolio-modal .close-modal .lr,
.portfolio-modal .close-modal .lr .rl {
    background-color: #ffffff;
}
.checkbox-content label[for="charte"]{
    display: none;
}
#ajax-modal .modal-content .container,
#formContact .container {
    background-color: #0E163C;
}

#ajax-modal #ajax-modal-modal-body .bg-white {
    background-color: #0E163C;
}
#div-admin-select-create .text-undefined{
    display: none;
}
#ajax-modal label.control-label,
#ajax-modal .form-group .listEntry h6,
#modalLogin label,
#modalLogin small,
#modalRegister label {
    color: #fff;
}
#modalRegister label.error {
    color: #ff0000;
}

#ajax-modal .objectivetextarea .form-control{
    min-height: 70px !important;
}
#ajax-modal .form-control,
#ajax-modal .form-group #name,
#ajax-modal .modal-content .fieldset select,
#modalLogin .form-control,
#modalRegister .form-control {
    height: 40px ;
    background-color: transparent!important;
    border: 1px solid #272e50 !important;
    color: #fff!important;
    padding: 6px 12px!important;
}

#ajax-modal .modal-content .form-group select option{
    color: #272e50 !important;
}
#ajax-modal .jobFamilyselectMultiple .form-control {
    background-color: transparent!important;
    padding: 0;
}
#ajax-modal .select2-container-multi .select2-choices {
    min-height: 40px;
    background-color: #272e50!important;
    color: #fff!important;
}
#ajax-modal .md-editor textarea.form-control {
    min-height: 100px !important;
}
#ajax-modal .select2-container-multi {
    min-height: 53px;
}

#ajax-modal .select2-container-multi .select2-choices .select2-search-field input {
    background-color: #272e50!important;
    color: #fff;
}

#ajax-modal .form-group.infocustom p[class^="text-"] {
    color: #ffffff!important;
} 
#ajax-modal .modal-header {
    background-color: #fff !important;
}

#ajax-modal .modal-header #ajax-modal-modal-title {
    color: #0E163C !important;
}
.divNotConnected{
    background-color: #0E163C; 
    height:300px;
    padding-top: 20%; 
    color:white; 
    font-size: 40px
}

/* COFORM */

.coFormbody {
    background-color: #0E163C;
}

.coFormbody #wizardLinks li a.done .stepNumber {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #0e163c;
    /* font-size: 20px; */
}

.coFormbody #wizardLinks li a.done .stepDesc {
    color: #ffffff;
}

.coFormbody #wizardLinks li a.selected::before,
.coFormbody #wizardLinks li a.done::before {
    border-color: #ffffff;
}

.coFormbody #wizardcontainer .title-header:before,
.coFormbody #wizardcontainer .title-header .sectionStepTitle,
.coFormbody .sectionStep .title-header:before {
    border-color: #ffffff;
}

.coFormbody #wizardcontainer .questionBlock label h4 {
    color: #49cbe3!important;
}

.coFormbody #formQuest .questionList .questionBlock {
    text-align: center;
    font-size: 15px;
}

.coFormbody #formQuest .questionList .questionBlock div[class^="col-"] {
    display: inline-block;
    float: none;
}

.coFormbody #formQuest .questionList .questionBlock .form-group {
    text-align: left;
}

.coFormbody .rdo-grp .thradio label,
.coFormbody .form-check-label h4 {
    color: #fff!important;
}

#customHeader .coFormbody .swMain ul li a.selected::before,
#customHeader .coFormbody .swMain ul li a.done::before {
    border-color: #ffffff;
}

.infocustom {
    color: #ffffff;
}





/*filters header*/
.container-filters-menu {
    background-color: #202a5f;
}

#filterContainer .dropdown .btn-menu, #filters-nav .dropdown .btn-menu {
    border: 1px solid #ffffff;
    color: #202a5f;
}
#mainNav {
    box-shadow: 1px 0px 4px 0px #161315;
}

.searchBarInMenu #main-search-bar-addon, #mainNav .searchBarInMenu #second-search-bar-addon, #mainNav .searchBarInMenu #main-search-xs-bar-addon, #mainNav .searchBarInMenu #second-search-xs-bar-addon {
    background-color: #49CBE3!important;
}
#filterContainer .dropdown .dropdown-menu, #filters-nav .dropdown .dropdown-menu {
    border: 1px solid #202a5f;
    padding: 0px;
}
#filterContainer .dropdown .dropdown-menu button:hover, #filters-nav .dropdown .dropdown-menu button:hover {
    background-color: #49CBE3;
    color: #202a5f;
}
#filterContainer .dropdown .dropdown-menu button, #filters-nav .dropdown .dropdown-menu button {
    border: none;
    background: #202a5f;
    color: #fff;
    text-align: left;
    font-size: 14px;
    padding-left: 15px;
    padding: 10px 10px;
    padding-left: 15px;
    border-bottom: 1px solid #fff;
    /*text-align: center;*/
}

 #filterContainer .dropdown .dropdown-menu-large button,  #filters-nav .dropdown .dropdown-menu-large button {
     border: none;
     background: transparent;
     color: #333;
  }
#filterContainer .dropdown .dropdown-menu-large button:hover,  #filters-nav .dropdown .dropdown-menu-large button:hover {
    background-color: #202a5f;
    color: #ffffff;
}

.searchBar-filters .main-search-bar-addon {
    background-color: #202a5f!important;
}
#mainNav {
    border-bottom: 1px solid #202a5f!important;
    box-shadow: 1px 1px 3px #262626 !important;
}
.container-filters-menu #activeFilters .filters-activate {
    background-color: #49CBE3!important;
    color: #202a5f;
}
.searchObjCSS #input-sec-search .input-group-addon {
    border: 1px solid #ffffff!important;
}
.searchObjCSS #input-sec-search .input-global-search {
    border-color: #ffffff!important;
}
#filterContainer #input-sec-search .input-global-search, .searchBar-filters .search-bar {
    border-color: #ffffff!important;
}
#filterContainer #input-sec-search .input-group-addon, .searchBar-filters .input-group-addon {
    border: 1px solid #ffffff!important;
}
.searchObjCSS #input-sec-search .input-group-addon {
    color: #202a5f;
}

#filterContainer .dropdown, #filters-nav .dropdown {
    float: left;
    display: grid;
    /* height: 57px; */
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#filters-nav {
    text-align: center;
    background-color: #0E163C;
}

@media (max-width: 767px){
    #filters-nav .container-filters-menu {
        background-color: #202a5f!important;
        top: 94px;
    }
    #filterContainer .dropdown, .searchObjCSS .dropdown, #filterContainer #input-sec-search, .searchObjCSS #input-sec-search, #filterContainer #input-sec-search .input-global-search, .searchObjCSS #input-sec-search .input-global-search {
        width: 100%!important;
    }
    #main-search-bar-addon, #second-search-bar-addon, #main-search-xs-bar-addon, #second-search-xs-bar-addon {
        width: 15%;
    }
    .searchBarInMenu #main-search-bar-addon, #mainNav .searchBarInMenu #second-search-bar-addon, #mainNav .searchBarInMenu #main-search-xs-bar-addon, #mainNav .searchBarInMenu #second-search-xs-bar-addon {
        background-color: #202a5f!important;
    }
    #filters-nav .menu-filters-xs .searchBar-filters {
        display: none;
    }
    #mainNav #menuTopRight .btn-menu-connect {
        background-color: #ffffff !important;
        font-size: 12px !important;
        color: #202a5f !important;
        margin-top: 16px;
        padding: 0px;
        margin-right: auto !important;
    }
    .cosDyn-menuTop .cosDyn-right {
        padding : 0px 5px 0 0 !important;
        background: white!important;
    }
    .cosDyn-menuTop .cosDyn-left .cosDyn-logo{
        height: 36px!important;
    }
    .cosDyn-menuTop .cosDyn-left .cosDyn-xsMenu .cosDyn-icon {
        padding-top: 3px!important;
        font-size: 26px!important;
        color: #7a7a7a!important;
    }
}
.searchObjCSS .count-result-xs {
    color: #ffffff;
}
.listEntry h6 {
    text-transform: none;
}
.form-check label[class^="container"]{
    font-size: 15px;
}
#modalRegister .form-register-inputs .agreeContent {
    display: none;
}
#div-admin-select-create .menuAdmin .list-group-item .btnNavAdmin {
    text-align: left;
    float: left;
    left: 42%;
    position: relative;
    color: #202a5f!important;
}
.contain-admin-add .btn-open-form {
    color: #202a5f !important;
}
.ficheMetier .btn-return {
    margin-bottom: 2px;
    border: 2px solid #90b2f8;
    font-size: 16px;
    color: #4285f4
}
#openModal .btn-return {
    display: none;
}
.main-container {
    background:linear-gradient(#060A19,#1A2660) !important; 
}
#ajaxFormModal .md-editor.md-fullscreen-mode{
    background-color: #202a5f !important;
}
.md-editor.md-fullscreen-mode .btn{
    color: white !important;
}
@media (min-width: 1338px){
    .searchObjCSS .searchBar-filters{
        width: 37%!important;
    }
    .searchBar-filters .main-search-bar-addon{
        width: 7% !important;
    }

}
@media screen and (min-width: 1200px) and (max-width: 1337px) { 
    .searchObjCSS .searchBar-filters{
        width: 44%!important;
    }
    .searchBar-filters .main-search-bar-addon{
        width: 7% !important;
    }

}
#filterContainerInside .searchBar-filters  .initialisSearch{
    background: white;
    font-size: 16px;
    color: #202a5f;
    margin-top: 1px;
    padding: 8px;
    border-radius: 20px;
    height: 100%;
}
.hidden-lg .initialisSearch{
    width: 100%;
    border-radius: 4px; 
    background: white;
    color: #202a5f;
    font-size: 17px;
}
.div-password .icon-eye {
    color: white;
}


.form-login input:-webkit-autofill,
.form-login input:-webkit-autofill:hover,
.form-login input:-webkit-autofill:focus,
.form-login input:-webkit-autofill:active {
    background-color: transparent !important;
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-background-clip: transparent !important;
    -webkit-text-fill-color: white !important;
}

#filterContainerInside .searchBar-filters .input-group-addon{
    border-radius: 0px 20px 20px 0px;
}

.cosDyn-menuTop #menuTopRight.cosDyn-right .cosDyn-userProfil {
    background: #0E163C!important;
    color: #fff!important;
    font-size: 16px;
}
.cosDyn-menuTop .cosDyn-left .cosDyn-app .cosDyn-buttonList.active{
    color: #1a2660 !important;
    text-decoration :underline !important;
}
.cosDyn-menuTop .cosDyn-left .cosDyn-logo{

    object-fit: contain;
}