.d-inline-block{
  display: inline-block !important;
}

.sp-text:empty:not(:focus):before {
  content: attr(placeholder);
  color: #9e9e9e;
}

.sp-text:empty:before {
  content: attr(placeholder);
  color: #9e9e9e;
}

.sp-is-loading  {
  background: #eee;
  background: linear-gradient(110deg, transparent 8%, #d7e2ed6b 18%, transparent 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine cubic-bezier(0.14, 0.58, 0.81, 0.74) infinite;

}

@keyframes shine {
  100% {
    background-position-x: -200%;
  }
}

  #bg-homepage{
    width: 100%;
    border-top: 1px solid #ccc; 
  }

  #openModal .modal-content .text-center{
    /*background-color: red;*/
    /*float: none;*/
    position: initial;
  }
  /* The Close Button */

    .close:hover,
    .close:focus {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    } 
    .cursor-hand:hover,
    .cursor-hand:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .modal-content {
        width: 100%;
      }
    }
    #dragNdrop{
      cursor: move;
    }



    .header-block{
      background: #fff;
    }

    .cms-block-header .navbar {
      background-color: #fff;
      border: 1px solid #e7e7e7;
    }

    @media (min-width: 768px) {
      .cms-block-header .navbar {
        padding: 10px;
        display: flex;
        justify-content: center;
        box-shadow: 0px 0px 0px #000;
      }
      .cms-block-header .nav li {
        margin-top: 5px;
      }
    }

    .cms-block-header .nav {
      display: table;
      height: 50px;
      width: 100%;
    }

    .cms-block-header .nav li {
      display: inline-block;
      height: 50px;
      /*width: 16.666666667%;*/
      line-height: 50px;
      text-align: center;
      border-right: 1px solid #fff;
      white-space: nowrap;
    }
    .cms-block-header li a {
      color: #000;
      font-size: 14pt;
      border: 1px solid #e0e5ea;
    }

    @media (max-width: 767px) {
      .cms-block-header .nav li {
        display: block;
      }
      .cms-block-header #navbar-collapse-block .navbar-nav {
        margin: 10px 0px;
      }
    }


    #listBlockCMS .main-container {
     padding: 0px !important; 
   }
   .openListTpls{
    transition: width 9s ease-out 4s;
    border-radius: 0px;
  }
  .openListTpls:hover:before , .openListTpls:focus:before , .openListTpls:active:before  {
    content: '';
    font-family: Arial, Helvetica, sans-serif;
    transition: width 9s ease-out 4s;
  }


  #imagecmsmodal{
    z-index: 999999;
    background-color: #000000c7;
  }
  #imagecmsmodal .modal-dialog{
    text-align: center;
    width: 100%;
    top: 50px;
  }
  
  #listHeader{
    display: block !important;
  }

  @media (max-width: 500px){
    .modal-content .fieldsetmargin:before {
      width: 80%;
    }
    .modal-content .fieldsetpadding:before {}
    .modal-content .fieldsetmode:before {}
  }
  .custom-block-cms{
    height: auto;
  }
  .custom-block-cms.is-loading-block{
    height:200px;
  }
  .custom-block-cms.blur{
    box-shadow: 0px 1px 3px 1px #00b9ff inset;
  }
  .command-block-pos{
        position: absolute;
    top: 0px;
    width: 10%;
    height: 30px;
    left: 45%;
    z-index: 100000;
    right: 45%;
    background: #00b9ff;
    line-height: 25px;
    color: white;
    border-radius: 0px 0px 10px 10px;
    vertical-align: middle;
    display: inline-flex;
  }
  .command-block-pos .handleDrag{
    vertical-align: middle;
    width: 30%;
    text-align: center;
  }
 .command-block-pos .spCustomBtn{    
        width: 50%;
    position: relative;
    text-align: center;
    border-left: 1px solid #ffffff9e;
    border-right: 1px solid #ffffff9e;
    color: white;
    line-height: 26px;
    vertical-align: middle;
    font-size: 20px;
}
  .handleDrag{
    color: white;
    }
 .draggable-zone-block{
  width: 100%;
  height: 100px;
  background: orange;
  position: relative;
  float: left;
 }
  #all-block-container .custom-block-cms:hover .handleDrag{
    display: block;
  }
   .handleDrag .fa-arrows{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
  
  /*.block-parent:hover .handleDrag{
      display: block;
  }*/
  .ui-state-highlight { height: 1.5em; line-height: 1.2em; }

  .modal-content .fieldset{
    border:1px solid grey ;
    margin: 15px 0 15px 0 ;
    padding: 10px 5px; 
  }
  @media (max-width: 500px){
    .modal-content .fieldsetmargin:before {
      width: 80%;
    }
  }
  .modal-content .fieldsetmode .info{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 23px;
    background: red;
    color: white;
    border-bottom-left-radius: 14px;
    cursor: pointer;
  }
  .smartgrid-slide-element .img-back-card img {
    width: 100%;
    min-height: 250px !important;
  }
  .smartgrid-slide-element .img-back-card .div-img {
    position: relative;
    width: 100%;
    height: 250px;
    background: rgb(0,155,0,0,0.9);
}

/**************  CSS editTPL Btn by Nicoss *********************/

.content-btn-action {
    display: none;
    z-index: 10;
    position: absolute;
    top: 75px;
    right: 20px;
}
.block-parent:hover .content-btn-action, .block-parent:focus .content-btn-action  {
    display: block;
    z-index: 99999;
}
.material-button {
      position: relative;
      top: 0;
      z-index: 1;
      width: 45px;
      height: 45px;
      font-size: 22px;
      color: #fff;
      background: #2C98DE;
      border: none;
      border-radius: 50%;
      box-shadow: 0 3px 6px rgba(0,0,0,.275);
      outline: none;
      display: block;
  }
  .material-button-toggle {
      z-index: 3;
      width: 50px;
      height: 50px;
      margin: 0 auto;
  }
  .material-button-toggle span {
      -webkit-transform: none;
      transform:         none;
      -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
      transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
  }
  .material-button-toggle.open {
      -webkit-transform: scale(1.3,1.3);
      transform:         scale(1.3,1.3);
      -webkit-animation: toggleBtnAnim .175s;
      animation:         toggleBtnAnim .175s;
  }
  .material-button-toggle.open span {
      -webkit-transform: rotate(45deg);
      transform:         rotate(45deg);
      -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
      transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
  }

  #options {
    height: 40px;
  }
  .option {
      position: relative;
  }
  .option .option1,
  .option .option2,
  .option .option3 {
      filter: blur(5px);
      -webkit-filter: blur(30px);
      -webkit-transition: all .175s;
      transition:         all .175s;
  }
  .option .option1 {
      -webkit-transform: translate3d(50px,50px,0) scale(.8,.8);
      transform:         translate3d(50px,50px,0) scale(.8,.8);
  }
  .option .option2 {
      -webkit-transform: translate3d(0,50px,0) scale(.8,.8);
      transform:         translate3d(0,50px,0) scale(.8,.8);
  }
  .option .option3 {
      -webkit-transform: translate3d(-50px,50px,0) scale(.8,.8);
      transform:         translate3d(-50px,50px,0) scale(.8,.8);
  }
  .option.scale-on .option1, 
  .option.scale-on .option2,
  .option.scale-on .option3 {
      filter: blur(0);
      -webkit-filter: blur(0);
      -webkit-transform: none;
      transform:         none;
      -webkit-transition: all .175s;
      transition:         all .175s;
  }
  .option.scale-on .option2 {
      -webkit-transform: translateY(-28px) translateZ(0);
      transform:         translateY(-28px) translateZ(0);
      -webkit-transition: all .175s;
      transition:         all .175s;
  }

  @keyframes toggleBtnAnim {
      0% {
          -webkit-transform: scale(1,1);
          transform:         scale(1,1);
      }
      25% {
          -webkit-transform: scale(1.4,1.4);
          transform:         scale(1.4,1.4); 
      }
      75% {
          -webkit-transform: scale(1.2,1.2);
          transform:         scale(1.2,1.2);
      }
      100% {
          -webkit-transform: scale(1.3,1.3);
          transform:         scale(1.3,1.3);
      }
  }
  @-webkit-keyframes toggleBtnAnim {
      0% {
          -webkit-transform: scale(1,1);
          transform:         scale(1,1);
      }
      25% {
          -webkit-transform: scale(1.4,1.4);
          transform:         scale(1.4,1.4); 
      }
      75% {
          -webkit-transform: scale(1.2,1.2);
          transform:         scale(1.2,1.2);
      }
      100% {
          -webkit-transform: scale(1.3,1.3);
          transform:         scale(1.3,1.3);
      }
  }

/**************  End CSS editTPL Btn by Nicoss *********************/


/****************************begin tpls engine css******************/
   #listeTemplate .main-container {
    padding: 0px !important; 
  }
  .tpl-engine-btn-list a {
    color: #fff;
    text-decoration: none;
    font-family: 'Arial' !important;
    font-size: 15px;
  }
  .tpl-engine-btn-list {
    position: fixed;
    top:20%;
    left:0;
    z-index: 10;
    width: 10px;
  }
  .tpl-engine-btn-list ul {
    padding: 0px;
  }
  .tpl-engine-btn-list ul:hover li {
    margin-left: 0px;
    border:1px solid #1d3b58;
  }
  .tpl-engine-btn-list ul li {
    display: block;
    margin: 1px;
    background: #1d3b58;
    width: 245px;
    text-align: right;
    padding: 4px;
    margin-left: -206px;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .tpl-engine-btn-list ul li:hover {
    margin-left: 0px;
    background: rgba(255, 255, 255, 1);
    border:1px solid #1d3b58;
  }
  .tpl-engine-btn-list ul li:hover a {
    color: #000;
  }
  .tpl-engine-btn-list ul li:hover i {

    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .tpl-engine-btn-list ul li i {

    margin-left: 15px;
    padding-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .btn-pulse{
    box-shadow: 0 0 0 0 rgba(254, 76, 61, 0.9);
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  }

  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

  .whole-page {
    position: relative;
    z-index: 100000;
  }
  .filter-badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transform: translate(-50%,-50%)!important;
    position: absolute!important;
    top: 0!important;
    background-color: #ff9f11!important;
  }

  .bg-blur{
    backdrop-filter: blur(5px);
    padding: 20px;
  }
  .block-parent .bg-support{
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255,255,255,0.9);
    color: #040404;
    padding: 0 10px;
    border-bottom-left-radius: 7px;
  }
/****************************end tpls engine csssssssss********************/

/****image picker ************/
 .blockCmsBgPaintselect{
  overflow : scroll !important;
  height: 450px !important;
  position : relative !important;
}

.blockCmsBgPaintselect label,#blockCmsBgPaint{
  display: none;
}
/************block cms line separator*******/
  .blockCmsLineSeparatorIconuploader{
    height: 0;
    visibility: hidden;
    width: 100% !important;
    -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  }
  .fieldsetblockCmsLineSeparator:hover .blockCmsLineSeparatorIconuploader{
    height: auto;
    visibility: visible;
     opacity: 1;
  }

  .fieldsetblockCmsUnderline div[class^="blockCmsUnderlineWidth"],
  .fieldsetblockCmsUnderline div[class^="blockCmsUnderlineHeight"],
  .fieldsetblockCmsUnderline div[class^="blockCmsUnderlineSpace"],
  .fieldsetblockCmsUnderline div[class^="blockCmsUnderlineMargeBottom"]
  {
    display: none;
  }
    .fieldsetblockCmsUnderline:hover div[class^="blockCmsUnderlineWidth"],
  .fieldsetblockCmsUnderline:hover div[class^="blockCmsUnderlineHeight"],
  .fieldsetblockCmsUnderline:hover div[class^="blockCmsUnderlineSpace"],
  .fieldsetblockCmsUnderline:hover div[class^="blockCmsUnderlineMargeBottom"]
  {
    display: block;
  }
  /*@media(max-width: 450px){
    .block-parent [class*='col-'] {
        padding-right:0 ;
        padding-left:0 ;
    }
  }*/

  /*input type select style*/
  .modal-content .form-group select, .modal-content .fieldset select {
    border: 1px solid #CBCBCB !important;
    border-radius: 4px !important;
    padding-left: 12px;
    color: #555965;
    height: 34px;
    background-color: #fff;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: all 0.5s ease-out;
  }

/*circle progress bar animation************/
    @keyframes loading-1 {
       0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
      }
       100% {
         -webkit-transform: rotate(36);
         transform: rotate(36deg);
      }
    }
     @keyframes loading-2 {
       0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
      }
       100% {
         -webkit-transform: rotate(72);
         transform: rotate(72deg);
      }
    }
     @keyframes loading-3 {
       0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
      }
       100% {
         -webkit-transform: rotate(108);
         transform: rotate(108deg);
      }
    }
     @keyframes loading-4 {
       0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
      }
       100% {
         -webkit-transform: rotate(144);
         transform: rotate(144deg);
      }
    }
     @keyframes loading-5 {
       0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
      }
       100% {
         -webkit-transform: rotate(180);
         transform: rotate(180deg);
      }
    }
.el-info-container{
  position:relative;
  z-index:20;
}
.content-btn-action .popover{
  top: 66px !important;
  left: -216px !important;
  display: block !important;
}

  /****************flexbox super cms****************/
  .sp-cms-10{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      position:relative;
      width:10% !important;
      flex-shrink: 0;
  }
  .sp-cms-20{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      position:relative;
      width:20% !important;
      flex-shrink: 0;
  }
  .sp-cms-30{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      position:relative;
      width: 30% !important;
      flex-shrink: 0;
  }
  .sp-cms-40{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      position:relative;
      width: 40% !important;
      flex-shrink: 0;
  }
  .sp-cms-50{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      position:relative;
      width: 50% !important;
      flex-shrink: 0;
  }
  .sp-cms-60{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      position:relative;
      width: 60% !important;
      flex-shrink: 0;
  }
  .sp-cms-70{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      position:relative;
      width: 70% !important;
      flex-shrink: 0;
  }
  .sp-cms-80{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      position:relative;
      width: 80% !important;
      flex-shrink: 0;
  }
  .sp-cms-90{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      position:relative;
      width: 90% !important;
      flex-shrink: 0;
  }
  .sp-cms-100{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      position:relative;
      width: 100% !important;
      flex-shrink: 0;
  }

  .sp-cms-std{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      position:relative;
      flex-shrink: 0;
  }

  .sp-image {
      border: solid 2px transparent;
  }

  .ss{
      /* On limite la largeur */
      width: 100%;
      max-width: 960px;

      /* On centre */
      margin: 0 auto;

      /* Et on ajoute une marge (sur les petits écrans seulement) */
      padding: 0 20px;

      /*
      * Le "box-sizing: border-box;" permet de ne pas impacter la width avec le padding
      * La largeur max réelle du contenu est donc de 920px =&gt; 960 - (2 x 20)
      */
      box-sizing: border-box;
  }
  .sp-cms-container {
      padding-right: 15px !important;
      padding-left: 15px !important;
      margin-right: auto !important;
      margin-left: auto !important;
      max-width: 1170px;

      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      position:relative;
      flex-shrink: 0;
  }

  @media (max-width: 600px) {
      .sp-cms-100, .sp-cms-90, .sp-cms-80, .sp-cms-70, .sp-cms-60, .sp-cms-50, .sp-cms-40, .sp-cms-30, .sp-cms-20, .sp-cms-10 {
          flex-direction:column;
          left: 0 !important;
          tip: 5px !important;
          width: 100% !important;
      }
  }
  @media (max-width: 800px) {
      .sp-cms-100, .sp-cms-90, .sp-cms-80, .sp-cms-70, .sp-cms-60, .sp-cms-50, .sp-cms-40, .sp-cms-30, .sp-cms-20, .sp-cms-10,.sp-cms-std {
          /*flex-direction:column;*/
          left: 0 !important;
      }
      .sp-cms-container{
        display: block;
      }
  }
  /**************end flexbox super cms****************/
/***Container super cms***/
   .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card-sp-cms {
    background-color: #ababab;
    margin: 5px auto;
    height: 85px;
    box-shadow:  0px 0px 6px 0px rgb(0 0 0 / 22%);
    cursor: pointer;
    transition: 0.4s;
  }

  .card-sp-cms .card_icon {
    width: inherit;
    text-align: center;
    height: inherit;
  }

  .card-sp-cms .card_title {
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: -55px;
  }

  .card-sp-cms:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 0px 0px 0px 6px rgb(0 0 0 / 10%);
  }

  .editing {
    border: dashed 2px gray !important;
  }
  .in_edition {
    /* transform: scale(1.01); */
    outline: #0ff solid 3px !important;
    /* box-shadow: 0px 0px 5px 2px #0ff !important; */
  }
  .selected-mode:hover {
    cursor: context-menu;
  }
  .selected-mode:hover > .stop-propagation {
    cursor: default;
  }

  .selected-mode {
    /*box-shadow: #00b9ff 0px 0px 1px 3px;*/
    /*border : 2px dotted white !important;*/
  }
  /* .super-cms:not(.custom-block-cms):hover{
    box-shadow: #00b9ff 0px 0px 1px 1px;
    cursor: pointer;
  } */

  .spDrag {
    top: -15px;
    z-index: 99999;
    position: absolute;
    right: 50px;
    cursor: pointer;
    display: none;
    font-size: 20px;
    -webkit-text-fill-color: #37474f;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
  }  
  .spCustom {
    top: -15px;
    z-index: 99999;
    position: absolute;
    right: 70px;
    cursor: pointer;
    display: none;
    font-size: 20px;
    -webkit-text-fill-color: #37474f;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
  }

  .title-white {
    color: white;
    top: -20px;
    position: relative;
  }

  
  .title-black {
    background-color: white;
    color: #37475e;
    top:-30px;
    position: relative;
  }
  .sp-cms-options {
    padding-bottom: 5px;
    padding-top: 10px;
  }

  @media all and (max-width: 500px) {
    .card-list {
      flex-direction: column;
    }
  }

   .super-cms-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: black;
    cursor: pointer;
    border: solid 2px darkgray;
    border-radius: 50%;
  }
   .col-elem-value { 
    display: flex;
    flex-wrap: wrap;
  }

  .element-field {
    background-color: #47525d0d;
    padding: 10px;
    flex: 50%;
  }

  @media (max-width: 800px) {
    .elem-value {
      flex-direction: column;
    }
  }

  .bg-transparent{
    background-color: transparent;
  }
  .unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
  }

/***End container super cms***/

  /*Tools bar for edit cms******************/


  .other-class {
      background-color: #333 !important;
      font-family: monospace;
      word-spacing: 10px;
      color: #ffa200;
      font-size: 20px;
  }

  .other-css {
      background-color: #333 !important;
      font-family: monospace;
      color: #00ff75;
      font-size: 20px;
  }

  .other-html {
      background-color: #333 !important;
      font-family: monospace;
      color: #cfd8dc;
      font-size: 20px;
  }

  .delete-super-cms {
      right: 30px;
      position: absolute;
      border-color: transparent;
      font-size: initial;
  }

  .closeBtn {
      background-color: #eee;
      color: #ea4335;
      border-radius: 15px;
      font-size: 20px;
      right: 2px;
      position: absolute;
      cursor: pointer;
      margin: 5px;
  }

  .gotoparentBtn {
    color: #449ee3;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    cursor: pointer;
    visibility: hidden;
  }

  .button-wrapper{
    padding-top: 7px;
    padding-left: 5px;
    display: -webkit-inline-box;
    margin-left: 0px;
  }

  .colorize-wrapper{
    display: -webkit-inline-box;
    margin-left: 0px;
  }

  .contentEditable {
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    border : none
  }

  .blockName {
    background-color: rgb(113 113 113 / 0%);
    border : none;
    font-size : large ;
    text-align: center;

  }


  .sp-text{
    cursor: text;
    padding-left: 5px;
    padding-right: 5px;
    outline: 0px solid transparent;
    text-transform: none;
    min-height: 25px;
  }
   
   div[contenteditable="true"] {
     outline: 0px solid transparent;
   }

   .block-parent .edit-bg {
    z-index: 20000;
    position: relative !important;
   }

   .edit-main-bg {
    z-index: 20000;
    position: absolute;
   }
   .sp-text a{
    color: inherit;
   }

  .editable-bg{
    border-radius: 4px;
    border-color: rgb(172, 172, 170);
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer !important;
  }

.cms-area-selected {
  padding: 20px;
  font-size: 20px;
}

/******************Menu right displaying cms list******************/

/* .panel-display-cms{
  position: fixed; 
  z-index: 100000; 
  right: 0;
  top: 40px;
  height: 95%;
  width: 420px;
} */

#display-cms{
  width: 100%;
}

/*#list-cms-disponible li:hover {
  text-shadow: none;
}*/
#list-cms-disponible li:hover {
  text-shadow: none !important;
}

#list-cms-disponible {
  padding-left: 2px;
  list-style: none;
}

#list-cms-disponible .cms-disponible{
 width: 100%;
 text-decoration: none;

}
 /*.sidenav {
  height: 100%;
  width: 60%;
  position: fixed;
  z-index: 10;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}*/

/*.sidenav a:hover {
  color: #f1f1f1;
}*/

.panel-display-cms .close-list-cms {
  font-size: 30px;
}

.black-default-cms{
  display: flex;
  align-items: center;
  border-top: solid 1px #d7d7d736;
  border-bottom: dashed 1px #9e9e9e99;
}

.black-default-cms .sp-div-img{
  display: inline-block;
  width: 85px;
  text-align: center;
}

.black-default-cms .display {
  width: 85px;
  text-align: center;
}

#sp-main-cms {
  transition: margin-left .5s;
  position: relative;
  box-shadow: 0px 0px 3px 0px #365455 !important;
}

.tpl-engine-right{
  z-index: 100000;
  right: 0;
  overflow: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  height: -webkit-fill-available;
  height: 96%;
}

.over-to-show{
  /*background-color: red !important;*/
}

.show-on-hover {
    display: none;
    border: 2px dotted deepskyblue;
    background-color: aliceblue;
    width: 100%;
}
.over-to-show:hover {

  /*background-color: red !important;*/
}

.over-to-show:hover .show-on-hover {
  display: block;
  /*position: relative;*/
  /*left: 50%;*/
  z-index: 10000;
  /*color: red;*/
}

.add-cms-here{
/*  z-index: 100000;
  bottom: -15px;
  position: absolute;
  left: 46.5%;*/
}

.options-area {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.new-appended-menu{
  font-size: 20px !important;
  font-weight: 800 !important;
  color: #000000 !important;
  padding-bottom: 0pxpx !important;
  margin-left: 10pxpx !important;
  text-transform: capitalize !important;
}

/* Menu */

.tpl-cms-menu {
    position: absolute;
    width: 200px;
    padding: 2px;
    margin: 0;
    border: 1px solid #bbb;
    background: #eee;
    background: linear-gradient(to bottom, #fff 10%, #e5e5e5 75%, #e5e5e5 100%);
    z-index: 100000;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.2);
    opacity: 0;
    transform: translate(0, 15px) scale(.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
    display: flex;
    flex-direction: column;
}

.tpl-cms-menu-item {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.tpl-cms-menu-btn { 
    display: block;
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 8px;
    border-radius: 3px;
}

button.tpl-cms-menu-btn {
    background: none;
    line-height: normal;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
    text-align: left;
    font-size: 13px !important;
}

a.tpl-cms-menu-btn {
    outline: 0 none;
    text-decoration: none;
    font-size: 13px;
    overflow: hidden;
}

.tpl-cms-menu-text {
    margin-left: 25px;
}

.tpl-cms-menu-btn .fa {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.tpl-cms-menu-item:hover > .tpl-cms-menu-btn { 
    color: #fff; 
    outline: none; 
    background-color: #2E3940;
    background: linear-gradient(to bottom, #5D6D79, #2E3940);
    border: 1px solid #2E3940;
}

.tpl-cms-menu-item-disabled {
    opacity: .5;
    pointer-events: none;
}

.tpl-cms-menu-item-disabled .tpl-cms-menu-btn {
    cursor: default;
}

.tpl-cms-menu-separator {
    display:block;
    margin: 7px 5px;
    height:1px;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #fff;
    background-color: #aaa;
}

.tpl-cms-menu-item-submenu::after {
    content: "";
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-left-color: #808080; 
}

.tpl-cms-menu-item-submenu:hover::after {
    border-left-color: #fff;
}

.tpl-cms-menu{
    /*top: 4px;*/
    left: 190px;
    display: none;
}

.tpl-menu-show,
.tpl-cms-menu-item:hover > .tpl-cms-menu {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    pointer-events: auto;
}

.tpl-cms-menu-item:hover > .tpl-cms-menu {
    transition-delay: 300ms;
}

/******************End menu right displaying cms list******************/

  /*end tools bar for edit cms******************/


/* #supercms-overlay {
  position: fixed;
  display: none;
  width:calc(100% - 440px);
  height: 100%;
  top: 0;
  overflow: auto;
  left: 40px;
  right: 0;
  bottom: 0;
  padding: 150px 0 0;
  background-color: #fffffffa;
  z-index: 99999;
} */

/******************ToolsBar edit text******************/

.bold {
  font-weight: bold;
}
.italic{
 font-style: italic;
}

.right{
 text-align: right;
}
.center{
 text-align: center;
}

.left{
 text-align: left;
}
.justify{
 text-align: justify;
}
.form_font{
display: block;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#container fieldset {
  margin: 2px auto 0px;
  width: 100%;
  min-height:26px;   
  border: solid 1px #212121;
  padding-left: 7px;
  padding-bottom: 10px;
}
#container button {
  width: 5ex;
  text-align: center;
  padding: 1px 3px;
  height:30px;
  width:30px;
  background-repeat: no-repeat;
  background-size: cover;
  border:none;
}

#toolsBar-edit-block .fontStyle{
  background-color:#4e4e4e  ;
  color: #ffffff;
}

#toolsBar-edit-block select{
  background-color: #4e4e4e;
  color: #ffffff;
}

#toolsBar-edit-block .sp-colorize{
  border: none;
  background-color: #404040;
  ;
}

.flex-control{
  display: block;
}
.colorize-wrapper{
  position: relative;
  top : 3.5px ;
}

#container img{
    width:100%;
}
#container .bold{
font-weight: bold;
}
#container .italic{
  font-style: italic;
}
#container .underline{
 text-decoration: underline;
}
#container .color-apply{
  width: 55px;
  height: 36px;
}
#container #input-font{
  width: 163px;
  height: 27px;
}

.align-setting{
  color : white;
  border : solid;
  border-width: 1px;
  background-color: #3a3a3a00;
  padding: 1px;
}

.transform-rotate-90{
  transform: rotate(90deg);
}

.justify-setting{
    color : white;
    border : solid;
    border-width: 1px;
    background-color: #3a3a3a00;
    padding: 1px;
}

#container #fontSize{
  width: 50px;
  height: 27px;
}

#container .loader {
  border: 6px solid #f3f3f3; 
  border-top: 6px solid #3498db; 
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  line-height: 20px;
}


/*  
 button {
  font-size: 18px;
  font-family: FontAwesome;
  color: inherit;
 } 
  */
 
/* Begin:text-editor */
.cms-text-editor-header{
  background-color: #343434;
  padding: 5px;
}

.cms-text-editor-group{
  display: flex;
}

.cms-text-editor-group:not(:last-child){
  margin-bottom: 5px;
}

.cms-text-editor-form{
  line-height: 0;
}

.cms-text-editor-form:not(:last-child){
  margin-right: 4px;
}

.cms-text-editor-form-font{
  width:-webkit-fill-available;
}

.cms-text-editor-form-control{
  border:none;
  background-color: transparent;
  height: 25px;
  background-color: #4f4f4f;
  color: white;
  padding: 0px 4px;
  width: 60px !important;
}

.cms-text-editor-form-control#input-font{
  width: 100% !important;
}

.cms-text-editor-form-control:focus{
  outline: none;
}

.cms-text-editor-form-control option{
  background-color: #4f4f4f;
}

.cms-text-editor-form-color{
  position: relative;
}

.cms-text-editor-form-color span{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  border-radius: 2px;
  pointer-events: none;
  color: black;
}

.cms-text-editor-form-color input{
  border: none;
  padding: 0;
  height: 25px;
}
.cms-text-editor-form-color input::-webkit-color-swatch-wrapper {
  padding: 0;
}
.cms-text-editor-form-color input::-webkit-color-swatch {
  border: none;
}

.cms-text-editor-form-color .sp-dd{
  display: none;
}

.cms-text-editor-form-color .sp-replacer{
  width: 44px;
  height: 25px;
}


.cms-text-editor-actions{
  margin: 0px 4px 0px 0px;
  padding: 0;
  display: flex;
}

.cms-text-editor-actions li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.cms-text-editor-actions li button{
  border: none;
  width: 28px;
  height: 25px;
  background-color: #4f4f4f;
  color: white;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  display: block;
}

.cms-text-editor-actions li button.active{
  background-color: #3f93f9;
}

.cms-text-editor-actions li:not(:last-child) button{
  border-right: 1px solid #707070;
}

.cms-text-editor-body{
  height: 100%;
}

.cms-text-editor-preview{
  height: 100%;
  padding: 10px;
  color: white;
  background-color: #3d3d3d;
}

.cms-text-editor-preview:focus{
  outline: none;
}
/* End: text-editor */

.cmsbuilder-block, .cmsbuilder-block .container{
  position: relative;
}

.block-footer {
  position: relative !important;
  bottom: 0px !important;
  z-index: 999998;
}

.default-text-params{
  position: relative;
  width : 100% ;
  height: auto;
  cursor: default;
}

.spButtonBlock:hover{
  text-decoration: none;
}

.spTitleBlock{
    position: relative;
    float: left;
    width: 100%;
    height: fit-content;
}

.tpls .using{
  box-shadow: 0 2px 5px 0 #4caf50, 0 2px 10px 0 #4caf50;
}
.tpls .used{
  box-shadow: 0 2px 5px 0 #ffc107, 0 2px 10px 0 #ffc107;
}

/* group buttons pages */
#costum-form-pages .btn-group-content button {
  background-color: transparent;
  color: white;
  font-weight: bold;
}

#costum-form-pages .btn-group-content button:hover {
  background: #2C3E50;
}

#costum-form-pages .btn-group-content button.btn-active {
  background: #086784;
  border: 1px solid white;
}
/* end group buttons pages */

/* Default css line separator */ 

.superLineSeparator {
  position:absolute;
  transform:translate(-50%,-50%);
  left: 50%;
  background-color: #666666;
  height: 24px;
  width: 50%;
  /* border: 3px double black; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.superLineSeparator .icon{
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  background: transparent;
  color: black;
}

.superButton{
    width : 179px;
    height : max-content;
    color : black;
    background : #666666;
    /* border : 5px solid black; */
    font-size : 18px;
    text-align : center;
    /* line-height : initial; */
}

.superIcon{
  width: max-content;
  height: max-content;
  border: none;
  background-color: #666666;
  color : black;  
  font-size: 50px
}