.community{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 15px 30px rgb(0 0 0 / 20%);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* padding: 45px 0px; */
    background-color: white;
    overflow: visible;
  }

.community .swiper-container{  
  width: 100%;
  height: 100%;
}
  .community .hand{
      position: absolute;
      right: -131px;
      bottom: -137px;
      width: 50%;
  }

  .community .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .community .swiper-slide:hover .fa-eye{
    display: inline-block;
  }
  .community .swiper-slide .fa-eye{
    display: none;
    padding: 0 5px 0 5px;
    background: rgb(0,0,0,0.6);
    color: white;
    border-radius: 0 0 16px 0;
    font-size: 24px;
  }
  .community .swiper-slide .img-container{
    position: absolute;
    height: 185px;
    width: 185px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .community .swiper-slide-active .img-container{
    border: 11px solid #5C5D5E ;
  }
  .community .swiper-slide-next .img-container{
    border: 11px solid #008037 ;
  }
  .community .swiper-slide .img-container{
    border: 11px solid #f77d0d;
  }
  .community .swiper-slide .inner{
    position: relative;
    height: 200px;
    width: 200px;
    margin: 10px auto;
    border-radius: 50%;
    background-size: initial;
    background-position: center;
    border: 4px solid #008037;
  }

  @media (max-width:1024px) {
    .community .swiper-slide-active {
      text-align : -webkit-center;
    }
  }

  .community .title{
    margin-bottom: 15px;
  }
  .community .description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-size: 13px;
  }
  /*.community .swiper-slide{
    padding-right: 55px;
    padding-left: 55px;
  }
  @media (max-width: 765px ){
    .community .swiper-slide{
      padding-right: 5px;
      padding-left: 5px;
    }
  }*/

  .community {
    position: relative;
    height: auto;
    width: auto;
  }


@media (max-width: 800px) {
  .cmsbuilder-block-container {
    width: 100% !important;
    background-size: contain;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .cmsbuilder-block-container div {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}