
#dropdown_search .slide-hover a:hover{
	text-decoration:underline !important;
}

#filters-nav{
	left:230px;
}

.searchEntityContainer.smartgrid-slide-element{
	min-height: 250px !important;
    max-height: 250px !important;
    margin-bottom: 25px !important;
}

.smartgrid-slide-element .item-slide{
	max-height:inherit;
}

.smartgrid-slide-element .img-back-card .container-img-card{
	text-align: center !important;
}

.smartgrid-slide-element .img-back-card img {
	max-height: 230px !important;
	width : auto !important;
}

.smartgrid-slide-element .img-back-card .text-wrap{
    background: rgba(150, 197, 126, 0.9) !important;
}

.smartgrid-slide-element .img-back-card .text-wrap .entityType{
    font-size:14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.smartgrid-slide-element .img-back-card{
    text-shadow: 2px 2px 3px #000;
}


.smartgrid-slide-element .slide-hover{
	background: rgba(150, 197, 126, 0.8) !important;
	text-shadow: 2px 2px 3px #000;
}

.smartgrid-slide-element .slide-hover .btn-link a{
	text-shadow: unset;
}


.slide-hover .entityLocality, .img-back-card .entityLocality {
    color: #c9eff6 !important;
}    

.tag-list, .socialEntityBtnActions{
	text-shadow: 0 0 black;
}
@media (max-width: 767px) {
	.btn-contain a.btn {
		background-color: #b8d065 !important;
		font-size: 13px !important;
		color: white !important;
		white-space: break-spaces;
		margin: 10px;
	}
}

.container-filters-menu .dropdown-toggle{
    background: #9fbd38 !important;
    border: 2px solid #9fbd38 !important;
    color: white !important;
    border-radius: 10px !important;
    margin-right: 4px !important;
    font-size: 14px !important;
    position: relative !important;
    text-transform: capitalize !important;
    font-weight: 800 !important;
}

.container-filters-menu .dropdown-menu{
	background: transparent !important;
    border-width: 0 !important;
    border-bottom-left-radius: 10px !important;
}

.container-filters-menu .dropdown-menu .list-filters{
    border-bottom-left-radius: 10px !important;
}

.container-filters-menu .dropdown-menu button{
     background: #9fbd38f2 !important;
     color:white;
     font-weight:800;
}