.btn-tags-unik {
	margin-right: 5px;
}

.triangle {
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #a48d01 50%, #a48d01 100%);
}

/* NEW DESIGN HVA */

:root {
	--hva-primary-color: #ba6c6c;
	--hva-secondary-color: #e6c381;
	--hva-dark-color: #376268;
	--hva-light-color: #d4cda3;
}

.header-costum {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--hva-primary-color);
}

#mainNav .navLeft .active, #mainNav .navLeft a:hover {
	background-color: var(--hva-light-color);
	color: var(--hva-dark-color) !important;
}

#mainNav{
	height: 50px;
	padding: 0px;
}

#mainNav .dropdown {
	float: left;
}

#mainNav .tools-dropdown {
	padding-top: 0;
} 

#mainNav .dropdown a[data-toggle="dropdown"] {
	font-size: 18px;
	font-weight: bold;
	font-family: Georgia, serif;
	line-height: 30px;
}

#mainNav .dropdown .dropdown-menu {
	background-color: var(--hva-dark-color);
	box-shadow: none !important;
}

#mainNav .dropdown .dropdown-menu a {
	width : 100%;
	margin-left: 0 !important;
	color: var(--hva-light-color);
	font-size: 18px;
	font-weight: bold !important;
}

#mainNav .menu-button.lbh-menu-app,
#mainNav .dropdown .drop-down-sub-menu a,
#mainNav #menuTopLeft .dropdown a[data-toggle="dropdown"] {
	padding: 10px !important;
}

#mainNav #menuTopRight .dropdown-menu {
	padding: 0 20px 10px 20px;
	margin-top: 10px;
}

#mainNav #menuTopRight .dropdown-menu a {
	background-color: transparent;
    color: var(--hva-light-color) !important;
}

#mainNav #menuTopRight .dropdown-menu a.logoutBtn {
	color: var(--hva-primary-color) !important;
}

#mainNav #menuTopRight .dropdown-menu::before {
	top: -30px;
}

#mainNav #menuTopRight .dropdown-menu a:hover {
	background-color: var(--hva-light-color);
	color: var(--hva-dark-color) !important;
}

#mainNav #menuTopRight .dropdown-menu a.logoutBtn {
	color: var(--hva-primary-color) !important;
}

#mainNav .dropdown .dropdown-menu::before {
    border-bottom: 10px solid var(--hva-dark-color);
}

#mainNav .dropdown .dropdown-menu::after {
	border-bottom: none !important;
}

@media screen and (max-width: 768px) {
	#mainNav .navLeft a {
		color: var(--hva-dark-color) !important;
	}

	#mainNav .dropdown .drop-down-sub-menu-contents {
		display: block;
	}
	#mainNav .dropdown .drop-down-sub-menu::before,
	#mainNav .dropdown .drop-down-sub-menu::after {
		border: none;
	}
}

#mainNav {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	padding-bottom: 0;
	padding-top: 0;
}

#mainNav .menu-button {
	text-decoration:none;
}

#mainNav .btn-menu-connect{
	height: 35px;
}

#mainNav .navbar-nav{
	padding: 5px;
}

#mainNav #navbar .btn-show-mainmenu {
	margin-top: 5px;
}

#mainNav #navbar .menu-name-profil{
	margin-top: 5px;
}
.co3BtnShare.btn-share{
	display: none;

}

.headerSearchContainer .btn-open-form{
	background-color: #93C020 !important;
}

.listContenaire,
.listContenaireClassifieds {
	margin-bottom: 15px !important;
}

.listContenaire .listHeight:first-child,
.listContenaireClassifieds .listHeight:first-child {
	background-color: transparent !important;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.listContenaire .listHeight:first-child div:nth-child(2) {
	color: var(--hva-primary-color);
	font-weight: bold;
}

.listContenaireClassifieds .listHeight:first-child div:nth-child(2) {
	color: var(--hva-dark-color);
	font-weight: lighter;
}

.listContenaire .listHeight:first-child div:nth-child(3),
.listContenaireClassifieds .listHeight:first-child div:nth-child(3) {
	color: var(--hva-dark-color);
}

.listContenaire .listHeight:last-child,
.listContenaireClassifieds .listHeight:last-child {
	background-color: var(--hva-dark-color) !important;
	color: var(--hva-light-color) !important;
	font-weight: bold;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* END NEW DESIGN HVA */

 @media (min-width: 768px) {
	.listContenaire .listHeight{
		height: 90px;
	}

	.listContenaireClassifieds .listHeight{
		height: 45px;
	}

	.listContenaire{
		height: 90px;

	}

	.listContenaireClassifieds{
		height: 45px;

	}
	 .listContenaireClassifieds .col-xs-1 .padding-10 {
		 padding: 12px!important;
	 }
}
/*.cmsbuilder-content-wrapper #mainNav{
	top: 110px !important;
}*/


.ressourceStandalone .hr10, .ressourceStandalone .subtypeClassified,.ressourceStandalone .categoryClassified,.ressourceStandalone .sectionClassified{
	display: none;
}

.textHVA{
	font-size: 18px;
}

#mainNav .open-xs-menu {
    padding: 12px 15px 10px 15px;
}


#filters-nav{
	display: none !important;
}
#ajax-modal.portfolio-modal.modal{
	z-index:100000;
}
#mainNav .menu-button.lbh-menu-app{
	line-height: 30px;
	font-size: 18px;
    font-family: Georgia, serif;
    font-weight: bold;
}

.main-container .sub-menu-social.affix {
	left: 0px!important;
}