.label-menu, .nameMenu, .btn-menu-connect {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.nameMenu{
	display: block;
	font-size: 12px;
	font-weight: bolder;
}

.menu-btn-top{
	text-align: center;
	margin-left: 4px;
	margin-right: 4px;
}

#second-search-bar{
	padding-top: 6px !important;
	padding-bottom: 5px !important;
	box-shadow: 0px 0px 5px 5px #cccccc !important;
}

#second-search-bar-addon{
	box-shadow: 0px 0px 5px 5px #cccccc !important;
	border-radius: 50% !important;
	margin-left: -10% !important;
	background: #c7d301 !important;
	color: white !important;
}

#menu-thumb-profil {
	box-shadow: 0px 0px 5px 5px #cccccc;
}

.dropdown-menu-top a.menu-button{
	background:white;
	box-shadow: 0px 0px 5px 5px #cccccc !important;
	padding: 5px 11px 5px 11px !important;
	border-radius: 50% !important;
}

.dropdown-menu-top a.menu-button i{
	padding-top: 12px !important;
}

.menu-name-profil, a.btn-menu-connect{
	margin-left: 40px;
	color: #777777;
	font-weight: bolder;
	background: #c7d301 !important;
}

#mainNav .btn-menu-connect{
	box-shadow: 0px 0px 5px 5px #cccccc !important;
	border-radius: 40px !important;
}
