.header{
	position: absolute;
	margin-left: 19vw;
	margin-top: 3vw;
}

#menuTopCenter .label-menu {
	color: #172881;
}

.smartgrid-slide-element .img-back-card .container-img-card {
    height: 252px !important;
}

.smartgrid-slide-element .img-back-card .text-wrap {
    opacity: .9 !important;
    background: #172881 !important;
}

.smartgrid-slide-element .slide-hover {
    opacity: .9 !important;
    background: #172881 !important;
}

#mainNav #menuTopRight {
    margin-top: 25px !important;
}

.events .searchEntity {
	background-color: white !important;
}

#menuTopCenter a {
    display: grid;
    margin-left: 2%;
    margin-right: 2%;
}

.annuaireapp {
    width: 56px !important;
    height: 31px !important;
    margin-top: 15px;
}

.projectsapp {
    width: 44px !important;
    height: 32px !important;
    margin-top: 14px;
}

.agendaapp {
    width: 49px !important;
    height: 39px !important;
    margin-top: 7px;
}

.liveapp {
    width: 53px !important;
    height: 42px !important;
    margin-top: 4px;
}

.dropdown-result-global-searchbar .searchEntity {
	box-shadow: none !important;																																																																													border-bottom: 1px solid lightgrey;
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
}

.hexagon1 {
    width: 485px;
    height: 250px;
    margin: 0 0 0 -80px;
}

footer{
    margin-top: -1%;
}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}
    .img-hexa{
        margin-top: -25%;
    }

    .info-card{
        border-radius: 15px;
        padding: 3%;
        font-size: 25px;
        color : white;
        margin-left: 7%;
        margin-right: 7%;
    }
.nameMenuTop{
	color: #172881;
}

#filters-nav{
	position: absolute;
}

#show-bottom-add{
	display: none;
}

.menuRight {
    position: absolute !important;
}

.menuRight_body{
	height: 412px !important;
}

#menuApp{
	display: none;
}

#mapHubMednum{
	height: 500px;
	background-color: #fafafa;
}

.contain{
	margin-left: 12%;
	margin-right: -13%;
}

 #donation-btn{
    display: none;
 }

#second-search-bar{
    border-radius: 35px 35px 35px 35px !important;
    height: 50px !important;
    width: 81vw !important;
    /*margin-left: -10Vw;*/
    background-color:#fafafa;
    color:black;
}

#dropdown{
	display: none;
	background-color: whitesmoke;
	width: 77%;
	z-index: 1000;
}

#containerCard{
	box-shadow: 0px 0px 11px;
	width: 19vw;
	height: 499px;
	margin-left: 4vw;
}

#second-search-bar-addon-mednum{
	border-color: transparent;
	background-color: transparent;
	margin-left: -81vw;
}

.searchIcone{
	color: #172881	;
	font-size: 38px;
}

.ultra{
	width: 55vw;
}

.actu{
	background-color: #300080;
}

#actualite{
	margin-top: 5vw;
}

.explication-title{
    text-align : center;
    color : white
}

.explication{
    /*margin-top:3%;*/
    margin-left: 10%;  
    margin-right: 10%;
}

.explication-acteurs{
    margin-top:3%;
    margin-left: 10%;  
    margin-right: 10%;
}

.backLeft{
	width: 3vw;
	margin-top: 11vw;
	position: absolute;
	margin-left: 11vw;
}

.backRight{
	transform: rotate(180deg);
	width: 3vw;
	margin-top: 10.2vw;
	position: absolute;
	margin-left: 2vw;
}

.txtHeader{
	position: absolute;
	color:white;
	font-size: 78px;
	margin-left: 12vw;
	margin-top: 45vw;
}

.titleBandeau{
	font-family: 'Covered By Your Grace', cursive !important;
}

.icoBandeau{
	width: 3vw;
}

.logoApp{
	width: 15vw;
	margin-top: 2vw;
}

@media (max-width:768px){

	#second-search-bar{
		margin-left: 7vw;
	}

	.card{
		margin-top: 4vw;
	}

	.hexagon1 {
    	width: 543px;
	}
	
	.svg{
		width: 80vw;
	}

	.ultra{
		width: 50vw;
	}

	.txtHeader{
		font-size: 18px;
	}

	.titleBandeau{
		font-size:20px;
	}

	.icoBandeau{
		width: 6vw;
	}

	.contain{
		margin-left: 0% !important;
		margin-right: 0% !important;
	}

	#containerCard{
		width: 91vw;
		height: 250px;
		margin-left: 0vw;
		margin-top: 5vw;
	}

	.logoApp{
		width: 22vw;
		margin-top: 6vw;
	}

	.plus{
		margin-top: 9.2vw !important;
	}
}