

#notificationPanelSearch{
top:60px ;
right:0 !important;

}

.dropdown.dropdown-sources{
	display:none !important;
}

.dropdown.dropdown-price{
	display:none !important;
}

.dropdown.dropdown-tags{
	display:none !important;
}