.logo-footer{
    width: 10%;
    margin-left: 2%;
}

.afooter{
    font-size: 0.8vw;
}

#ajax-modal {
    margin-top: 78px;
}

.logofooter{
    width: 11%;
}

.ch-3 {
	margin-top: 2%;
}

.toolbar-bottom-adds {
	display: none;
}

.menu-app {
    margin-left: 2%;
    top: 31%;
    position: relative;
    font-size: 16px;
}

.ch-2{
    margin-top : -7.9%;
}

.ch-2-h1 {
    color : white;
}

.title-ch-2{
    font-size : 2.81em;
}

.ch-2-d {
    box-shadow: 0px 0px 20px -2px black;
    width: 80%;
    left: 10%;
    background : white;
    padding: 2%;
    font-size : 1.5vw;
}

.ch-2-p-m{
    font-size: 2.85vw;
    margin-top: 6%;
    line-height: 42px;
}

.ch-2-n{
    margin-top: 2%;
}