.label-menu, .nameMenu, .btn-menu-connect {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#menuTopLeft .lbh-menu-app .fa, #menuTopRight .lbh-menu-app .fa, .circle, .menu-btn-top .fa{
	padding: 0.5em;
	border: 2px solid #2C3E50;
	border-radius: 40px;
}

#mainNav .btn-menu-connect .fa, #mainNav .btn-menu-register .fa{
	border:none !important;
	padding:0 !important;
}

.margin-top-5 {
    margin-top: 4px!important;
}

#mainNav .lbh-menu-app, #mainNav .lbh-urlExtern, #mainNav .lbh-anchor {
	padding-top: 0em !important;
}

#menuTopLeft{
	padding-top: 3px !important;
    display: flex;
    text-align: center;
}

#mainNav #menuTopLeft>*:not(:first-child){
    margin-left: 20px !important;
    margin-top: 3px;
}

#mainNav #menuTopRight {
    margin-top: 3px !important;
    text-align: center;
}

#mainNav .menu-btn-top {
    padding-top: 3px !important;
}

.label-menu {
    display: block !important;
    margin-top: 3px!important;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bolder !important;
    text-decoration: none !important;
}

#menu-thumb-profil {
	box-shadow: 0px 0px 5px 5px #cccccc;
}

@media (max-width: 767.98px) {
	.lbh-menu-app .fa, .lbh-menu-app .fa, .circle, .menu-btn-top .fa{
		padding: 0.5em;
		border: 2px solid #2C3E50;
		border-radius: 40px;
		font-size: 10pt !important;
	}
}
