.header{
	position: absolute;
	margin-left: 19vw;
	margin-top: 3vw;
}
.nameMenuTop{
	color: #172881;
}

.dropdown-profil-menu-params .link-banner i {
	color: white !important;
}

.classifieds .item-slide .img-back-card .entityRight .entityName {
	color: white !important;
}

#menuTopCenter img{
	height:30px;
}

/*.annuaireapp {
    width: 47px !important;
    height: 31px !important;
    margin-top: 12px;
}

.jobsapp {
    width: 48px !important;
    height: 33px !important;
    margin-top: 11px;
}

.projectsapp {
    width: 34px !important;
    height: 32px !important;
    margin-top: 12px;
}

.agendaapp {
    width: 44px !important;
    height: 39px !important;
    margin-top: 6px;
}

.liveapp {
    width: 46px !important;
    height: 42px !important;
    margin-top: 4px;
}
*/
.dropdown-result-global-searchbar .searchEntity {
	box-shadow: none !important;																																																																													border-bottom: 1px solid lightgrey;
}
#ajax-modal.portfolio-modal.modal{
	z-index: 100000 !important;
}
.toolbar-bottom-adds {
    border-radius: 3px !important;
    width: fit-content;
    bottom: 56px !important;
    border: 2px solid;
}
.toolbar-bottom-adds .addBtnFoot {
    background: white !important;
    border-radius: 0px;
    width: 100%;
    color: #1a2880!important;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
.toolbar-bottom-adds .addBtnFoot:hover{
	box-shadow: none;
    background: #1a2880 !important;
    color: white !important;
}
.main-container .btn-show-map{
	background: #1a2880;
    color: white;	
}
.main-container .btn-show-map:hover{
    background-color: white;
    color: #1a2880;
    border: 2px solid #1a2880;
}

.card-terr {
	background-color: white;
	border-left: solid #172881;
}

.leaflet-popup-content .popup-section .popup-shortDescription {
	white-space: pre-line !important;
}

#menuTopCenter {
	margin-left: 1%;
	margin-top : 9px;
}

/*.imgMenu.hidden-xs {
    margin-left: 9%;
}*/

.menu-xs-container .menu-app .imgMenu {
    display: inline-block !important;
    height: 30px;
}

/*#menuTopCenter a {
    display: grid;
    margin-left: 2%;
    margin-right: 2%;
}*/

.searchEntityContainer .entityName{
	color: #7fceef;
}

.searchEntityContainer .small-infos-under-title .entityLocality{
	padding: 0px 5px;
}

.searchEntityContainer .slide-hover .entityLocality {
    color: #7fceef;
    padding: 10px;
 }

.searchEntityContainer .slide-hover .btn-link-content .btn-link {
    color: #7fceef !important;
    background-color: #fff !important;
    border: 1px solid #7fceef !important;
}

.searchEntityContainer .slide-hover .btn-link-content .btn-link:hover {
    color: white !important;
    background-color: #7fceef !important;
    border: 1px solid #7fceef !important;
}

.toolbar-bottom-fullwidth{
	display: none; 
}


#pod-info-Description #contenuDesc #shortDescriptionAbout{
	white-space: pre-line !important;
}

#ajax-modal #ajax-modal-modal-body .subtypeSectioncustom .subtypeSection .subtypeBtn{
	white-space: pre-line;
}


.leaflet-popup-content {
	width: 301px !important;
}

.contentInformation #descriptionAbout .container span {
	white-space: pre-line;
}

.contentInformation #descriptionAbout .morecontent p {
	white-space: pre-line;
}

#menuApp{
	display: none;
}

.bottom-add{
	font-size: 26px;
}

#donation-btn{
    display: none;
}

.smartgrid-slide-element .img-back-card .text-wrap {
    height: 122px !important;
}

#second-search-bar {
    border-radius: 35px 35px 35px 35px !important;
    height: 50px !important;
    width: 81vw !important;
    margin-left: -10Vw;
}

#mainNav #menuTopRight {
    margin-top: 25px !important;
}
@media (max-width: 767px){
	#mainNav #menuTopRight {
	    margin-top: 0px !important;
	}	
	#mainNav #menuTopRight .btn-menu-connect {
	    font-size: 15px !important;
	    padding: 5px 10px !important;
	    margin-top: 5px;
	}
}

#dropdown{
	background-color: whitesmoke;
	width: 77%;
	z-index: 1000;
	margin-left: 12vw;
	position: absolute;
	margin-top: 50px;
}

#containerCard center{
	box-shadow: 0px 0px 5px 0px #777;
    padding: 10px;
	/*width: 19vw;
	margin-left: 5vw;*/
}

#searchBar{
	position: relative;
}

#second-search-bar-addon-mednum{
	border-color: transparent;
	background-color: transparent;
	position: absolute;
	margin-left: -10vw;
}

.searchIcone{
	font-size: 38px;
}

.ultra{
	width: 35%;
	margin-top: -100px;
	margin-bottom: 26px;
}

.actu{
	background-color: #300080;
}

#actualite{
	margin-top: 5vw;
}

.explication-title{
    text-align : center;
    color : white;
    padding: 20px;
}

.explication{
    margin-top:3%;
    margin-left: 10%;  
    margin-right: 10%;
}

.backLeft{
	width: 3vw;
	margin-top: 11vw;
	position: absolute;
	margin-left: 11vw;
}

.backRight{
	transform: rotate(180deg);
	width: 3vw;
	margin-top: 11.1vw;
	position: absolute;
	margin-left: 2vw;
}

.txtHeader{
	position: absolute;
	color:white;
	margin-top: 37vw;
	font-size: 49px;
}

.titleBandeau{
	font-weight: 100;
}

/*.img-profil-entity {
	width: 100% !important;
	height: 100% !important;
}*/

.smartgrid-slide-element .img-back-card .text-wrap {
    opacity: .9 !important;
    background: #172881 !important;
}

.smartgrid-slide-element .slide-hover {
    opacity: .9 !important;
    background: #172881 !important;
}

.title_card {
	margin-top: 1vw;
	color:#172881;
}

.timeline-panel .timeline-body .events .searchEntity {
	opacity: .9 !important;
	background-color: #172881 !important;
}

.smartgrid-slide-element .img-back-card .container-img-card {
    height: 252px !important;
}

.icoBandeau{
	width: 3vw;
}

.logoApp{
	width: 15vw;
	margin-top: 2vw;
}

@media (min-width: 460px) and (max-width:620px){
	#containerCard {
    	height: 300px;
	}
}

@media (max-width:620px){
	.svg{
		width: 80vw;
	}

	.txtHeader{
		font-size: 18px;
	}

	.titleBandeau{
		font-size:20px;
	}

	.icoBandeau{
		width: 6vw;
	}

	.contain{
		margin-left: 30px !important;
	}

	/*#containerCard{
		height: 250px;
	}*/

	.logoApp{
		width: 22vw;
		margin-top: 6vw;
	}

	.plus{
		margin-top: 10px !important;
	}
}

@media (min-width: 800px ) and ( max-width: 1110px ) {
 	.txtHeader {
		font-size: 27px;
 	}

 	.title_card {
 		font-size: 19px;
 	}
}

@media (min-width: 300px ) and ( max-width: 1190px ) {
 	#dropdown {
 		margin-top: 0px;
 	}
}
@media (min-width: 400px ) and ( max-width: 900px ) {
 	.containEvent {
 		margin-top: 13vw;
 	}
}

@media (min-width: 770px ) and ( max-width: 1100px ) {
 	.title_card {
 		font-size: 19px;
 	}
}

@media (min-width: 400px ) and ( max-width: 799px ) {
 	.txtHeader {
 		margin-top: 24vw;
		font-size: 31px;
 	}

 	.contain {
 		margin-right: 3%;	
 	}
}

#menuBottom{
	right:unset;
}