div[data-path="tpls.blockCms.header.bannerWithSearchGlobal"] {
    top: -90px;
}

#mainNav {
    opacity: 0.7;
}

#mainNav {
    background-color: #000000;
    box-shadow: 1px 1px 3px #ddd;
    opacity: 0.7;
}

.openListTpls {
    z-index: 1;
}

#mainNav .lbh-menu-app,
#mainNav .lbh-urlExtern,
#mainNav .lbh-anchor {
    font-size: 24px;
    font-weight: normal;
    color: white !important;
}

#mainNav .tooltips-menu-btn {
    background: #092434;
    z-index: 5;
}

#mainNav a.menu-name-profil {
    margin-top: 15px;
    font-size: 15px !important;
    background-color: #092434!important;
    color: white !important;
}

#mainNav .menu-btn-top {
    color: white !important;
    font-size: 20px !important;
}

#mainNav .dropdown-menu-top {
    padding-top: 10px;
}

#mainNav .btn-menu-connect {
    font-size: 18px !important;
    color: white !important;
    margin-top: 10px;
    border-radius: 12px;
}

#mainNav .open-xs-menu {
    color: white !important;
    font-size: 30px;
}

#mainNav .menu-xs-container {
    background-color: #052434 !important;
}

#mainNav .menu-xs-container a {
    background-color: #052434 !important;
    padding-top: 10px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 5px !important;
    height: auto !important;
    display: inline-block!important;
    text-align: left !important;
}

#mainNav .menu-btn-top img.visible-xs {
    height: 60px;
    padding-left: 0 !important;
}

#mainNav .menu-xs-container a:hover {
    background: white;
    color: #052434;
}

@media (max-width: 767px) {
    #mainNav a.menu-name-profil {
        margin-top: 5px !important;
    }
    #mainNav {
        opacity: 1 !important;
    }
    #mainNav #menu-thumb-profil {
        width: 40px !important;
        height: 40px !important;
        margin-top: 5px;
    }
}

@media (min-width: 767px) {
    #mainNav .lbh-menu-app,
    #mainNav .lbh-urlExtern,
    #mainNav .lbh-anchor,
    #mainNav .commonButtonHtml {
        padding-top: 10px;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 10px;
        margin-top: 5px;
        height: auto;
        width: auto;
        display: inline-block;
    }
    #mainNav .lbh-menu-app .fa,
    #mainNav .commonButtonHtml .fa {
        padding: 0.3em;
        border: 2px solid #ffffff;
        border-radius: 12px;
    }
}

#menuTopLeft {
    color: white;
    font-size: 20px;
    line-height: 3;
}

.dropdown-menu-large .dropdown-title {
    color: #63aabc;
}

.label-primary {
    background-color: #63aabc;
}

#menuTopLeft .menu-xs-cplx {
    line-height: 1;
}