:root {
	 --color-primary: #144467;
	 --color-secundary: #1264a3;
	 --color-text: #212b36;
	 --color-text-light: #637381;
	 --color-red: #df1f5a;
	 --color-red-opacity: rgba(223, 31, 90, 0.16);
	 --color-green: #2db67e;
	 --color-green-opacity: rgba(45, 182, 126, 0.16);
	 --color-yellow: #ecb22f;
	 --color-yellow-opacity: rgba(236, 178, 47, 0.16);
	 --color-accent: #f4f6f8;
	 --color-divider: #dfe3e8;
}
.animation {
	 animation-duration: 1.3s;
	 animation-fill-mode: both;
}
 @keyframes fadeInUp {
	 from {
		 opacity: 0;
		 transform: translate3d(0, 25%, 0);
	}
	 to {
		 opacity: 1;
		 transform: translate3d(0, 0, 0);
	}
}
 .fadeInUp {
	 animation-name: fadeInUp;
}

 .addformdropdown {
	 color: white;
	 font-size: 1.2rem;
	 font-weight: 700;
	 display: inline-block;
	 position: relative;
	 border: 0px;
	 padding: 10px 20px;
	 border-radius: 36px;
	 box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
	 background-color: var(--color-primary);
	 transition: all 0.3s ease-in-out;
}
 .addformdropdownhover {
	 color: white;
	 text-decoration: none;
	 background-color: var(--color-secundary);
	 transition: all 0.3s ease-in-out;
}
 .addformdropdown.is-empty {
	 width: 16.66666%;
	 height: 24px;
	 display: inline-block;
	 border-radius: 32px;
	 background-color: var(--color-divider);
}

.page__item.success{
	border-left-width: 2px;
    border-left-style: solid;
    border-left-color: var(--color-green);
}

.page__item.error{
	border-left-width: 2px;
    border-left-style: solid;
    border-left-color: var(--color-red);
}
.modal-content .fieldset {
    border: 1px solid grey;
    margin: 15px 0 15px 0;
    padding: 10px 5px;
}


/*Style by NICOSS*/

.panel-form .widget {
    margin-top:20px;
    position: relative;
    margin-bottom: 30px;
    padding: 0px 20px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgb(236 241 244), 0 2px 10px 0 rgb(196 208 216);
}

.panel-form .widget-controls>a {
  padding: 1px 4px;
  border-radius: 4px;
  color: rgba(0,0,0,0.4);
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  color:#fff;
}

.panel-form .bg-body-light {
  -webkit-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

.panel-form .widget-body .bg-active {
  background-color: #9cb158;
}

.panel-form .widget-body .bg-suspendu {
  background: #ff8f5e;
}

.panel-form .widget-top-overflow {
	margin-top: -15px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	overflow-y: auto;
	height: 110px;
}
.panel-form .widget-top-overflow::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(202, 223, 201, 0.9);
	border-top-right-radius: 4px;
	background-color: #f1f1f1;
}
.panel-form .widget-top-overflow::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #828282;
	background-image: -webkit-linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4) 50%, transparent, transparent)
}
.panel-form .widget-top-overflow::-webkit-scrollbar-thumb:hover
{
	background-color: #6d861b;
	background-image: -webkit-linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4) 50%, transparent, transparent)
}
.panel-form .widget-top-overflow::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

.panel-form .widget-top-overflow, .widget-middle-overflow {
  position: relative;
  margin: 0 -20px;
}

.panel-form .windget-padding-md {
  padding: 0px 10px;
}

.panel-form .tags-form {
  padding-left: 0;
  list-style: none;
}

.panel-form .tags-form>li {
  float: left;
  margin:3px;
}

.panel-form h3, .panel-form .h3 {
  font-size: 24px;
  text-transform: none;
  font-weight: 500;
}

.panel-form .tags-form>li>span {
  padding: 2px 8px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid white;
  color: inherit;
  text-decoration: none;
}

.panel-form .thumb-xs {
  position: relative;
  display: inline-block;
  text-align: center;
}

.panel-form .thumb-xs i {
  font-size: 25px;
}

.panel-form .post-user img {
  border: 3px solid white;
}

.panel-form .widget-body .text-desc {
    margin-top: 15px;
    font-size: 16px;
	min-height: 76px;
}

.panel-form .widget-body .text-light {
  opacity: .8;
}

.panel-form .widget-body p {
  margin: 0 0 10px;
}

.panel-form .widget>footer {
  margin: 0 -20px -15px;
  padding: 0px 20px 5px 20px;
}

.panel-form .bg-body-light {
  -webkit-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

.panel-form .bg-body-light {
  background-color: #ececec;
}
.panel-form .post-links>li {
  float: left;
  list-style: none;
  margin:4px;
}

.panel-form .post-links>li>a {
  text-decoration: none;
  color: #999;
}

.panel-form .post-links+.post-comments {
  margin-top: 30px;
}

.panel-form .widget>footer .post-comments {
  margin-left: -20px;
  margin-right: -20px;
}

.panel-form .post-comments {
  font-size: 12px;
  padding-left: 0;
}
.panel-form .mb-0 {
  margin-bottom: 0;
}

.panel-form .post-comments>li {
  padding: 10px;
  border-top: 1px solid #d0d0d0;
  list-style: none;
  color: #2c3e50;
}
.panel-form .post-comments>li.form-date{
	display: inline-block;
    width: 49%;
    position: relative;
	padding-bottom: 0px;
}
.panel-form .post-comments>li.form-btn-container{
	height: 0;
    visibility: hidden;
    transition: opacity 1.5s linear, max-height 1.5s linear;
	padding-bottom: 0px;
}
.panel-form .post-comments>li.form-btn-container .btneditform,
.panel-form .post-comments>li.form-btn-container .aapCostum,
.panel-form .post-comments>li.form-btn-container .addAnswer,
.panel-form .post-comments>li.form-btn-container .btnConfigForm
{
	margin-right: 5px;
}
.panel-form:hover .post-comments>li.form-btn-container{
	height: initial;
	visibility: visible;
    transition: opacity 1.5s linear, max-height 1.5s linear;
}

.panel-form .post-comments .avatar {
  margin-top: 1px;
}

.panel-form .mr-sm {
  margin-right: 10px;
}

.panel-form .thumb-xs, .thumb-sm, .thumb-lg, .thumb {
  position: relative;
  display: inline-block;
  text-align: center;
}

.panel-form .thumb-xs {
  width: 28px;
}

.panel-form .post-comments .author {
  margin-top: 0;
  margin-bottom: 2px;
  color: #7ca9dd;
}

.panel-form .fw-semi-bold {
  font-weight: 600;
}

.panel-form h6, .panel-form .h6 {
  font-size: 12px;
  text-transform: none;
}

.panel-form .post-comments .comment-body {
  overflow: auto;
}
.panel-form .comment-body p{
    font-size: 13px;
}

@media (max-width: 767px){
    .panel-form{
	    padding-left: 0px;
	    padding-right: 0px;
    }
}

 