#menuTopLeft.menu-app{
	border: 2px solid darkcyan;
    border-radius: 5px;
    padding: 5px;
    vertical-align: middle;
    text-decoration: none;
}

#menuTopLeft.menu-app:hover{
	border: 3px solid darkcyan;
}
