.marker-cluster{
    background-image:none !important;
    background-color: #2F41D4 !important;
    border-radius: 50%;
    color:white;
    font-size: 20pt;
    font-weight:bold;
}
    
.marker-cluster-small-mouv {
    color: white;
    border-radius: 50%!important;
    margin-left: -27px !important;
    margin-top: -27px !important;
    padding: 7px !important;
    width: 40px !important;
    height: 40px !important;
    background-color: #2E388D!important;
    background-image: none;
}
.marker-cluster-small-mouv div {
    border-radius: inherit;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin: 0px!important;
    width: 30px !important;
    height: 30px !important;
    background-color: transparent !important;
    padding: 3px 5px 9px 0px!important;
    font-size: 18px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: white;
    font-weight: 700!important;
    text-align: center!important;
}

.marker-cluster-medium-mouv {
    color: white;
    border-radius: 50%!important;
    margin-left: -27px !important;
    margin-top: -27px !important;
    padding: 7px !important;
    width: 48px !important;
    height: 48px !important;
    background-color: #4623C9!important;
    background-image: none;
}

.marker-cluster-medium-mouv div {
    border-radius: inherit;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin: 0px!important;
    width: 40px !important;
    height: 40px !important;
    background-color: transparent !important;
    padding: 6px 3px 13px 0px!important;
    font-size: 18px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: white;
    font-weight: 700!important;
    text-align: center!important;
}

.marker-cluster-large-mouv {
    color: white;
    border-radius: 50%!important;
    margin-left: -27px !important;
    margin-top: -27px !important;
    padding: 7px !important;
    width: 60px !important;
    height: 60px !important;
    background-color: #361b9a!important;
    background-image: none;
}

.marker-cluster-large-mouv div {
    border-radius: inherit;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin: 0px!important;
    width: 50px !important;
    height: 40px !important;
    background-color: transparent !important;
    padding: 13px 3px 10px 0px!important;
    font-size: 18px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: white;
    font-weight: 700!important;
    text-align: center!important;
}

.btn-notification-action,
.notifications .pageslide-list a .label{
    background-color:#2E388D !important;
}

.notifications .pageslide-title, .notificationsElement .pageslide-title{
    color: #8FCE00;
}