/* LISTS***********************************************************************. */
.progress[data-percentage="10"] .progress-right .progress-bar {
    animation: loading-1 1.5s linear forwards;
}

.progress[data-percentage="10"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
    animation: loading-2 1.5s linear forwards;
}

.progress[data-percentage="20"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="30"] .progress-right .progress-bar {
    animation: loading-3 1.5s linear forwards;
}

.progress[data-percentage="30"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="40"] .progress-right .progress-bar {
    animation: loading-4 1.5s linear forwards;
}

.progress[data-percentage="40"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="50"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="50"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="60"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="60"] .progress-left .progress-bar {
    animation: loading-1 1.5s linear forwards 1.5s;
}

.progress[data-percentage="70"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="70"] .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.5s;
}

.progress[data-percentage="80"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="80"] .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.5s;
}

.progress[data-percentage="90"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="90"] .progress-left .progress-bar {
    animation: loading-4 1.5s linear forwards 1.5s;
}

.progress[data-percentage="100"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="100"] .progress-left .progress-bar {
    animation: loading-5 1.5s linear forwards 1.5s;
}

.project-description {
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */
    font-size: initial;
    min-height: 80px;
}

/* filtre */

.accordion-row {
    font-size: 12px !important;
    background: none !important;
    padding: 5px !important;
    border: none !important;
    line-height: 1.4 !important;
    transition: all 0.3s;
    text-align: left;
}
.accordion-row:hover {
    background-color: #70b73a !important;
    color: white;
    font-weight: bold;
}

.tr-all {
    transition: all .3s;
}

.collapsing {
    transition: height 0.6s;
}
.accordion-bg-hover:hover {
    background-color: #e1dede4a;
}
.panel-group .searchBar-filters .search-bar {
    width: 100% !important;
}
.searchObjCSS .panel-group .dropdown .btn-menu {
    width: 100% !important;
    margin-left: 0 !important;
}
.list-aap-container.container {
    /*width: 100% !important;*/
}
.propositions-aap-list .container {
    /* width: 100% !important; */
}
#menuTopLeft .menu-verticale.searchObjCSS,#menu-top-btn-group .menu-verticale.searchObjCSS {
    float: left !important;
    top: 2px !important;
    padding-left: 4px !important;
}
#menuTopLeft .searchBar-filters.pull-left,#menu-top-btn-group .searchBar-filters.pull-left {
    height: 46px !important;
}
#menuTopLeft #show-filters-xs .filter-xs-count,#menu-top-btn-group .filter-xs-count {
    right: inherit !important;
    left: 8px !important;
}
/*#menuTopLeft .lbh-menu-app{
    line-height: 65px;
}*/
/*EVALUATION*/

.single_evaluate,
.single_task,
.single_funding,
.single_governance {
    position: relative;
    margin-bottom: 40px;
    transition: .3s;
    /*box-shadow: 0 2px 5px 0 rgb(63 78 88), 0 2px 10px 0 rgb(63 78 88);*/
    webkit-box-shadow: 0 1px 6px rgb(0 0 0 / 18%);
    box-shadow: 0 2px 6px rgb(0 0 0 / 18%);
    border-radius: 3px;
    background-color: #ffffff;
}

.single_evaluate img {
    width: 100%;
    /*position: absolute;*/
    min-height: 420px;
    /*-webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);*/
    transition: .3s;
    border: 1px solid #ddd;
    /*border-radius: 5px;*/
    object-fit: cover;
    object-position: center;
}

.single_evaluate .img-contributor {
    width: 50px !important;
    height: 50px !important;
    min-height: 50px !important;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.single_evaluate:hover img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);

}

/* .evaluate_content h4,*/
.single_task h4,
.single_funding h4,
.single_governance h4 {
    font-size: 22px;
    font-weight: 700;
    border-bottom: 1px dashed #3f4e58;
    line-height: 2;
    text-transform: none;
    color: #3f4e58;
}

.evaluate_content>.row {
    border-bottom: 1px dashed #3f4e58;
}

.status {
    font-size: 19px;
    line-height: 2;
    color: #3f4e58;
}

.status span {
    border: solid 2px #555259;
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
}

.evaluate_content h4 span {
    font-size: 20px;
    font-weight: 800;
    float: right;
    font-style: italic;
    color: #9ebc37;
}

.evaluate_content {
    display: flex;
    flex-direction: column;
}

.evaluate_content p {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

.evaluate_content .btn-component,
.single_task .btn-component,
.single_funding .btn-component,
.single_governance .btn-component {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.evaluate_content .btn-evaluate,
.single_task .btn-participate,
.single_funding .btn-financing,
.single_governance .btn-opinion {
    color: white;
    background-color: #93C020;
    border-color: #93C020;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    padding: 6px 25px;
}

.portfolio-modal .form-chooser {
    border: 1px solid #80808033;
    border-radius: 4px;
}

.portfolio-modal .form-chooser a {
    cursor: pointer;
    text-decoration: none;
}

.portfolio-modal .form-chooser:hover {
    box-shadow: 1px 0px 3px #2c232357;
}


/*TACHE*/

.single_task h4 span,
.single_funding h4 span,
.single_governance h4 span {
    font-size: 24px;
    font-weight: 800;
    float: right;
    color: #3f4e58;
}

.task-row {
    padding: 15px;
}

/*checkbox*/
/*.single_task .input_wrapper{
    width: 70px;
    height: 35px;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
}

.single_task .input_wrapper input[type="checkbox"]{
    width: 70px;
    height: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #3f4e58;
    border-radius: 2px;
    position: relative;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.single_task .input_wrapper input[type="checkbox"]:after{
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    width: 28px;
    height: 28px;
    background: #dfeaec;
    z-index: 2;
    border-radius: 2px;
    -webkit-transition: all .35s;
    transition: all .35s;
}

.single_task .input_wrapper svg{
    position: absolute;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    fill: #fff;
    -webkit-transition: all .35s;
    transition: all .35s;
    z-index: 1;
}

.single_task .input_wrapper .is_checked{
    width: 18px;
    left: 15%;
    -webkit-transform: translateX(190%) translateY(-30%) scale(0);
    transform: translateX(190%) translateY(-30%) scale(0);
}

.single_task .input_wrapper .is_unchecked{
    width: 15px;
    right: 15%;
    -webkit-transform: translateX(0) translateY(-30%) scale(1);
    transform: translateX(0) translateY(-30%) scale(1);
}

!* Checked State *!
.single_task .input_wrapper input[type="checkbox"]:checked{
    background: #93C020;
}

.single_task .input_wrapper input[type="checkbox"]:checked:after{
    left: calc(100% - 37px);
}

.single_task .input_wrapper input[type="checkbox"]:checked + .is_checked{
    -webkit-transform: translateX(0) translateY(-30%) scale(1);
    transform: translateX(0) translateY(-30%) scale(1);
}

.single_task .input_wrapper input[type="checkbox"]:checked ~ .is_unchecked{
    -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
    transform: translateX(-190%) translateY(-30%) scale(0);
}*/

/* New style checkbox */

/*Default*/
.single_task .input_wrapper {
    padding-left: 20px
}

.single_task .input_wrapper label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    font-weight: 400;
}

.single_task .input_wrapper label::after,
.single_task .input_wrapper label::before {
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: -20px
}

.single_task .input_wrapper label::before {
    content: "";
    width: 17px;
    height: 17px;
    border: 1px solid #3f4e58;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border .15s ease-in-out, color .15s ease-in-out;
    -o-transition: border .15s ease-in-out, color .15s ease-in-out;
    transition: border .15s ease-in-out, color .15s ease-in-out
}

.single_task .input_wrapper label::after {
    width: 16px;
    height: 16px;
    top: 0;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555
}

.single_task .input_wrapper input[type=checkbox] {
    opacity: 0
}

.single_task .input_wrapper input[type=checkbox]:focus+label::before {
    outline: none;
}

.single_task .input_wrapper input[type=checkbox]:checked+label::after {
    font-family: FontAwesome;
    content: "\f00c"
}

/* Primary */
.single_task .input_wrapper input[type=checkbox]:checked+label::before {
    background-color: #7da53d;
    border-color: #7da53d
}

.single_task .input_wrapper input[type=checkbox]:checked+label::after {
    color: #fff
}


.single_task .input_wrapper label {
    font-size: 25px;
    height: 35px;
}

.single_task .input_wrapper label::before {
    width: 30px;
    height: 30px;
}

.single_task .input_wrapper label::after,
.single_task .input_wrapper label::before {
    margin-left: -30px
}

.single_task .input_wrapper label::after {
    width: 30px;
    height: 30px;
    top: 0;
    padding-left: 4px;
    padding-top: 0px;
    font-size: 22px;
}

.xl {
    margin-top: 50px;
}

.xl legend {
    font-size: 25px;
}

/* TABLE */
.single_task .align-items-center {
    align-items: center !important;
    text-align: center;
}

.single_task .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.single_task .table th,
.single_task .table td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}

.single_task .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
}

.single_task .table tbody+tbody {
    border-top: 2px solid #e9ecef;
}

.single_task .table .table {
    background-color: #f8f9fe;
}

.single_task .table-responsive {
    display: block;
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.single_task .table thead th {
    font-size: .65rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #e9ecef;
}

.single_task .table th {
    font-weight: 600;
}

.single_task .table td,
.single_task .table th {
    font-size: .8125rem;
    white-space: nowrap;
}

.single_task .table.align-items-center td,
.single_task .table.align-items-center th {
    vertical-align: middle;
}

.single_task .table .thead-dark th {
    color: #4d7bca;
    background-color: #1c345d;
}

.single_task .table .thead-light th {
    color: #8898aa;
    background-color: #f6f9fc;
}

.single_task .table-flush td,
.single_task .table-flush th {
    border-right: 0;
    border-left: 0;
}

.single_task .table-flush tbody tr:first-child td,
.single_task .table-flush tbody tr:first-child th {
    border-top: 0;
}

.single_task .table-flush tbody tr:last-child td,
.single_task .table-flush tbody tr:last-child th {
    border-bottom: 0;
}

.single_task .text-simple,
.single_funding .text-simple,
.single_governance .text-simple {
    font-size: 16px;
    color: #3f4e58;
    line-height: 36px;
}

.single_task .price,
.single_governance .price {
    padding: 10px;
    color: #93C020 !important;
    background-color: #ffffff;
    border-radius: 4px;
}

.single_task .mb-0 {
    margin-bottom: 0 !important;
}

.single_task .media-body,
.single_funding .media-body {
    flex: 1 1;
    width: auto;
}

.single_task .media,
.single_funding .media {
    display: flex;
}

.single_funding .media {
    padding-top: 15px;
}

.single_task .line-dark,
.single_funding .line-dark,
.single_governance .line-dark {
    background-color: #eeeeee;
}

.single_task .line-light,
.single_funding .line-light,
.single_governance .line-light {
    background-color: #faf8f8
}

.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 50%;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.avatar-sm {
    font-size: .875rem;
    width: 36px;
    height: 36px;
}

.avatar-group .avatar {
    position: relative;
    z-index: 2;
    border: 1px solid #93C020;
}

.avatar-group .avatar:hover {
    z-index: 3;
}

.avatar-group .avatar+.avatar {
    margin-left: -1px;
}

.justify-center {
    justify-content: center;
}

/*FINANCEMENT*/

.single_funding h4 span {
    font-size: 24px;
    font-weight: 800;
    float: right;
    color: #3f4e58;
}

.single_funding .valueAbout {
    border-left: 1px solid #dbdbdb;
}


.single_funding .contentInformation {
    border-bottom: 1px solid #dbdbdb;
}

.single_funding .labelAbout span {
    width: 20px;
    padding-right: 5px;
    text-align: -moz-center;
    text-align: center;
    text-align: -webkit-center;
    float: left;
}

.single_funding .labelAbout span i {
    font-size: 14px;
}

.single_funding .md-editor>textarea {
    padding: 10px;
}

.single_funding .descriptiontextarea label {
    margin-left: 10px;
}

.single_funding .progress-bar-success {
    background-color: #93C020;
}

.single_funding .progress-bar-info {
    background-color: #fff;
}

.single_funding .widget {
    width: 100%;
    float: left;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgb(0 0 0);
    box-shadow: 0px 1px 1px 0px rgb(0 0 0);
    color: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 10px;
    /* margin-bottom: 20px; */
    /* min-height: 120px; */
    position: relative;
}

/*.single_funding .widget.widget-black {
    background: #ffffff;
    }*/
.single_funding .widget .widget-title,
.single_funding .widget .widget-subtitle,
.single_funding .widget .widget-int,
.single_funding .widget .widget-big-int {
    width: 100%;
    float: left;
    text-align: center;
}

.single_funding .text-success1 {
    color: green;
}

.single_funding .widget .widget-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 20px;
    text-transform: none;
    margin-top: 0px !important;
}

.widget-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 20px;
    text-transform: none;
    margin-top: 0px !important;
}

.single_funding .labelFunding,
.single_governance .labelGovernance {
    font-size: 16px;
}

/*GOUVERNANCE STYLE*/
.single_governance .progress {
    width: 60px;
    height: 60px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.single_governance .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}

.single_governance .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.single_governance .progress .progress-left {
    left: 0;
}

.single_governance .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 7px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: #93C020;
}

.single_governance .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.single_governance .progress .progress-right {
    right: 0;
}

.single_governance .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.single_governance .progress .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 36px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 300;
}

.single_governance .progress .progress-value div {
    font-size: 15px;
    margin-top: 10px;
}

.single_governance .progress .progress-value span {
    font-size: 15px;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .evaluate_content h4 {
        font-size: 20px;
    }

    .single_evaluate img {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
        min-height: auto;
    }

    .evaluate_content p {
        font-weight: 200;
        font-size: 14px;
    }

    .evaluate_content .btn-evaluate,
    .single_task .btn-participate,
    .single_funding .btn-financing,
    .single_governance .btn-opinion {
        font-size: 16px;
        padding: 6px 12px;
    }

    .evaluate_content .btn-component,
    .single_task .btn-component,
    .single_funding .btn-component,
    .single_governance .btn-component {
        justify-content: center;
    }
}

@media (min-width: 992px) {
    .proposition_list .contain-img-left {
        padding: 15px;
    }
}




/*Liste project*/

.product_list {
    position: relative;
    margin-bottom: 40px;
    transition: .3s;
    box-shadow: 0 2px 5px 0 rgb(63 78 88), 0 2px 10px 0 rgb(63 78 88);
    border-radius: 3px;
}

.product_list img {
    width: 100%;
    /*position: absolute;*/
    min-height: 420px;
    transition: .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}



.product_content h4 {
    font-size: 22px;
    font-weight: 700;
    border-bottom: 1px dashed #3f4e58;
    line-height: 2;
    text-transform: none;
    color: #3f4e58;
}

.product_content h4 span {
    font-size: 20px;
    font-weight: 800;
    float: right;
    font-style: italic;
    color: #9ebc37;
}

.product_content {
    display: flex;
    flex-direction: column;
}

.product_content p {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

.product_content .btn-component {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.product_content .btn-evaluate,
.proposition_list .btn-evaluate {
    color: white;
    background-color: #93C020;
    border-color: #93C020;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    padding: 6px 25px;
}

.product_list .progress,
.proposition_list .lt-progress {
    width: 55px;
    height: 55px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.product_list .progress:after,
.proposition_list .lt-progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid #3f4e58;
    position: absolute;
    top: 0;
    left: 0;
}

.product_list .progress>span,
.proposition_list .lt-progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.product_list .progress .progress-left,
.proposition_list .lt-progress .progress-left {
    left: 0;
}

.product_list .progress .progress-bar,
.proposition_list .lt-progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 7px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: #93C020;
}

.product_list .progress .progress-left .progress-bar,
.proposition_list .lt-progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.product_list .progress .progress-right,
.proposition_list .lt-progress .progress-right {
    right: 0;
}

.product_list .progress .progress-right .progress-bar,
.proposition_list .lt-progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.product_list .progress .progress-value,
.proposition_list .lt-progress .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 36px;
    text-align: center;
    line-height: 16px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 300;
}

.product_list .progress .progress-value div,
.proposition_list .lt-progress .progress-value div {
    font-size: 14px;
    margin-top: 10px;
}

.product_list .progress .progress-value span,
.proposition_list .lt-progress .progress-value span {
    font-size: 15px;
    text-transform: uppercase;
}

/*PROPOSITION LIST*/
@media (max-width: 979px) {
    .proposition_list figure img {
        width: 100% !important;
        margin: 0 auto;
        max-height: 189px;
        object-fit: contain;
    }
}

.proposition_list figure img {
    width: 100%;
    height: 320px;
    object-fit: contain;
    object-position: center;
}

.proposition_list {
    position: relative;
    margin-bottom: 40px;
    transition: .3s;
    /*box-shadow: 0 2px 5px 0 rgb(63 78 88), 0 2px 10px 0 rgb(63 78 88);*/
    border-radius: 3px;
}

.proposition_content h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 2;
    text-transform: none;
    color: #3f4e58;
}

.proposition_content h4 span {
    font-size: 20px;
    font-weight: 800;
    float: right;
    font-style: italic;
    color: #9ebc37;
}

.proposition_content h4 span {
    font-size: 20px;
    font-weight: 800;
    float: right;
    font-style: italic;
    color: #9ebc37;
}

.proposition_content {
    display: flex;
    flex-direction: column;
}

.title-proposition {
    line-height: 4;
    text-align: center;
    color: #3f4e58;
}

.proposition_list .btn-component {
    margin-top: 25px;
    flex-basis: 100%;
    display: block;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .proposition_content h4 span {
        width: 100%;
        text-align: center;
        display: block;
    }

    .proposition_content h4 {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .proposition_content h4 span {
        font-size: 20px;
        font-weight: 800;
        float: none;
        font-style: italic;
        color: #9ebc37;

    }

    .proposition_list .btn-component {
        margin-top: 0px;
        flex-basis: 100%;
        display: block;
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }

    .aapgetaapview.aaptitlegoto.minimalist-name {
        font-size: 0.795em;;
    }

}

.blogicon {
    font-size: 217px;
    color: #5CB85C;
}

.ratetext {
    font-size: 37px;
    text-decoration: underline;
    padding-bottom: 10px;
}

.votes {
    font-size: 47px;
    padding-right: 20px;
    color: #197BB5;
}

a.list-group-item {
    height: auto;
    min-height: 250px;
}

@media (max-width: 991px) {
    a.list-group-item {
        height: auto;
        min-height: 400px;
        padding: 10px !important;
    }
}

@media (max-width: 567px) {
    a.list-group-item {
        height: auto;
        min-height: 600px;
        padding: 10px !important;
    }
    .aapgetaapview.aaptitlegoto.minimalist-name {
        display: block !important;
        font-size: 0.795em;
        min-width: 48px;
        width: 74%;
        max-width: 74%;
    }
    .project-bulb.text-green.lbh-preview-element {
        /* margin-right: 10%; */
        transform: scale(0.85);
    }
    .list-item-progress.prop-compact-progression {
        margin-right: 7.2% !important;
        transform: scale(0.68);
        /* top: 20px !important; */
    }
    .col-btn-group-vertical.dropdown .fa.fa-bars.fa-2x {
        transform: scale(0.8);
    }
}

a.list-group-item:hover,
a.list-group-item:focus {
    border-left: 10px solid #5CB85C;
    border-right: 10px solid #5CB85C;
}

a.list-group-item {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.proposition_list .row.list-group-item {
    padding: 10px !important;
}

.proposition_list .list-group-item .btn-group-container {
    position: relative;
    /*display: none;*/
    height: 55px;
}

.proposition_list .list-group-item:hover .btn-group-container {
    position: relative;
    display: flex;
}

.proposition_list .btn-group-container {
    position: relative;
    display: flex;
    /*justify-content: flex-end;*/
    align-items: center;
    width: 100%;
    height: 100%;
}

.proposition_list .minimalist-name {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*FIX DESIGN BY NICO*/
.proposition_list .list-group-item .btn-group-container .btn-group .btn-sm {
    position: relative;
    margin: 0px;
    padding: 4px 6px;
    color: #fff;
    text-align: center;
    border: 0;
    /* border-bottom: 2px solid #3f4e58; */
    cursor: pointer;
    -webkit-box-shadow: inset 0 -3px #fff;
    box-shadow: inset 0 -2px #fff;
    margin: 0 1px;
}

.proposition_list .col-btn-group-vertical .btn-group-vertical .btn-sm {
    position: relative;
    margin: 0px;
    padding: 6px 6px;
    color: #fff;
    text-align: center;
    border: 0;
    cursor: pointer;
    margin: 0 1px;
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.aap-Showmorebtn {
    position: relative;
    margin: 0px;
    padding: 8px 12px;
    color: #fff;
    border: 1px solid #7da53d;
    text-align: center;
    background: #7da53d;
    border: 0;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 4px;
}

.aap-Showmorebtn:hover,
.aap-Showmorebtn:active,
.aap-Showmorebtn:focus {
    color: #7da53d;
    border: 1px solid #7da53d;
    text-align: center;
    background: #fff;
}

.proposition_list .list-group-item .btn-group-container .btn-group .btn-primary,
.proposition_list .col-btn-group-vertical .btn-group-vertical .btn-primary,
.single_evaluate .col-btn-group-vertical .btn-group-vertical .btn-primary {
    background: #7da53d;
}

.single_evaluate .col-btn-group-vertical .btn-group-vertical .btn {
    border: 0px !important;
}
.single_evaluate .col-btn-group-vertical.dropdown{
    position: relative;
    display: inline;
    float: left;
    margin: 0 10px 0 5px;
}
.single_evaluate .col-btn-group-vertical .btn-group-vertical {
    position: absolute !important;
    margin: 0;
    width: 250px;
}
.single_evaluate .col-btn-group-vertical .btn-group-vertical .btn-group-custom-container{
    margin: 5px 0;
}

.proposition_list .list-group-item .btn-group-container .btn-group .btn-primary.disable,
.proposition_list .col-btn-group-vertical .btn-group-vertical .btn-primary.disable {
    background: #b4c694;
}

.proposition_list .list-group-item .btn-group-container .btn-group .btn-primary:hover,
.proposition_list .list-group-item .btn-group-container .btn-group .btn-primary:active,
.proposition_list .col-btn-group-vertical .btn-group-vertical .btn-primary:active,
.proposition_list .col-btn-group-vertical .btn-group-vertical .btn-primary:hover,
.single_evaluate .col-btn-group-vertical .btn-group-vertical .btn:hover,
.single_evaluate .col-btn-group-vertical .btn-group-vertical .btn:active {
    background: #3f4e58;
    border-bottom: 2px solid #7da53d;
    color: #fff;
}

.proposition_list .row.list-group-item {
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    transition: box-shadow .25s;
    /*box-shadow: 0 2px 5px 0 rgb(63 78 88), 0 2px 10px 0 rgb(63 78 88);*/
}

.proposition_list .panel-default {
    border-color: #ece6e673;
}

.proposition_list .like-project:hover,
.proposition_list .dislike-project:hover {
    text-decoration: none;
}

#openModal .modal-content .text-center {
    /*float: inline-end !important;*/
    position: relative !important;
}

/* MODAL OVERLAY BY ANATOLE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.aapmodal_modal-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.aapmodal_center {
    display: grid;
    place-items: center;
}

.aapmodal-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: white;
}

.aapmodal-container .aapmodal-body {
    margin: 20px;
}

.aapmodal-container .aapmodal-body strong {
    font-size: 25px;
    position: relative;
    top: -30px;
}

.aapmodal-container .aapmodal-body aapinputcontent {
    position: relative;
    top: -10px;
    font-size: 13px;
    background-color: whitesmoke;
}

.modal-buttons {
    position: absolute;
    top: 120px;
    right: 10px;
}

.aapmodal-container .aapmodal_close-btn {
    cursor: pointer;
}

.modal-buttons button {
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    width: 145px;
    height: 45px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    color: rgba(0, 0, 0, 0.5);
}

.aapmodal_modal-overlay.aapmodal_open-modal {
    display: block;
}

/* Timeline CSS*******************************************************/


body {
    font: normal 16px/1.5 "Open Sans", sans-serif;
    /* background: #1B9AAA;
color: #fff;
overflow-x: hidden; */
    padding-bottom: 50px;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.aap-timeline ul {
    background: #fff;
    padding: 50px 0;
}

.aap-timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #7da53d;
}

.aap-timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.aap-timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #7da53d;
}

.aap-timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.aap-timeline ul li:nth-child(odd) div {
    left: 45px;
}

.aap-timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #7da53d transparent transparent;
}

.aap-timeline ul li:nth-child(even) div {
    left: -439px;
}

.aap-timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #7da53d;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.aap-timeline ul li::after {
    transition: background .5s ease-in-out;
}

.aap-timeline ul li.in-view::after {
    background: #7da53d;
}

.aap-timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.aap-timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.aap-timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.aap-timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
    border-radius: 5px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .aap-timeline ul li div {
        width: 250px;
    }

    .aap-timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .aap-timeline ul li {
        margin-left: 20px;
    }

    .aap-timeline ul li div {
        width: calc(100vw - 91px);
    }

    .aap-timeline ul li:nth-child(even) div {
        left: 45px;
    }

    .aap-timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #E86361 transparent transparent;
    }
}


@media (max-width: 800px) {
    .cfm.container {
        position: relative;
        /*float: left;*/
    }
}

/*--------------FILTERS-----------*/
.page-header {
    display: none;
}

.list-aap-container #filterContainerL .dropdown .btn-menu,
.list-aap-container #filterContainer .dropdown .btn-menu,
.cfm .searchObjCSS .dropdown .btn-menu,
.cfm .searchObjCSS .filters-btn {
    padding: 3px 11px;
    font-size: 11px;
}

.list-aap-container .searchBar-filters .search-bar {
    height: 29px;
    font-size: 11px;
}

.list-aap-container .searchBar-filters .main-search-bar-addon {
    height: 29px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#filterContainerL .panel-group.container-filters-menu .searchBar-filters.pull-left {
    width: 98% !important;
}

#menuTopLeft .searchBarInMenu,#menu-top-btn-group .searchBarInMenu {
    display: none !important;
}

#menuTopLeft .showHide-filters-xs,#menu-top-btn-group .showHide-filters-xs {
    border: none !important;
}

#menuTopLeft #filterContainerInside,#menu-top-btn-group #filterContainerInside {
    background-color: white;
    position: absolute;
    max-height: 600px;
    overflow-y: auto;
    left: 0;
}

#menuTopLeft #filterContainerL,#menu-top-btn-group #filterContainerL {
    position: unset !important;
}

#menuTopLeft #filterContainerL #filterContainerInside {
    position: fixed;
}

#menu-top-btn-group #filterContainerL {
    height: 45px !important;
}

#menu-top-btn-group #filterContainerL .showHide-filters-xs {
    width: 24px;
    margin-right: 5px;
    color: white;
    background-color: transparent;
}

#menu-top-btn-group #filterContainerL #aapSaveFilters {
    justify-content: center;
    display: flex;
}
#menu-top-btn-group #filterContainerL .btn-filter-action {
    position: relative;
    margin: 0px;
    padding: 4px 6px;
    color: #fff;
    text-align: center;
    border: 0;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -3px #fff;
    box-shadow: inset 0 -2px #fff;
    background-color: #9fbd38;
}

#filterContainerInside {
    overflow-y: auto;
    max-height: 800px;
}

#ocecofiltercontainer #filterContainerInside {
    overflow-y: unset !important;
}

.btn-filter-action {
    position: relative;
    margin: 0px;
    padding: 4px 6px;
    color: #fff;
    text-align: center;
    border: 0;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -3px #fff;
    box-shadow: inset 0 -2px #fff;
    background-color: #9fbd38;
}

@media (max-width: 767px) {
    .list-aap-container .searchBar-filters.pull-left {
        width: 100% !important;
    }
}

.list-aap-container .searchBarInMenu.pull-right {
    border: 1px solid #dadada;
    height: 40px;
    border-left: 0px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .proposition_list .end-project-date {
        float: right;
    }

    .proposition_list a:hover,
    .proposition_list a:focus {
        text-decoration: none;
    }

}

.single_evaluate .moreLinkaap,
.single_evaluate .lessLinkaap,
.proposition_list .moreLinkaap,
.proposition_list .lessLinkaap{
    padding: 0px;
    border-color: transparent;
    color: #7da53d;
    font-size: initial !important;
    display: table;
    text-align: left;
    /* margin-top: -40px; */
}

.proposition_list .moreLinkaap.less {
    margin-top: -20px;
}

.proposition_list .template-tag-panel .btn-tag {
    font-weight: 300;
    padding: 2px 2px 4px;
    background: transparent;
    font-weight: 600;
    color: #2C3E50;
}

.proposition_list a.template-tag-panel:hover .btn-tag,
.proposition_list a.template-tag-panel:focus .btn-tag,
.proposition_list a.template-tag-panel:active .btn-tag {
    color: #93C020;
}

.proposition_list ul.tag-list {
    margin-top: -15px;
}

.proposition_list .urgent-state,
.project-detail .urgent-state {
    background-color: transparent !important;
    border: 1px solid #e87350 !important;
    border-radius: 0px !important;
    cursor: default !important;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px 16px 5px 16px;
    font-size: 12px !important;
    font-weight: bold;
    color: #e87350 !important;
}

.proposition_list .select2-container-multi .select2-search-choice-close {
    left: 4px;
}

.proposition_list .panel-body.evaluator-panel {
    padding: 10px;
}


/***************gova***************/
.proposition_list .morecontent {
    display: none;
}

.proposition_list .morecontent * {
    font-size: 14px !important;
}

.proposition_list .statusicon {
    color: #7da53d;
}

.proposition_list .statusicondanger {
    color: #b94a48;
}

.proposition_list .unseen-proposition {
    box-shadow: inset 0 0 3px 3px #dcdc9a !important;
}


.proposition_list .list-group-item.unseen-proposition.bdgdiv::before {
    position: absolute;
    content: attr(data-label);
    top: 11px;
    left: -14px;
    padding: 0.5rem;
    width: 50px;
    background: #7da53d;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
    z-index: 10;
}

@media (min-width: 768px) {
    .modalValidater .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modalValidater.in .modal-dialog {
        top: 110px;
    }
}

.modalValidater.modal {
    background-color: rgba(44, 62, 80, 0.8);
    padding-top: 150px;
}

/*List*/

@media (max-width: 767px) {

    #filterContainerL .visible-xs,
    #filterContainer .visible-xs {
        display: block !important;
    }

    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}

.modalValidater .title {
    font-size: 25px;
    font-weight: bold;
}

.modalValidater ul.c-controls {
    list-style: none;
    margin: 0px;
    min-height: 44px;
}

.modalValidater ul.c-controls li {
    margin-top: 8px;
    float: left;
}


.modalValidater .name {
    font-size: 15px;
    font-weight: 700;
}

.modalValidater .img-contain img {
    width: 50px;
    height: 50px;
    min-height: 50px !important;
    object-fit: cover;
}

.modalValidater .c-info {
    padding: 5px 10px;
    font-size: 1.25em;
}

.modalValidater a.list-group-item {
    border: 0px !important;
}

.modalValidater #contact-list {
    max-height: 350px;
    overflow-y: auto;
}

.proposition_list #wizardLinks {
    z-index: 0;
}

.proposition_list .compact-container {
    width: 100%;
    height: 167px;
    position: relative;
    border: 1px solid #80808000;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.view-mode {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    position: relative;
    float: right
}

.view-mode a:hover {
    color: #7da53d
}

/*anatole*******/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4 !important;
    border: 1px solid #aaa !important;
    border-radius: 4px !important;
    cursor: default !important;
    float: left color: black !important;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.st-enable-btn {
    color: #fff;
    border: 1px solid #7da53d;
    text-align: center;
    font-size: 14px;
    margin: 0px;
    margin-left: 3px;
    padding: 5px 12px;
    background: #7da53d;
}

.st-enable-btn:hover {
    color: #7da53d;
    border: 1px solid #7da53d;
    background: #fff;
}

.questionList {
    list-style-type: none;
}

[data-countvalue] {
    float: right;
    background: #7da53d !important;
}

.faceMocion {
    z-index: 1000000 !important;
}

/***************************MAP*************************/
#mapOfResultsAnswL .leaflet-container {
    /*position: fixed !important;
width: 100%;
height: 50% !important;
top: 73% !important;
transform: translateY(-50%);
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);*/
    /* position: relative !important;
width: 100%;
height: 100% !important;
top: 73% !important;
transform: translateY(-50%);
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) */
}

/* @media (max-width: 992px) {
#mapOfResultsAnswL .leaflet-container{
    position: relative !important;
    width: 100%;
    height: 100% !important;
    top: 73% !important;
    transform: translateY(-50%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
} */

#mapOfResultsAnswL {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

#mapOfResultsAnswL .popup-section {
    display: none;
}

.list-item-progress.prop-compact-progression {
    position: absolute;
    top: 41px;
    right: 2px;
}

.project-bulb {
    position: absolute;
    top: 13px;
}

.social-share-button-preview,
#central-container .btn-show-map,
#central-container #listRoles {
    display: none !important;
}

.footerSearchContainer .pageTable>ul {
    float: right;
}

/*PROPOSITIONS ***********************************************************/

.morecontent {
    display: none;
}

.markdown {
    white-space: initial !important;
}

.aapnav {
    font-family: 'Lexend Exa', sans-serif;
    position: relative;
    /*top: 15px;*/
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid #EBECF1;
    /*border-radius: 30px;*/
    margin: 20px;
    /*animation: slide-in 1s ease-out;*/
}

.aapnav ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
}

.aapnav ul li:not(:last-child) {
    margin-right: 40px;
}

.aapnav ul li {
    border: 2px solid transparent;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 5px;
    transition: background 0.2s;
}

.aapnav ul li a {
    color: #3d4c58;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
    font-size: 14px;
    cursor: pointer;
}

.aapnav ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: block;
    margin: 12px -12px;
    padding: 0;
    background: #FFA91B;
    border: 2px solid #F7C833;
    border-right: 2px solid #F89329;
    border-bottom: 2px solid #F89329;
    border-radius: 5px;
    transition: opacity 0.2s, visibility 0.2s;
}

.aapnav ul li ul li {
    margin: -2px 0 0 -2px;
    width: calc(100% - 20px);
    line-height: 1.7;
}

.aapnav ul li ul li a {
    color: #2375D8;
}

.aapnav ul li:hover,
.aapnav ul li.active {

    border-bottom: 2px solid #a5d952;
}

.aapnav ul li:hover a,
.aapnav ul li.active a {
    color: #3d4c58;
    font-weight: bold;
}

.aapnav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 3px 5px 2px #EBECF1;
}

@media (max-width: 767px) {
    .aapnav {
        margin: 0px;
    }

    .aapnav ul li {
        padding: 5px;
        padding-right: 5px;
        padding-left: 5px;
        margin: 0px;
        width: 50%;
        margin: 0px;
        width: 49%;
        display: inline-block;
    }

    .aapnav ul li:not(:last-child) {
        margin-right: 0px;
    }

    .aapnav ul {
        display: block;
        padding: 0 10px;
    }
}

.aapnav ul li:hover ul li a {
    color: #F9F8FD;
    font-size: 12px;
}

@keyframes slide-in {
    0% {
        top: -50px;
    }

    40% {
        top: 20px;
    }

    70% {
        top: 10px;
    }

    100% {
        top: 15px;
    }
}

.aapswitch {
    background-color: #a3a0a0 !important;
    border-color: #a3a0a0 !important;
    /*        font-weight: bold;
font-size: 15px;
color: #fff;
margin: 10px;*/
}

.aaapbtnchart {
    background-color: #7282c6 !important;
    border-color: #7282c6 !important;
}

.oceco-styled-table thead tr {
    background-color: #7da53d !important;
}

.tododialog h1,
.validatedialog h1,
.paydialog h1,
.workerdialog h1,
.financerdialog h1,
.estimatedialog h1,
.payfidialog h1,
.todoinput {
    color: #7da53d !important;
}

.light-theme .current {
    background: #7da53d !important;
    color: #FFF;
    border-color: #7da53d !important;
    box-shadow: 0 1px 0 rgb(255 255 255), 0 0 2px rgb(0 0 0 / 30%) inset;
    cursor: default;
}

/*@media (max-width: 767px){*/
.breadcrumb {
    padding: 10px;
    font-size: 15px !important;
    color: #fff !important;
    letter-spacing: 1px !important;
    border-radius: 8px !important;
    background: transparent;
}

.breadcrumb li {
    font-size: 12px !important;
}

ul .btn-breadcrumb {
    display: inline-block !important;
}

ul .btn-breadcrumb .fa-2x {
    font-size: 1.5em !important;
}

.breadcrumb li a {
    text-decoration: none !important;
    color: rgb(0, 0, 0);
    font-weight: bold;

}

.breadcrumb li.active a {
    text-decoration: none !important;
    color: #000
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #7da53d;
    content: '\f101';
    font-family: FontAwesome;
}

/*}*/

.aapconfigdiv {
    background-color: #f5f5f500;
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    margin-bottom: 15px;
}

/*.aap-breadrumbbtn {
border: solid 2px #3f4e58;
border-radius: 10px;
font-weight: bold;
background-color: #fff;
color: #3f4e58;
}*/
.active-view,
.aap-breadrumbbtn {
    top: -3px !important;
    position: relative !important;
    /* margin: 0px !important; */
    padding: 6px 6px 6px 6px !important;
    color: #fff !important;
    /* text-align: center !important; */
    /* text-shadow: 0 3px 2px rgb(0 0 0 / 30%); */
    background: #7da53d !important;
    border: 0 !important;
    /* border-bottom: 3px solid #3f4e58; */
    cursor: pointer !important;
    /* -webkit-box-shadow: inset 0 -3px #fff !important; */
    /* box-shadow: inset 0 -3px #fff !important; */
    /* font-size: 14px !important; */
    border-radius: 4px !important;
    /* margin-bottom: 4px !important;*/
}

.aap-breadrumbbtn:hover,
.aap-breadrumbbtn:active {
    top: -3px !important;
    background: #3f4e58 !important;
    /* border-bottom: 3px solid #7da53d; */
    color: #fff !important;
    text-decoration: none;
}

.aap-breadrumbbtn-2 {
    background: #7da53d !important;
    color: #fff !important;
    text-decoration: none !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.aap-breadrumbbtn-2:hover,
.aap-breadrumbbtn-2:active {
    background: #3f4e58 !important;
    color: #fff !important;
}

@media (min-width:768px) {
    .menu-aap-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
}

#btn-gotoco {
    /*height: 0px;
width: 45px;*/
    position: fixed;
    right: 0;
    top: 60%;
    z-index: 1000;
    /*transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
    /*display: block;
background: #0bcb9a;
height: 45px;
padding-top: 10px;
width: 45px;
text-align: center;
color: #fff;
font-family: Arial, sans-serif;
font-size: 17px;
font-weight: bold;
text-decoration: none;*/
}

/* STYLE BY NICOSS */
/*@media (min-width: 768px){
.breadcrumb {
    padding: 0px;
    background: #f5f5f5;
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
}
.breadcrumb>li+li:before {
    padding: 0;
}
.breadcrumb li {
    float: left;
}
.breadcrumb li.active a {
    background: #7da53d ;
    color: #fff;
}
.breadcrumb li.completed a {
    background: hsla(153, 57%, 51%, 1);
}
.breadcrumb li.active a:after {
    border-left: 30px solid #7da53d ;
}
.breadcrumb li.completed a:after {
    border-left: 30px solid hsla(153, 57%, 51%, 1);
}

.breadcrumb li a {
    color: #3f4e58;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: block;
    float: left;
    font-size: 14px;
}
.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           !* Go big on the size, and let overflow hide *!
    border-bottom: 50px solid transparent;
    !*border-left: 30px solid hsla(0, 0%, 83%, 1);*!
    border-left: 30px solid #f5f5f5;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           !* Go big on the size, and let overflow hide *!
    border-bottom: 50px solid transparent;
    border-left: 30px solid #3f4e58;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
.breadcrumb li:first-child a {
    padding-left: 15px;
}
.breadcrumb li a:hover { background: #7da53d;color: #fff; }
.breadcrumb li a:hover:after { border-left-color: #7da53d   !important; }


}*/
.container-filters-menu .dropdown .btn-menu,
.container-filters-menu .filters-btn {
    border: 1px solid #7da53d !important;
}

.container-filters-menu .searchBar-filters .input-group-addon {
    background-color: #7da53d !important;
}

.container-filters-menu #input-sec-search .input-group-addon {
    color: #7da53d;
    border: 1px solid #7da53d;
    border-right-width: 0px;
}

.searchBar-filters .main-search-bar-addon,
.searchBar-filters .main-search-bar {
    border: 1px solid #9fbd38 !important;
}

@media (max-width: 767px) {
    .showHide {
        color: #9fbd38;
    }

    .showHide:hover,
    .showHide:active,
    .showHide:focus {
        background-color: #9fbd38;
        color: #fff;
    }

    /* .container-filters-menu .searchBar-filters {
    display: none!important;
} */
    .container-filters-menu .dropdown .dropdown-menu {
        border: 1px solid #9fbd38 !important;
    }

    .searchBarInMenu #main-search-bar-addon {
        background-color: #9fbd38 !important;
    }

    .container-filters-menu {
        border-top: 2px solid #9fbd38;
        min-height: 10px !important;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    }

    .searchObjCSS.menuFilters .container-filters-menu.menu-filters-xs {
        box-shadow: none !important;
        min-height: 0px !important;
        border-top: none !important;
    }

    #menuTopLeft .menu-verticale.searchObjCSS {
        position: inherit !important;
    }
}

.csvdivcontainer {
    overflow-x: scroll;
    height: 400px;
    overflow-y: scroll;
    transform: rotateX(180deg);
}

.csvdivcontainer table {
    transform: rotateX(180deg);
}

.csvdivcontainer::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.csvdivcontainer::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

/* Handle */
.csvdivcontainer::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

/* Handle on hover */
.csvdivcontainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.select2-container-multi.aapstatus-container .select2-choices .select2-search-choice {
    background-color: transparent !important;
    border: 1px solid #2c3e50 !important;
    border-radius: 0px !important;
    cursor: default !important;
    float: left;
    color: black !important;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 16px 5px 16px;
    font-size: 12px !important;
    font-weight: bold;
    color: #2c3e50 !important;
}


.aapstatus-dropdown {
    background-color: #b6dad1;
}

.select2-container-multi.select2-container-disabled .select2-choices {
    background-color: rgba(255, 255, 255, 0);
    background-image: none;
    /* border: 1px solid #ddd; */
    cursor: default;
    border: 0px;
}

.select2-container-multi:not(.select2-container-disabled) .select2-choices {
    background-color: #f5f5f5;
    border: 1px solid #dae0e4;
    border-radius: 6px;
}
.content-btn-action-aap {
    display: block;
    z-index: 10;
    position: absolute;
    top: 250px;
    right: 20px;
}

@media (min-width: 768px) {
    .navbar-nav > li > div > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.navbar-nav>li>div>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav>li>div>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar-default .navbar-nav>li>div>a {
    color: #777;
}

.aap-menu/*,#filterContainerL*/{
    /*position: fixed !important;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background: #fff;*/
}
.fixed-breadcrumb-filters{
    /* position: fixed !important; */
    /*left: 50%;*/
    /* transform: translateX(-50%); */
    z-index: 1000;
    /* width:100%; */
    padding : 0px 10px !important;
    background: white;
    height: 40px;
}
#coform-list .fixed-breadcrumb-filters {
    display: none !important;
}
.padding-compact-coform {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 90px 30px !important;
}
.center-save-btn {
    height: 0;
    visibility: hidden;
    transition: opacity 1.5s linear, max-height 1.5s linear;
    padding-bottom: 0px;
}
#centerFilters-active.notnull:hover ~ .center-save-btn{
	height: initial;
	visibility: visible;
    transition: opacity 1.5s linear, max-height 1.5s linear;
}
.center-save-btn.canactive:hover {
    height: initial;
	visibility: visible;
    transition: opacity 1.5s linear, max-height 1.5s linear;
}
@media (max-width: 768px){
    .aap-menu.container,.fixed-breadcrumb-filters.container,#filterContainerL.container {
        width:100%;
    }
}
@media (min-width: 769px) {
    .menu-verticale .container-filters-menu {
        /* display: inline-grid !important; */
    }
}
/*.to-menu-top-center .lbh-default{
    line-height: 2.2;
}*/
/*#mainNav .lbh-menu-app, #mainNav .lbh-urlExtern, #mainNav .lbh-anchor, #mainNav .lbh-dropdown, #mainNav .lbh-default {
    font-size: 15px !important;
    font-weight: 800 !important;
    color: black !important;
    text-transform: capitalize !important;
    margin-top: 5px;
}*/
.to-menu-top-center{
    margin-bottom : 8px;
}
#mainNav #menuTopCenter .dropdown-menu a {
    font-size: 15px;
    text-align: left;
}

/*by gova filters to full screen */
#filterContainer .dropdown .dropdown-menu, .searchObjCSS .dropdown .dropdown-menu.full-width {
    position: fixed ;
    overflow-y: auto ;
    top: 50%;
    left: 50%;
    width: 96% ;
    transform: translate(-50%,-50%) ;
    border-radius: 2px;
    border: 1px solid #6b6b6b;
    padding: 0px;
    height: 96%;
    z-index: 90000000;
    box-shadow: 0px 0px 0px 25px #00000061;
}

#filterContainer .dropdown .dropdown-menu.full-width .list-filters, .searchObjCSS .dropdown .dropdown-menu.full-width .list-filters {
    max-height: 100% ;
    max-height: 100% t;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#filterContainer .dropdown .dropdown-menu.full-width button, .searchObjCSS .dropdown .dropdown-menu.full-width button {
    border: 1px solid #80808047 ;
}
#filterContainer #costum-scope-search .dropdown-result-global-search:before, #filterContainer .dropdown .dropdown-menu-complexe:before, #filterContainer .dropdown .dropdown-menu.full-width:before, .searchObjCSS .dropdown .dropdown-menu-complexe:before, .searchObjCSS .dropdown .dropdown-menu.full-width:before,
#filterContainer #costum-scope-search .dropdown-result-global-search:after, #filterContainer .dropdown .dropdown-menu.full-width:after, .searchObjCSS .dropdown .dropdown-menu.full-width:after{
    display: none;
}
#filterContainer #input-sec-search .input-group, .searchBar-filters, .searchObjCSS #input-sec-search .input-group{
    height: 30px !important;
}
#filterContainerL.searchObjCSS{
    text-align: left;
}
/*end by gova filters to full screen */

/*by gova filters to right */
	/*@media (min-width: 991px){
		#filterContainerL.searchObjCSS{
			position: fixed;
			left: 0;
			width: 18%;
		}
		.container-filters-menu.menu-filters-xs {
			left: 0px;
			top: 82px;
			display: flex;
			flex-direction: column;
			height: 600px;
			overflow: auto;
    		padding-bottom: 200px;
		}
		.container-filters-menu.menu-filters-xs li >* {
			width: 100%;
		}
		#filterContainerL .main-search-bar.search-bar{
			width:100%
		}
		.container-filters-menu.menu-filters-xs::-webkit-scrollbar-track{
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
			background-color: #F5F5F5;
		}

		.container-filters-menu.menu-filters-xs::-webkit-scrollbar{
			width: 0px;
			height: 7px;
			background-color: #F5F5F5;
		}

		.container-filters-menu.menu-filters-xs::-webkit-scrollbar-thumb{
			background-color: #FFF;
			background-image: -webkit-gradient(linear,
											40% 0%,
											75% 84%,
											from(#4D9C41),
											to(#19911D),
											color-stop(.6,#54DE5D))
		}
	}*/
/*end by gova filters to right */
#mainNav .dropdown-menu a{
    text-align: left !important;
}

.ribbon {
    width: 129px;
    height: 129px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #7da53d;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 6px 0;
    background-color: #84b830db;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}

/* top left*/
.ribbon-top-left {
    top: -10px;
    left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-top-left::before {
    top: 0;
    right: 21px;
}
.ribbon-top-left::after {
    bottom: 21px;
    left: 0;
}
    .ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}

.select2-container-disabled.aapstatus-container .select2-search-field .select2-input:not(.select2-default){
    display: none;
}

.statustags-container:hover .st-enable-btn{
    display: inline-block;
}
.statustags-container:hover{
    cursor: pointer;
}
.statustags-container .st-enable-btn{
    display: none;
}
.proposition_list .col-btn-group-vertical{
    position: absolute;
    /* right: 18px; */
}
.proposition_list .compact-parent .col-btn-group-vertical{
    position: absolute;
    right: 18px;
    top:0;
    font-size: 9px;
    margin: 5px 3px;
}
.proposition_list .compact-parent .project-bulb.text-green {
    top: 0;
    margin-right: 6%;
    right: 5px;
    position: absolute !important;
}
.proposition_list .prop-compact-progression {
    position: relative;
    margin-right: 4%;
    margin-left: 1%;
    top: -10px;
}
.proposition_list .without-action {
    margin-right: 5.2%;
}
.proposition_list .pos-top-max-detailed {
    /* margin-top: -19.5vh; */
}
.btn-group-custom {
    min-width: inherit !important;
    padding: 6px;
    margin-top: 28px;
    display: none;
}
.dropdown.open .proposition-list.dropdown-menu {
    display: flex;
}
/* .proposition_list .col-btn-group-vertical{
    position: absolute;
    top: 50%;
    right: -28px;
    transform: translateY(-50%);
} */

/* schumann burger button */
.btn-custom {
    font-size: 1.125em;
    padding: 2px 5px !important;
    min-width: 38px;
    width: 38px;
    max-width: 38px;
}

.btn-group-custom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-btn-custom {
    font-size: .875em;
    word-break: break-all;
    margin-left: 5px;
    margin-left: 5px;
    width: 76%;
}

/* schumann debug navigation app */
#mainNav .open-xs-menu-collapse {
    padding: 8px 5px 5px 15px;
    font-size: 20px;
}

/* Filter */
#show-filters-lg .filter-xs-count{
    position: absolute;
    background: #4fb796;
    margin-left: 8px;
    /* top: inherit; */
    margin-top: -5px;
}
.align-top-right {
    position: absolute;
    top: -13px;
    right: -13px;
}
.like-project-container:hover .votant-modal-heart{
    display : block;
}
.like-project-container .votant-modal-heart{
    display : none;
}
.collapse-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}
@media (max-width: 1280px) {
    .proposition_list .without-action {
        margin-right: 7.2%;
    }
    .proposition_list .prop-compact-progression {
        position: relative;
        margin-right: 5.5%;
        top: -10px;
    }
}
@media (max-width: 992px) {
    .proposition_list .pos-top-min {
        top: -3vh;
    }
    .proposition_list .pos-top-max {
        top: -5.5vh;
    }
}
@media (max-width: 767px) {
    .proposition_list .pos-top-min {
        top: -3vh;
        right: 3%;
    }
    .proposition_list .pos-top-max {
        top: -4.5vh;
        right: 3%;
    }
}
@media (max-width: 567px) {
    .collapse-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 409px) {
    .proposition_list .without-action {
        margin-right: 11.2%
    }
}
@media (max-width: 800px){
    .list-aap-container .d-flex{
        display: block;
    }
}
.notification-dot {
    height: 7px;
    width: 7px;
    background-color: #525199;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-block;
    position: relative;

}
#ajaxFormModal input[type^="checkbox"] {
    min-height: auto!important;
}
#ajaxFormModal .form-group{
    text-align :left;
}

/*#menuTopLeft .lbh-menu-app {
    line-height: 60px;
    padding: 16px;
    text-decoration: none;
}
#menuTopLeft .lbh-menu-app:hover,
.btnaapp_link.lbh-default:hover,
#btn-new-proposition:hover{
    background: #eee;
}
#menuTopLeft .lbh-menu-app .label-menu{
    padding-left: 0 !important;
}*/
.btnaapp_link.lbh-default, #btn-new-proposition{
    /*margin-top: 5px !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    margin-right: 7px !important;
    border-radius: 2px !important;
    line-height: normal !important;*/
}
#menuTopCenter{
    padding-left: 7px !important;
}
.list-item-description{
    word-break: break-all;
    padding-top:15px;
}

#formmodal .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
}

#formmodal .modal-content {
    height: 100%;
    border-radius: 0;
}

#formmodal.modal {
    z-index: 10000 !important;
}

.aapformmodal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0,0,0, .9);
    transition: opacity .25s ease;
    z-index:99999;
    margin: 20px;
    border: 2px solid #c5c5c5;
    border-radius: 10px;
}

.aapformmodal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.aapformmodal-state {
    display: none;
}

.aapformmodal-state:checked + .aapformmodal {
    opacity: 1;
    visibility: visible;
}

.aapformmodal-state:checked + .aapformmodal .aapformmodal__inner {
    top: 0;
}

.aapformmodal__inner {
    transition: top 1.25s ease;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
}

.aapformmodal__close {
    position: fixed;
    right: 30px;
    top: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.aapformmodal__close:after,
.aapformmodal__close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}

.aapformmodal__close:hover:after,
.aapformmodal__close:hover:before {
    background: #aaa;
}

.aapformmodal__close:before {
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

    .aapformmodal__inner {
        width: 90%;
        height: 90%;
        box-sizing: border-box;
    }
}

.list-item-description h1{
    font-size: 18px !important;
}
.list-item-description h2{
    font-size: 15px !important;
}
.list-item-description h3{
    font-size: 13px !important;
}
.list-item-description h4{
    font-size: 12px !important;
}
.list-item-description h5{
    font-size: 12px !important;
}
#mainNav .aap-small-context {
    font-size: 16px !important;
    font-weight: 200 !important;
    float: left !important;
    font-style: italic !important;
    text-decoration: none !important;
    padding: 0px 20px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 462px !important;
}

.listnumberAction {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #2d3e50;
    position: absolute;
    font-size: 14px;
    top: -5px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}

.list-group-item-detailed .panel.panel-default{
    box-shadow: none !important;
    background-color: #fff !important;
    border : 0;
}
.list-group-item-detailed .panel.panel-default:hover{
    border-top:1px solid #eee;
}
.list-group-item-detailed .panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #fff;
}
#aapViewFormModal{
    z-index: 1000000;
}