#myKanban {
    position:relative;
    overflow-x: auto;
    padding: 20px 0;
    width:100%;
    -webkit-overflow-scrolling: touch;
}
#myKanban1 {
    position:relative;
    width:100%;
    overflow-x: scroll; 
    overflow-y:hidden
}

#myKanban::-webkit-scrollbar-track,
#myKanban1::-webkit-scrollbar-track,
.kanban-board .kanban-drag::-webkit-scrollbar-track,
.kanban-item .panel-body::-webkit-scrollbar-track,
.kanban-project-list::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	/* border-radius: 5px; */
}

#myKanban::-webkit-scrollbar,
#myKanban1::-webkit-scrollbar,
.kanban-board .kanban-drag::-webkit-scrollbar,
.kanban-item .panel-body::-webkit-scrollbar,
.kanban-project-list::-webkit-scrollbar{
	width: 5px;
    height: 5px;
	background-color: #F5F5F5;
}

#myKanban::-webkit-scrollbar-thumb,
#myKanban1::-webkit-scrollbar-thumb,
.kanban-board .kanban-drag::-webkit-scrollbar-thumb,
.kanban-item .panel-body::-webkit-scrollbar-thumb,
.kanban-project-list::-webkit-scrollbar-thumb
{
	/* border-radius: 10px; */
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}

#myKanban1 div{
    position:relative;
    width:1500px;
    height:10px
}
#myKanban .kanban-board .kanban-drag {
    min-height: 200px;
    padding: 20px;
    height: 456px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
.kanban-container .success {
    background: #7da53d;
    color: #fff
}

.kanban-container .info {
    background: #2C98DE;
    color: #fff
}

.kanban-container .warning {
    background: #f4ce46;
}

.kanban-container .error {
    background: #fb7d44;
    color: #fff
}
.kanban-container .dark{
    background: #57a6db;
    color: #fff
}

.kanban-container .custom-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 15px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.proposition_list #myKanban .unseen-proposition::before{
    position: absolute;
    content: attr(data-label);
    top: -3px;
    left: -7px;
    padding: 0.5px 0;
    transform: rotate(327deg);
    width: 30px;
    background: #7da53d;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
    font-size: 11px;
    z-index: 9;
}
.proposition_list #myKanban .unseen-proposition{
    position: relative;
}
/*personal action*/
#myKanban .action-name:first-letter {
    text-transform: uppercase;
    padding-left:10px;
}
#myKanban .action-name{
    margin:0 !important;
    display: inline;
}
#myKanban .dropdown.dropdown-action-ellipsis-v{
    display: inline;
    float: right;
}

#myKanban .dropdown-menu.action-plus{
    position: absolute !important;
    right: 0 !important;
    top: 100% !important;
    left: -136px !important;
}

#myKanban .new-task{
    position: absolute;
    top: 0;
    right: 10px;
}
#myKanban .contributor-counter{
    /* position: absolute;
    top:50%;
    left: 63%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    background: #0000009c;
    color: white; */
    border-radius: 5px;
    padding: 0 1px;
    width: 17px;
    height: 20px;
    text-align: center;
}
#myKanban .img-contributors{
    position: absolute;
    top:0;
}
#myKanban .popover{
    width: 300px !important;
}