.custom-select{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.custom-select select{
    display: none;
}
.custom-select-input{
    width: 100%;
    border: none;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
}
.custom-select-input:focus{
    outline: none;
}
.custom-select-dropdown{
    position:absolute;
    background-color: white;
    padding: 5px;
    top: 70px;
    border-radius:5px;
    width: 100%;
    text-align: left;
    z-index: 999;
    transition: .4s;
    visibility: hidden;
    opacity:0;
    border: 1px solid #eaeaea;
    box-shadow: 0px 6px 15px -2px rgba(0,0,0,0.3);
    max-height: 220px;
    overflow: auto;
}
.custom-select-dropdown::-webkit-scrollbar {
    width: 10px;
}
.custom-select-dropdown::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-radius: 10px;
}
.custom-select-dropdown::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #707070;
}
.custom-select-dropdown.opened{
    top:55px;
    visibility: visible;
    opacity:1;
}
.custom-select-dropdown li{
    list-style: none;
    font-size: 16px;
    padding: 5px;
    cursor:pointer;
}
.custom-select-dropdown li:not(:last-child){
    border-bottom: 1px solid #eaeaea;
}
.custom-select-dropdown li:hover{
    background: #eaeaea;
    border-radius: 5px;
}

.custom-select i{
    transition: .4s;
}

.custom-select i.up{
    transform: rotate(180deg);
}