.meteolamer-map-search-bar{
    display: flex;
    align-items: center;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    background: white;
}
.meteolamer-map-search-bar input{
    width: 100%;
    margin-right: 10px;
    border: none;
    font-size: 18px;
    padding: 10px;
}
.meteolamer-map-search-bar input:focus{
    outline: none;
}
.meteolamer-map-search-bar i{
    font-size: 20px;
    padding: 10px;
}
.btn-day-navigation{
    border-color:black !important;
}
.daily-forecast-header .day-navigation li{
    color:black !important;
}
.daily-forecast-header .day-navigation li:nth-child(2){
    font-size:20px;
}
.day-navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.popup-map-meteolamer{
    top:-140px;
}

.popup-map-meteolamer .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: none;
    box-shadow:none;
}

.poopup-container{
    border-radius: 20px;
    position: relative;
    width: 165px;
    padding: 2px 2px 2px 40px;
}

.poopup-container .icon{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -6px;
    left: -4px;
    box-shadow: 1px 2px 11px -1px rgba(0,0,0,0.5);
}
.poopup-container.wave .icon{
    background-color: rgb(235, 176, 0);
}
.poopup-container.wind .icon{
    background-color: rgb(164, 255, 66);
}

.poopup-container .icon img{
    width: 28px;
    height: 28px;
}

.poopup-container ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.poopup-container ul li{
    list-style: none;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
}
.poopup-container ul li:not(:last-child){
    padding-right: 10px;
}
.poopup-container ul li img{
    height: 20px;
}

.pulse {
    display: block;
    border-radius: 50%;
    cursor: pointer;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 0 0;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
.arrow-marker{
    width:30px; 
    height:30px; 
    display:flex; 
    align-items:center;
    justify-content:center; 
    border-radius:100%;
}
.arrow-marker img{
    width:22px;
    height:22px;
}

.arrow-marker-popup-container .leaflet-popup-content-wrapper{
    background:none;
    box-shadow:none;
}

.meteolamer-legende-container{
    position:absolute;
    bottom:0;
    left:0px;
    z-index:2;
    margin: 10px;
    background: rgba(255, 255, 255, .8);
    border-radius: 4px;
}
.meteolamer-legende-container .legend-header{
    background: white;
    border-radius: 4px;
    cursor:pointer;
}
.meteolamer-legende-container .legend-header p{
    margin: 0;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
}
.meteolamer-legende-container .legend-header p i{
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    transition:.3s;
    transform:rotate(180deg);
}
.meteolamer-legende-container .legend-header.active p i{
    transform:rotate(0deg);
}
.meteolamer-legende-container .legend-body{
    display:flex;
    padding:10px;
}
.meteolamer-legende-container ul{
    margin:0;
    padding:0;
}
.meteolamer-legende-container ul li{
    list-style:none;
    font-size: 11px;
    font-weight:bold;
}
.meteolamer-legende-container .legende-title p:first-child{
    font-size:12px;
    font-weight:bold;
    margin:0;
}
.meteolamer-legende-container .legende-title p:last-child{
    font-size:10px;
    margin-bottom:5px;
}

.meteolamer-map-cards-container{
    height:calc(100vh - 350px); 
    overflow:auto;
    padding: 0px 5px 0px 20px !important;
}

#meteolamerMapContainer{
    height:calc(100vh - 150px);
    margin-bottom: 20px;
}

.meteolamer-map-header-nav-lg{
    display:block;
}

.meteolamer-map-header-nav-md{
    display:none;
}

@media only screen and (max-width: 767px){
    .meteolamer-map-cards-container{
        height: auto;
        padding: 0px !important;
    }

    #meteolamerMapContainer{
        height: 400px;
    }

    .meteolamer-map-header-nav-lg{
        display:none;
    }

    .meteolamer-map-header-nav-md{
        display:block;
    }
}