/*#menu-top-btn-group, .menu-btn-follow{
	display: none;
}
#btnHeaderEditInfos{
	display: none;
}*/
.contentHeaderInformation{
	padding-top: 40px;
    padding-right: 0px;
    padding-bottom: 70px;
    padding-left: 0px;
}

#menu-top-btn-group{
	padding-right: 40px !important;
}
