#mainNav .btn-show-map{
    text-rendering: inherit !important;
    display: block !important;
    position: fixed;
    right: 0px;
    margin: 0px !important;
    writing-mode: vertical-lr !important;
    text-orientation: mixed;
    top: 34%;
    text-align: center;
    transform: rotate(180deg);
    z-index: 10000000;
    background-color: #0095ff !important;
    height: 40% !important;
    width: 30px !important;
    border-radius: 0px 5px 5px 0px !important;
    font-size: 17px;
}
.main-container .btn-show-map {
    display: none !important;
}
#mainNav .btn-show-map:hover {
   color: #0095ff !important;
   border:2px solid #0095ff !important;
   border-left-width:0px !important;
   background-color: white !important;
 
}
.has-error .form-control{
    border-color: #f1256b !important;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #f1256b;
}
.setAsCenterLocalityBtn{
    display: none !important;
}
#btn-panel {
font-size:15px;
border-radius: 5px !important;
border: solid 1px #fff;
padding: 2px;
}

/*.boxBtnLink ul{
    display:none;
}*/
.footer-menu-horizontal #show-bottom-add {
    background-color: #34a853 !important;
    z-index: 1000000;
    left: 10px;
    bottom: 10px !important;
}
.menu-linksBtn.btn-favorite-link{
    display:none;
}
/*
.boxBtnLink a:first-child{
    display:none;

}*/
.leaflet-popup-tip-container{
  /*  bottom: -30px !important;*/
}
.toolbar-bottom-adds{left: 62px;
    bottom: 3px !important;
}
.toolbar-bottom-adds .addBtnFoot{
    margin-bottom: 0px !important;
    border-radius: 10px;
}
#footerDropdown{
    display:none;
}
.footer-menu-horizontal #show-bottom-add{
    line-height: 60px;
}
.headerSearchContainer, .bodySearchContainer{
    width: 100%;
    margin-left: 0px !important;
    padding-left: 5px !important;
    padding-right: 0px !important;
}
#mainNav{
    box-shadow: 1px 0px 4px 0px #161315;
}
#mapContent .btn-hide-map{
    display:none;
}
/*.btnHeader{
border-radius: 15px !important;
border: solid 1px #fff;
padding: 0 5px 0 5px;

}*/


/* Popup walcome and pupup de confirmation*/
@media (min-width: 768px){
   #popup-Tlieux .modal-dialog, #addConfirmModal .modal-dialog{
        margin: 150px auto;
    } 
    #ajax-modal .first-register .form-group, #ajax-modal .first-register .form-actions {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    }
}

#popup-Tlieux .modal-dialog {
    padding: 0px ;
    position: relative;
}
/*
#popup-Tlieux .modal-dialog:before {
    content: '';
    height: 0px;
    width: 0px;
    border-left: 50px solid #fade37;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 1px;
    left: -14px;
    z-index: 99;
}

#popup-Tlieux .modal-dialog:after {
    content: '';
    height: 0px;
    width: 0px;
    border-right: 50px solid #fade37;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 1px;
    right: -14px;
    z-index: 999999;
}
*/
.custom-modal-header {
    text-align: center;
    color: #fade37;
    text-transform: uppercase;
    letter-spacing: 2px;
    /*border-top: 4px solid;*/
    min-height: 0px;
    padding: 0px;
    border-bottom: none;
}

#popup-Tlieux .modal-dialog .close {
    z-index: 99999999;
    color: white;
    text-shadow: 0px 0px 0px;
    font-weight: normal;
    top: -11px;
    right: -11px;
    position: absolute;
    opacity: 1;
    background-color: #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.custom-modal-header .modal-title {
    /* font-weight: bold; */
    font-size: 18px;
}


#popup-Tlieux .modal-body .left-Tlieux i.animated {
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

    #popup-Tlieux .left-Tlieux {
        background: #000;
        padding: 4%;
        border-bottom-left-radius: 0.5rem;
        margin-bottom: -15px;
        margin-top: -15px;
    }
    #popup-Tlieux .contact-info{
        color: #fff;
        height: 311px;
        display: flex;
        align-items: center;
    }
    #popup-Tlieux .contact-info img {
        width: 100%;
    }
    #popup-Tlieux .contact-info .cont-icon img {
        margin-top: -7px;
    }
    #popup-Tlieux .contact-info h2{
        margin-bottom: 10%;
    }
    #popup-Tlieux .section-paragraph{
        font-weight: 500;
        /*color: #000;*/
        font-size: 20px;
        margin: 15px 0 15px;
        /*border-left: 2px solid #fade37;
        padding-left: 15px;*/
    }
    #popup-Tlieux .section-paragraph a{
        color: #000;
        font-weight: 700;
    }
    #popup-Tlieux .welcome-txt{
        font-weight: 500;
        /*color: #000;*/
        padding-top: 5px;
        text-transform: initial;
        font-size: 21px;
    }
    #popup-Tlieux hr{
        border-top: 2px solid #fade37;
        margin-top: 30px;
    }
    #popup-Tlieux .space-paragraph{
        width: 150px;
        display: block;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    #popup-Tlieux .space-paragraph i{
        font-size:25px;
        color: #000;
    }
    @media (max-width : 767px){
        #popup-Tlieux .modal-dialog {
            margin: 25px;
            margin-top: 110px;
        }
        #popup-Tlieux .space-paragraph{
                width: 80px;
        }
    }


    /* nav mode xs*/

    @media (max-width: 768px){
         #filters-nav #costum-scope-search{
            width: 100%;
         }
         #mainNav #menuTopRight{
            margin-top: 0px!important;
        }
    }
    
    #filters-nav {
        text-align: center;
        background-color:  #000;
    }
    

    .searchBarInMenu #main-search-bar-addon, #mainNav .searchBarInMenu #second-search-bar-addon, #mainNav .searchBarInMenu #main-search-xs-bar-addon, #mainNav .searchBarInMenu #second-search-xs-bar-addon {
        background-color:  #000!important;
    }
    .searchBarInMenu #main-search-bar-addon:hover, #mainNav .searchBarInMenu #second-search-bar-addon:hover, #mainNav .searchBarInMenu #main-search-xs-bar-addon:hover, #mainNav .searchBarInMenu #second-search-xs-bar-addon:hover {
        background-color:  #fade37!important;
    }
    #mainNav {
       /*background-image: linear-gradient(to top left,#000,#fade37)!important;*/
       background-color:  #fff!important;
    }
    #mainNav .menu-btn-top i{
        color: #000 !important;
    }
    
/*on load*/
/*
.lds-dual-ring .ring2{
        border-color: transparent #000 transparent #000!important;
}
.lds-dual-ring .ring1{
        border-color: transparent #fade37 transparent #fade37!important;
}
*/
/* Carte */

.leaflet-touch .leaflet-bar {
    border: 2px solid #000;
}
#mapContentMap .leaflet-bar a {
    background-color: #000;
    border-bottom: 1px solid #fade37;
    color: #fff;
}
#mapContentMap .leaflet-bar a:hover {
    background-color: #fff;
    border-bottom: 1px solid #fade37;
    color: #000;
}
.modal-backdrop.in {
    display: block!important;
}

#menuBottom {
    margin-left: 20px!important;
    margin-bottom: 20px!important;
    width: fit-content;
}

#menuBottom a#show-bottom-add  {
    min-width: 150px;
    padding: 5px 10px!important;
    border: none;
    background-color:#000!important;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    
    /*box-shadow: 0px 6px 0px #39449c;*/
}


#menuBottom a#show-bottom-add:hover  {
    /*border: 1px solid #000;*/
    background-color:#fade37!important;
    color: #000 !important;
    /*box-shadow: 0px 6px 0px #ca275a;*/
}
     

#show-bottom-add .tooltips-menu-btn{
    display: none!important;
}

#menuRight .btn-show-map {
    display: block !important;
    position: fixed;
    right: 0px;
    margin: 0px !important;
    writing-mode: vertical-lr !important;
    text-orientation: mixed;
    top: 35%;
    text-align: center;
    transform: rotate(180deg);
    z-index: 10000000;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    width: auto;
    height: auto;
    padding: 15px 5px;
    /*border: 2px solid #fade37;*/
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
}

#menuRight .btn-show-map:hover {
    
    color: #000;
    background-color: #fade37;
    border: none;
    text-transform: none;
    border-left: none;
}
#menuRight{
    background-color: transparent!important;
}

#mainNav .btn-menu-connect {
    background-color: #fade37 !important;
    font-size: 18px !important;
    color: white !important;
    border-radius: 25px !important;
    padding: 8px 15px !important;
    border: 1px solid;
}

/* #################   Formulaire modal   ################ */
#ajax-modal .control-label, #modalLogin label, #modalRegister label {
    color: #000;
}
#ajax-modal .control-label i, #modalLogin label i, #modalRegister label i {
    color: #fade37;
}
#ajax-modal #type, #ajax-modal #role, #ajax-modal .formLocalityformLocality select {
    min-height: 40px!important;
    border-radius: 10px;
    padding-left: 12px;
    font-size: 16px;
    border-bottom: 3px solid #000!important;
    background-color: #fff;
    border: 1px solid #CBCBCB;
    /* Firefox */
    -moz-appearance: textfield;

    /* Chrome */
        -webkit-appearance: none;
        margin:0;

    /* Opéra*/
        -o-appearance: none;
        margin: 0; 
}
#ajax-modal .select2-container-multi .select2-choices, #ajax-modal .formLocalityformLocality input {
    border-radius: 10px;
    min-height: 40px!important;
    border-bottom: 3px solid #000;
}
#ajax-modal .formLocalityformLocality input.col-xs-11 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 40px!important;
    border-bottom: 3px solid #000;
}
#ajax-modal #newElement_btnSearchAddress {
    border-radius: 0 4px 4px 0;
    height: 40px!important;
    border-bottom: 3px solid #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fade37;
    color: #fff;
    font-size: 17px;
}
#ajax-modal #newElement_btnSearchAddress:hover {
    border-bottom: 3px solid #fade37;
    background-color: #000;
    color: #fff;
}

#ajax-modal .form-control, #modalLogin .form-control, #modalRegister .form-control {
    font-size: 16px;
    height: 40px;
    border-radius: 10px;
    border-bottom: 3px solid #000;
}
#ajax-modal #name {
    font-size: 16px;
    height: 40px;
    border-radius: 10px!important;
    border-bottom: 3px solid #000!important;
}
#ajax-modal .qq-paste-input {
    border-radius: 10px 10px 0px 0px!important;
}
#ajax-modal #description{
    border-radius: 0px 0px 10px 10px!important;
    border-bottom: 3px solid #000;
}
#ajax-modal .descriptiontextarea .btn-primary{
    background-color: #000;
    color: #fff!important;
}
#ajax-modal .descriptiontextarea .btn-primary:hover, #ajax-modal .descriptiontextarea .btn-primary:active {
    background-color: #fade37;
}
#ajax-modal #divNewAddress #newAddress, #ajax-modal #sumery #btnValideAddress, #ajax-modal #imageUploader .qq-upload-button-selector{
    color: #fff;
    background-color: #fade37;
    border-radius: 10px;
    border-color: #000;
    border-bottom: 4px solid #000;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
}
#ajax-modal #divNewAddress #newAddress:hover, #ajax-modal .divNewAddress a:active, #ajax-modal #sumery #btnValideAddress:hover, #ajax-modal #sumery #btnValideAddress:active, #ajax-modal #imageUploader .qq-upload-button-selector:hover, #ajax-modal #imageUploader .qq-upload-button-selector:active{
    color: #fff;
    background-color: #000;
    border-color: #fade37;
    border-bottom: 4px solid #fade37;

}
/*.select2-container-multi .select2-choices .select2-search-field input {
    font-size: 16px;
    border-bottom: 3px solid #2a3277;
}*/

#ajax-modal .form-actions .btn-default, .first-register .btn-default, #modalLogin .loginBtn, .btn-success, #modalRegister .createBtn, #modalRegister .btn-danger{
    height: 44px;
    background: linear-gradient(to bottom, #000 0%,#000 100%);
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #fade37;
    color: #fade37!important;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 17px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
    display: inline-block;
    margin: 0px 10px;
}
#ajax-modal .form-actions .btn-default:hover, #ajax-modal .form-actions .btn-default:active, #ajax-modal .form-actions .btn-default:focus, .first-register .btn-default:hover, .first-register .btn-default:active, .first-register .btn-default:focus, #modalLogin .loginBtn:active, .btn-success:active, #modalLogin .loginBtn:hover, .btn-success:hover, #modalLogin .loginBtn:focus, .btn-success:focus, #modalRegister .createBtn:hover, #modalRegister .btn-danger:hover, #modalRegister .createBtn:focus, #modalRegister .btn-danger:focus, .btn-danger:focus, #modalRegister .createBtn:active, #modalRegister .btn-danger:active, .btn-danger:active {
    background: linear-gradient(to bottom, #fade37 0%,#fade37 100%);
    border-bottom: 4px solid #000;
    color: #000!important;
}
#ajax-modal .form-actions .btn-default i, .first-register .btn-default i, #modalLogin .loginBtn i, .btn-success i, #modalRegister .createBtn i, #modalRegister .btn-danger i{
     color: #fade37;
}

#ajax-modal .form-actions .btn-default:hover i, #ajax-modal .form-actions .btn-default:active i,#ajax-modal .form-actions .btn-default:focus i, .first-register .btn-default:hover i, .first-register .btn-default:active i , .first-register .btn-default:focus i, #modalLogin .loginBtn:active i, .btn-success:active i, #modalLogin .loginBtn:hover i, .btn-success:hover i, #modalLogin .loginBtn:focus i, .btn-success:focus i, #modalRegister .createBtn:hover i, #modalRegister .btn-danger:hover i, #modalRegister .createBtn:focus i, #modalRegister .btn-danger:focus i, modalRegister .createBtn:active i, #modalRegister .btn-danger:active i{
     color: #000;
}
#modalLogin .btn-danger, #modalForgot .btn-danger, #modalSendActivation .btn-danger{
    background: linear-gradient(to bottom, #fade37 0%,#fade37 100%);
    height:44px;
    line-height: 22px;
    border: black 1px solid !important;
    /*border-bottom: 4px solid #b30e52;*/
}
#modalLogin .btn-danger:hover, #modalLogin .btn-danger:active, #modalLogin .btn-danger:focus{
    background: linear-gradient(to bottom, #FFF 0%,#FFF 100%);
    color: #fade37;
    height:44px;
    line-height: 22px;
/*    border-bottom: 4px solid #b30e52;*/
}

#modalForgot .btn-danger:hover, #modalForgot .btn-danger:active, #modalForgot .btn-danger:focus{
    background: linear-gradient(to bottom, #FFF 0%,#FFF 100%);
    color: #fade37;
    height:44px;
        line-height: 22px;
/*    border-bottom: 4px solid #b30e52;*/
}
#modalSendActivation .btn-danger:hover, #modalSendActivation .btn-danger:active, #modalSendActivation .btn-danger:focus{
    background: linear-gradient(to bottom, #FFF 0%,#FFF 100%);
    color: #fade37;
    height:44px;
        line-height: 22px;
/*    border-bottom: 4px solid #b30e52;*/
}


#modalLogin .btn-default {
    border: 2px solid #000!important;
    color: #000!important;
    background-color: #fff!important;
}
#modalLogin .btn-default:hover, #modalLogin .btn-default:focus, #modalLogin .btn-default:active {
    border: 2px solid #000!important;
    color: #fff!important;
    background-color: #000!important;
}
/*#ajax-modal .form-actions #btn-submit-form:after, .first-register .btn-validate:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 21px solid #fade37;
    border-bottom: 19px solid #fade37;
    border-left: 16px solid transparent;
    border-right: 18px solid #fade37;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;  
}

#ajax-modal .form-actions .mainDynFormCloseBtn:after, .first-register .btn-cancel:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 21px solid #fade37;
    border-bottom: 19px solid #fade37;
    border-right: 16px solid transparent;
    border-left: 18px solid #fade37;
    left: 0;
    top: 0;
    border-radius: 5px 0 0 5px;    
}
*/
#ajax-modal .form-actions #btn-submit-form, .first-register .btn-validate  {
  padding: 0px 12px 0px 12px;
  box-sizing: border-box;
}

#ajax-modal .form-actions #btn-submit-form:hover, #ajax-modal .form-actions #btn-submit-form:active, #ajax-modal .form-actions .mainDynFormCloseBtn:hover, #ajax-modal .form-actions .mainDynFormCloseBtn:active, .first-register .btn-cancel:active, .first-register .btn-cancel:hover, .first-register .btn-validate:active, .first-register .btn-validate:hover {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 2px;
}


#ajax-modal .form-actions .mainDynFormCloseBtn, .first-register .btn-cancel, #modalRegister .btn-danger {
  text-align: right;
  padding: 8px 12px 8px 5px;
  box-sizing: border-box;
  font-weight: 600;
}

 @media (max-width: 767px){
    #ajax-modal .form-actions .mainDynFormCloseBtn, .first-register .btn-cancel {
      padding: 8px 5px 8px 5px;
    }
    #ajax-modal .form-actions #btn-submit-form, .first-register .btn-validate {
      padding: 0px 10px 0px 1px;
    }
    /*
    #ajax-modal .form-actions #btn-submit-form:after, .first-register .btn-validate:after {
        border-left: 14px solid transparent;
        border-right: 8px solid #fade37;
    }
    #ajax-modal .form-actions .mainDynFormCloseBtn:after, .first-register .btn-cancel:after {
        border-right: 14px solid transparent!important;
        border-left: 8px solid #fade37!important;
    }
    */

 }


#ajax-modal .descriptiontextarea .md-header.btn-toolbar .btn-group button {
    border: 1px solid #000;
    color: #000;
}
#ajax-modal .modal-content {
    min-height: 350px;
}

.first-register .form-control {
    height: 52px!important;
    border-top-right-radius: 30px!important;
    border-bottom-right-radius: 30px!important;
    border-bottom: 3px solid #000!important;
    border-bottom-left-radius: 0px!important;
    border-top-left-radius: 0px!important;
}
.first-register .input-group {
    display: table!important;
    margin-left: auto;
    margin-right: auto;
}
.first-register .input-group-addon:first-child {
    border-right: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: inline-grid;
    background-color: #fff;
    color: #000;
    width: 10%;
    float: left;
    font-size: 20px;
    border-bottom: 3px solid #000;
    height: 52px;
    line-height: 32px;
}
.first-register #check-email-register{
    width: 90%;
    display: inline-grid;
}
.first-register .row .form-group {
    width: 100%;
    display: inline-block;
}
.first-register label {
    display: inline-block;
    float: left;
    color:#000;
}

.first-register .contain-btn {
    padding: 20px 0px 0px 0px;
}



/* #################   END Formulaire modal   ################ */



/* #################   style HEADER modal   ################ */
#ajax-modal .modal-content{
    overflow:hidden;
}

#ajax-modal .top-strip {
    height: 180px;
    background: #000;
    transform: rotate(141deg);
    margin-top: -140px;
    margin-right: 569px;
    margin-left: -157px;
    border-bottom: 75px solid #fade37;
    border-top: 18px solid #fade37;
    display: block!important;
}
#ajax-modal .bottom-strip {
    height: 210px;
    background: #000;
    transform: rotate(135deg);
    margin-top: -145px;
    margin-right: -625px;
    margin-left: 465px;
    border-bottom: 65px solid #fade37;
    border-top: 56px solid #fade37;
    display: block!important;
}
#ajax-modal-modal-body .row{
  background-color: transparent;  
}


#ajax-modal .under-title {
    display: block!important;
}
#ajax-modal .container .modal-header {
    color: #000!important;
    background-color: transparent!important;
    border-bottom: 0px;
    padding-bottom: 0px;
    margin-top: -10px;
}

#ajax-modal .under-title .space-paragraph img {
    width: 30px;
    display: inline-block!important;
    margin-top: -7px;
}
#ajax-modal .under-title .space-paragraph {
    width: 150px;
    display: block;
    margin-left: auto!important;
    margin-right: auto!important;
}
#ajax-modal .under-title hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top: 3px solid #fade37;
    width: 80%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px) {
    #ajax-modal .under-title hr {
        margin-top: 35px;
    }
    #ajax-modal .under-title .space-paragraph img {
        width: 45px;
        display: inline-block!important;
        margin-top: -8px;
    }
}

/* #################   END style HEADER modal   ################ */


/* #################   END style Map content   ################ */
@media (max-width: 768px){
    #mapContent {
        top: 92px!important;
        border-top: 2px solid #000;
    }

    #search-content{
        border-top: 2px solid #000;
    }
}

#menuBottom .toolbar-bottom-adds{
    display: none!important;
}

.entityRight .entityCenter .add2fav i {
    background-color: #fade37!important;
}

.cont-icon img {
        margin-top: -7px;
        width: 170px;
    }

.text-confirm {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    text-transform: none;
}
@font-face{
    font-family: Cedarville;
    src: url('../../font/franceTierslieux/Cedarville-Cursive.ttf');
}
.interogation{
    float: right;
    font-size: 50px;
    font-family: Cedarville;
    width: 10%;
    color: #fade37;
}
.text-title{
    float: left;
    width: 90%;
}



.select2-container, .select2-drop, .select2-search, .select2-search input {
    font-size: 16px;
    border-bottom: 3px solid #000;
    border-radius: 10px;
    text-align: left;
}
.select2-container .select2-choice {
    border-radius: 10px!important;
}
.select2-container .select2-choice {
    font-size: 16px;
    display: block;
    height: 36px;
    line-height: 30px;
    padding-left: 16px;
    color: #555965;
}
.select2-container-multi .select2-choices .select2-search-field input {
    font-size: 16px!important;
    color: #827f7f!important;
}
.select2-container .select2-choice .select2-arrow b:before {
    display: none;
}
.indice-label {
    font-weight: 500;
    color: #555965;
}
#btn-filtersmapContent{
    display: none;
}
#ajax-modal .select2-container-multi .select2-choices .select2-search-choice {
    background-color: #fade37 !important;
    color: white !important;
    border: 1px #fade37 solid!important;
}
.select2-results .select2-disabled {
    color: #555965!important;
}
.select2-search-choice-close::before {
    color: white !important;
}
#role .text-red {
    color: #827f7f!important;
    font-weight: 500!important;
}
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
    font-size: 16px;
}

/*Flo ajout*/
#btn-panelmapContent{
    display:none;
}



.locationlocation .removeLocalityBtn{
background: linear-gradient(to bottom, #fade37 0%,#fade37 100%);
border-bottom: 4px solid #b30e52;
}

.locationlocation .removeLocalityBtn:hover{
background: white;
color:#fade37;
border-bottom: 4px solid #b30e52;
}


.locationlocation span.locationEl0{
 color:#fade37 !important;    
}

#dropdown-newElement_streetAddress-found{
    background-color:#fade37 !important;
    color:white;
}

#dropdown-newElement_streetAddress-found li a{
    color:white;
}
#dropdown-newElement_streetAddress-found li a:hover{
    color:#000;
}

#dropdown-newElement_locality-found{
 background-color:#fade37 !important;
    color:white;
}

#dropdown-newElement_locality-found li a{
    color:white;
}
#dropdown-newElement_locality-found li a:hover{
    color:#000;
}


.logoLoginRegister{
max-height:175px !important;
}

#ajaxFormModal .alert-danger, .form-actions .alert-danger{
    color: #fade37;
background-color: #60549a;
border-color: #fade37;
}

#listSameName .btn-danger{
background: linear-gradient(to bottom, #fade37 0%,#fade37 100%);
color:white;
border-color:#fade37;
}

#listSameName .btn-danger:hover{
background: white;
color:#fade37;
}

#listSameName .text-red{
    color:#fade37!important;
}

label.error{
    color:#fade37!important;
}

.btn-tag{
background: #fade37;
font-weight:unset;
}

.btn-link-content .btn-link{
    background: linear-gradient(to bottom, #fade37 0%,#fade37 100%);
/*border-bottom: 4px solid #b30e52;*/
color: #000 !important;
}

.btn-link-content .btn-link:hover{
    background: #000;
/*border-bottom: 4px solid #b30e52;*/
color: #fade37 !important;
}

#ajax-modal.portfolio-modal.modal {
    z-index: 100000 !important;
}

.checkbox-content label input[type="checkbox"]:checked + .cr {
    background-color: #5158ca !important; 
}    

.modal-header{
    background-color: #5158ca !important;
}


.modal-body h4:first-child{
    color: #5158ca !important;
}

.modal-footer button{
    color: #5158ca !important;    
}

.smartgrid-slide-element .slide-hover, .smartgrid-slide-element .img-back-card .text-wrap{
    background: rgba(0, 0, 0, 0.7) !important;
}


.slide-hover .entityLocality{
    color: #fff !important;
}    

.smartgrid-slide-element ul.tag-list .btn-tag {
    color: #000 !important;
}    

#show-button-map i{
    transform: rotate(180deg);
}

.help-block{
    color : #fade37 !important;
}


.form-input-info-circle, .form-input-info, .form-input-info a{
    color : #fade37 !important;
}

#btnValideAddress{
text-align: center;
}

.marker-cluster-small-ftl {
    color: white;
    border-radius: 50%!important;
    margin-left: -27px !important;
    margin-top: -27px !important;
    padding: 7px !important;
    width: 40px !important;
    height: 40px !important;
    background-color: #4e4e4e !important;
    background-image: none;
}
.marker-cluster-small-ftl div {
    border-radius: inherit;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin: 0px!important;
    width: 30px !important;
    height: 30px !important;
    background-color: transparent !important;
    padding: 3px 5px 9px 0px!important;
    font-size: 18px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: white;
    font-weight: 700!important;
    text-align: center!important;
}

.marker-cluster-medium-ftl {
    color: white;
    border-radius: 50%!important;
    margin-left: -27px !important;
    margin-top: -27px !important;
    padding: 7px !important;
    width: 48px !important;
    height: 48px !important;
    background-color: #2f2f2f !important;
    background-image: none;
}

.marker-cluster-medium-ftl div {
    border-radius: inherit;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin: 0px!important;
    width: 40px !important;
    height: 40px !important;
    background-color: transparent !important;
    padding: 6px 3px 13px 0px!important;
    font-size: 18px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: white;
    font-weight: 700!important;
    text-align: center!important;
}

.marker-cluster-large-ftl {
    color: white;
    border-radius: 50%!important;
    margin-left: -27px !important;
    margin-top: -27px !important;
    padding: 7px !important;
    width: 60px !important;
    height: 60px !important;
    background-color: #000!important;
    background-image: none;
}

.marker-cluster-large-ftl div {
    border-radius: inherit;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin: 0px!important;
    width: 50px !important;
    height: 40px !important;
    background-color: transparent !important;
    padding: 13px 3px 10px 0px!important;
    font-size: 18px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: white;
    font-weight: 700!important;
    text-align: center!important;
}

    .BtnFiltersLieux #filters-nav {
        position: absolute;
        z-index: 10000;
        top: 15px;
        right: 40px;
        max-width: 25%;
        font-size: 18px;
        
    }
    @media (max-width: 768px){
        .BtnFiltersLieux #filters-nav {
        position: absolute;
        z-index: 10000;
        top: 15px;
        right: 5px;
        /*max-width: 25%;*/
        font-size: 12px;
        font-weight: bold;
        
        }
        .BtnFiltersLieux button {
    width: -webkit-fill-available;
    }
}



    .BtnFiltersLieux button{
        background-color: #fade37 !important;
        color : #000 !important;
         width: 100%;
        border: 1px solid !important;
    }

    .BtnFiltersLieux button:hover{
        background-color: #000 !important;
        color : white !important;
        width: 100%;
        border: 1px solid !important;
    }

    #colActif{
        background-color: #000;
    }
    #colSoutien{
        background-color: #fade37;
    }

    .popup-tags{
        color: #b9a322 !important;   
    }

    .label-menu {
        padding-left: 5px;
    }

    .filter-btn-hide-map{
        display:none;
    }