/* coFinancement costum colors */
/* main color = #f2e732 */
/* secondary color = #2c3e50 */

#social-header{
    display:none;
}

.social-main-container, #central-container{
    min-height:unset;
}

.campaign-detail .campaign-progress {
    display: inline-block;
    width: 100%;
}

.campaign-detail .progress {
    margin: 0.5em 0;
    border: solid 2px #2c3e50;
}

.campaign-detail .donation-bar,
.campaign-detail .donation-label {
    background-color: #ffc600;
    color: #333333;
}

/* Counters a minimum width for low/empty progress bar defined in Bootstrap. */
.campaign-detail .progress-bar[aria-valuenow="0"],
.campaign-detail .progress-bar[aria-valuenow="1"],
.campaign-detail .progress-bar[aria-valuenow="2"] {
    min-width: 0
}
