#ajax-modal .form-actions .btn-default:hover, #ajax-modal .form-actions .btn-default:active, #ajax-modal .form-actions .btn-default:focus, .first-register .btn-default:hover, .first-register .btn-default:active, .first-register .btn-default:focus, #modalLogin .loginBtn:active, .btn-success:active, #modalLogin .loginBtn:hover, .btn-success:hover, #modalLogin .loginBtn:focus, .btn-success:focus, #modalRegister .createBtn:hover, #modalRegister .btn-danger:hover, #modalRegister .createBtn:focus, #modalRegister .btn-danger:focus, .btn-danger:focus, #modalRegister .createBtn:active, #modalRegister .btn-danger:active, .btn-danger:active {
    background: linear-gradient(to bottom, var(--main2) 0%,var(--main2) 100%);
    border-bottom: 4px solid #b30e52;
    color: var(--main1)!important;
    text-shadow: unset;
}

.btn-link-content .btn-link {
    background: linear-gradient(to bottom, var(--main2) 0%,var(--main2) 100%);
    border-bottom: 4px solid #b30e52;
    color: var(--main1) !important;
}

slide-element ul.tag-list .btn-tag {
    color: var(--main1)!important;
}