.show-bottom-add {
    margin-left: 5px!important;
    margin-bottom: 100px!important;
}

#menuBottom a#show-bottom-add  {
    min-width: 125px;
    padding: 5px 10px!important;
    border: none;
    font-size:20px;
    background-color:#00aca9!important;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    
    box-shadow: 2px 2px 2px #085556;
}


#menuBottom a#show-bottom-add:hover  {
    /*border: 1px solid #4623C9;*/
    background-color:grey!important;
    color: #fff;
    /*box-shadow: 0px 6px 0px #ca275a;*/
}

.toolbar-bottom-fullwidth { 
    left: 30px !important;
    display:none;
    bottom:25px;
    }     

#menuBottom{
right: unset;
}

/*#show-bottom-add .tooltips-menu-btn{
    display: none!important;
}*/

.menu-xs-container #show-bottom-add{
    width:unset;

}


.menu-xs-container #show-bottom-add .toolbar-bottom-fullwidth{
    bottom:unset;
    left:75px !important;
}

.menu-xs-cplx{
        padding-left: 5px;
}

#ajax-modal{
    z-index: 100000 !important;
}
